/**
 * Frontend styles for the Spacer Block.
 *
 * Enqueued in the editor & frontend.
 */
.ugb-spacer {
	height: 50px;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-size: cover;
	background-position: center;
}
