/**
 * Frontend styles for the Spacer Block.
 *
 * Enqueued in the editor & frontend.
 */
.ugb-spacer.ugb-spacer--v2 {
	height: 50px;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-size: cover;
	background-position: center;
	padding: 0 !important;
	.ugb-inner-block,
	.ugb-block-content,
	.ugb-spacer--inner {
		height: 100%;
	}
	.ugb-top-separator,
	.ugb-bottom-separator {
		z-index: 6; // This value comes from modules/block-separators/index.js
	}
	&.ugb--has-top-separator,
	&.ugb--has-bottom-separator {
		padding: 0 !important;
	}
}
