.stk-label-unit-toggle {
	margin-left: 6px;
	align-items: center;
	width: 24px;
	height: 24px;
	position: relative;
	z-index: 3;
	overflow: hidden;
	&[aria-expanded="true"] {
		z-index: 4;
		overflow: visible;
		.stk-label-unit-toggle__wrapper {
			background: #fff;
			outline: 1px solid #222;
		}
	}
	&[aria-expanded="false"]:hover {
		outline: 1px solid #222;
	}
	button {
		height: 14px;
		width: 14px;
		padding: 5px !important; // Force override for Gutenberg 7.7.
		min-width: 11px !important; // Force override for Gutenberg 7.7.
		box-sizing: content-box;
		border-radius: 0 !important;
		margin: 0;
		justify-content: center;
		font-size: 10px; // For text only toggles
		font-weight: 400; // For text only toggles
		svg {
			height: 100%;
			width: 100%;
		}
		&:hover,
		&.is-active {
			box-shadow: none !important;
		}
	}

	&:not(:hover) {
		border-radius: 3px;
	}

	// Use a different color for the toggle when there's a value assigned to the hover or responsive states.
	&.stk--toggle-highlighted[aria-expanded="false"] {
		button {
			background: #ef9856 !important;
		}
		svg {
			fill: #fff;
		}
	}
	// When the icon toggle is open, if there's a value on the active icon, make the background orange.
	&[aria-expanded="true"] .stk--has-value.is-active:not([data-value="desktop"], [data-value="normal"]) {
		background: #ef9856 !important;
	}
	// When the icon toggle is open, if there's a value on an inactive icon, make the icon orange.
	&[aria-expanded="true"] .stk--has-value:not(.is-active):not([data-value="desktop"], [data-value="normal"]) svg {
		fill: #ef9856;
	}
}
.stk-label-unit-toggle__wrapper {
	position: absolute;
	outline: 1px solid transparent;
}
.stk-label-unit-toggle__popup.is-from-right {
	.components-popover__content {
		margin-right: 10px;
	}
}

.stk-label-unit-toggle__colored {
	button.is-active:not([data-index="0"]) {
		background: #007cba;
		background: var(--wp-admin-theme-color, #007cba);
		color: #fff;
		border-color: #007cba !important;
		border-color: var(--wp-admin-theme-color, #007cba) !important;
	}
}
