.ugb-admin-setting {
	margin-bottom: 16px;
}
.ugb-admin-setting__label-wrapper {
	display: flex;
	align-items: center;
}
.ugb-admin-setting__label {
	width: 200px;
	display: inline-block;
	font-weight: 700;
	color: #666;
	padding-right: 15px;
	box-sizing: border-box;
}
.ugb-admin-setting--small {
	.ugb-admin-setting__label {
		width: 130px;
	}
}
.ugb-admin-setting__field {
	flex: 1;
}
body .ugb-admin-setting .ugb-admin-setting__label-wrapper + .ugb-admin-setting__help {
	margin-left: 200px;
	margin-bottom: 24px !important;
	margin-top: 8px !important;
}
