/**
 * COMMENTED THIS OUT FOR NOW, THIS ONE DISPLAYS COLUMN VALUES OF ALL DECENDANTS
 * AND ITS PARENTS. THE NEXT ONE DISPLAYS ONLY FOR THE SELECTED BLOCK AND ITS
 * PARENTS.
 * TODO: TEST FIRST WHICH ONE IS BETTER.
 */

// // Show column widths when hovering.
// .stk-row:hover .block-editor-block-list__layout:first-of-type > .wp-block {
// 	.stk-column-resizeable:first-of-type {
// 		> .stk-resizable-column__size-tooltip,
// 		> .stk-resizable-column__popup {
// 			display: block !important;
// 		}
// 	}
// }
// // Show column widths when columns and their contents are selected.
// [data-type^="stackable/"].has-child-selected > .stk-row .block-editor-block-list__layout:first-of-type > .wp-block {
// 	.stk-column-resizeable:first-of-type {
// 		> .stk-resizable-column__size-tooltip,
// 		> .stk-resizable-column__popup {
// 			display: block !important;
// 		}
// 	}
// }

// Show column widths when hovering.
.stk-row:hover > * > * > .block-editor-block-list__layout > .wp-block {
	> * > .stk-column-resizeable {
		> .stk-resizable-column__size-tooltip,
		> .stk-resizable-column__popup {
			display: block;
		}
	}
}
// Show column widths when columns and their contents are selected.
[data-type^="stackable/"].has-child-selected > .stk-row > * > * > .block-editor-block-list__layout > .wp-block {
	> * > .stk-column-resizeable {
		> .stk-resizable-column__size-tooltip,
		> .stk-resizable-column__popup {
			display: block;
		}
	}
}
.stk-resizable-column__size-tooltip {
	display: none;
	&::before {
		content: var(--width);
	}
	// Drop down icon.
	&::after {
		content: "\f347";
		font-family: Dashicons;
		top: 2px;
		position: relative;
		margin-left: 4px;
		font-size: 11px;
	}

	background: rgba(0, 0, 0, 0.75);
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 12px;
	color: #fff;
	padding: 4px 8px;
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	z-index: 9;
	cursor: pointer;
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 1;
	}
	&:focus {
		border-color: #007cba;
		border-color: var(--wp-admin-theme-color);
		box-shadow: 0 0 0 1px #007cba;
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
		outline: 2px solid transparent;
	}
}

.stk-resizable-column__popup .components-popover__content {
	padding: 8px 16px;
	min-width: auto;
	width: 130px;
	font-size: 12px;
}
