.ugb-design-library-block {
	.components-placeholder__label {
		svg {
			margin-right: 8px;
		}
	}

	button.components-button {
		font-size: 15px;
		height: auto;
		padding: 6px 18px;
	}
}

.ugb-insert-library-button {
	svg {
		width: 20px;
		height: 20px;
	}
}

.ugb-insert-library-button {
	margin-left: 10px;
	margin-right: 10px;
}
