.ugb-design-library-block {
	.components-placeholder__label {
		svg {
			margin-right: 8px;
		}
	}

	button.components-button {
		height: auto;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 13px;
		padding: 11px 20px;
		background: #fff;
	}
}

.ugb-insert-library-button {
	svg {
		width: 20px;
		height: 20px;
	}
}

.ugb-insert-library-button {
	margin-left: 10px;
	margin-right: 10px;
}
