.ugb-block-styles-controls {
	padding: 8px 16px;
	&.components-panel__body {
		border-top: none;
		margin-bottom: 1px;
	}

	.ugb-block-styles-controls__label {
		display: inline-flex;
		align-items: center;
		height: 24px;
		gap: 6px;
	}

	.components-base-control__field {
		display: grid;
		grid-template-columns: 1fr auto;
		row-gap: 4px;
		position: relative;

		> .components-base-control__label {
			margin-bottom: 0;
			align-self: center;
		}

		> .ugb-block-styles__actions {
			display: flex;
			align-items: center;
			gap: 4px;
			:where(.ugb-button-component:has(.dashicons-update-alt)) {
				background: #fff;
				gap: 0;
				padding: 2px 8px 2px 2px;
			}
		}

		> .components-base-control:has(.ugb-block-styles__select-control) {
			grid-column: 1/3;
			margin-bottom: 0;
			.components-base-control__field {
				margin-bottom: 0;
			}
		}

		> .ugb-block-styles__select-control {
			&.has-modified {
				padding-right: 28px;
			}
			> .ugb-button-component {
				background: #fff;
				width: 100%;
				border: 1px solid #00000070;
				padding: 0px 8px;
				height: 32px;
				border-radius: 2px;

				&:focus:not(:disabled) {
					box-shadow: 0 0 0 1px var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
				}

				> .ugb-block-styles__dropdown-icon {
					margin-right: 0;
					margin-left: auto;
					display: inline-flex;
					gap: 4px;
				}
			}
		}

		> .stk-control__reset-button {
			right: unset;
			top: unset;
			bottom: 4px;
			color: var(--stk-skin-error);
		}
	}

	.ugb-button-component.has-icon:hover {
		box-shadow: inset 0 0 0 1px var(--stk-skin-dark);
		background-color: var(--stk-skin-bg-secondary);
		color: var(--stk-skin-dark);
	}
}

.ugb-block-styles__new-style-modal {
	max-width: 550px;
	width: 90vw;
}
.ugb-block-styles__new-style-description {
	color: #1e1e1e;
	margin-top: 0;
}
.ugb-block-styles__new-style-form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.ugb-block-styles__attributes-list {
		p {
			margin: 0 0 4px;
		}
		ul {
			margin: 0;
			list-style: disc;
			padding-inline-start: 20px;
		}
		li {
			margin: 0;
		}
	}

	.components-button {
		margin-right: 0;
		margin-left: auto;
	}
}

.ugb-block-styles__update-style-form {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}
