.ugb-url-input-control {
	display: block !important;
	margin-top: 8px !important;
	border: 1px solid #eee;
	background: #fff;
	width: 100%;
	max-width: 400px;
}
.ugb-url-input-control__wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}
.ugb-url-input-control__icon {
	padding: 8px;
	box-sizing: content-box;
	flex-shrink: 0;
}
.editor-url-input {
	flex: 1;
	margin: 0;
	input {
		width: 100% !important;
		min-width: 100px;
	}
}
.ugb-url-input-control__more-button {
	padding: 9px;
	flex-shrink: 0;
}
.ugb-url-input-control__new-tab {
	border-top: 1px solid #eee;
	padding: 8px 8px 0;
	.components-base-control__field {
		margin-bottom: 0;
	}
}
