.stk-block {
	.stk-top-separator {
		transform: scaleY(-1);
	}

	.stk-bottom-separator {
		.stk-separator__wrapper {
			top: auto;
			bottom: 0;
		}

		.stk-separator__layer-1 {
			transform: none;
		}
	}

	.stk-top-separator,
	.stk-bottom-separator {
		&,
		.stk-separator__wrapper {
			position: absolute !important;
			margin: 0;
		}

		pointer-events: none;
		inset: -1px;
		overflow: hidden;

		.stk-separator__wrapper {
			height: 200px;
			inset: auto 0 0 0;
		}

		.stk-separator__layer-1 {
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 4;
		}
		svg {
			left: 0;
			right: 0;
		}
	}
}
