@import "common";

.stk-block {
	&:is(.stk-has-top-separator, .stk-has-bottom-separator) {
		> *:not(.stk-video-background) { // Don't change the order of any video backgrounds, they stay at the back.
			z-index: 2;
		}

		.stk-separator ~ *:not(.stk-separator, .stk-video-background) {
			z-index: 3;
			position: relative;
		}
	}
	&.stk-has-bottom-separator:not(.stk-has-top-separator) {
		> *:not(.stk-separator, .stk-video-background) {
			z-index: 3;
			position: relative;
		}
	}

	.stk-separator__top {
		transform: scaleY(-1);
	}

	.stk-separator__bottom {
		.stk-separator__wrapper {
			top: auto;
			bottom: 0;
		}

		.stk-separator__layer-1 {
			transform: none;
		}
	}

	.stk-separator__wrapper {
		height: 200px;
		inset: auto 0 0 0;
	}

	.stk-separator__layer-1 {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 4;
	}

	.stk-separator,
	.stk-separator__wrapper {
		position: absolute !important;
		margin: 0;
		max-width: none !important;
	}

	.stk-separator {
		pointer-events: none;
		inset: -1px 0; // -1px on the sides might make horizontal scrollbars appear.
		overflow: hidden;
		svg {
			filter: drop-shadow(0px 2px 20px rgba(153, 153, 153, 0.2));
			left: 0;
			right: 0;
		}
	}
}

// More specificity for the paddings to apply in blocks.
.entry-content .stk-block {
	&.stk-has-top-separator {
		padding-top: 200px;
	}

	&.stk-has-bottom-separator {
		padding-bottom: 200px;
	}
}

@include mobile {
	.entry-content .stk-block {
		&.stk-has-top-separator {
			padding-top: 23vw;
		}

		&.stk-has-bottom-separator {
			padding-bottom: 23vw;
		}
		.stk-separator__wrapper {
			height: 23vw;
		}
	}
}
