/**
 * Editor styles for the Separator Block.
 *
 * Enqueued in the editor only.
 */

// Full-width blocks are z-index 20, make sure we are above.
[data-type="ugb/separator"] {
	z-index: 30 !important;
}
// Make adjacent blocks higher when selected to show the outlines.
[data-type="ugb/separator"] ~ .block-editor-block-list__block.is-selected {
	z-index: 31;
}
[data-type="ugb/separator"][data-align="full"] {
	.ugb-separator {
		.ugb-separator__svg-inner {
			overflow: hidden;
		}
		.ugb-separator__svg-wrapper {
			overflow: visible;
		}
	}
}
