/**
 * Frontend styles for the Separator Block.
 *
 * Enqueued in the editor & frontend.
 */
@import "common";

.ugb-separator .ugb-block-content .ugb-separator__svg-wrapper {
	height: 200px;
}
@media (max-width: 1024px) {
	.ugb-separator .ugb-block-content .ugb-separator__svg-wrapper {
		height: 175px;
	}
}
@media (max-width: 767px) {
	.ugb-separator .ugb-block-content .ugb-separator__svg-wrapper {
		height: 75px;
	}
}
.ugb-separator {
	box-sizing: content-box;
	position: relative;

	// Make sure we are 1 level above all the other blocks.
	&.ugb-separator.ugb-separator.ugb-separator {
		z-index: 2;
	}

	&.ugb-separator--flip-vertical {
		transform: scaleY(-1);
	}
	&.ugb-separator--flip-horizontal {
		transform: scaleX(-1);
	}
	&.ugb-separator--flip-vertical.ugb-separator--flip-horizontal {
		transform: scaleY(-1) scaleX(-1);
	}
	.ugb-separator__svg-wrapper {
		position: relative;
		display: flex;
		align-items: flex-end;
		overflow-x: hidden;
		overflow-y: visible;
		box-sizing: content-box;
	}
	&.alignfull {
		overflow: visible;
		.ugb-separator__svg-wrapper {
			overflow: visible;
		}
	}
	.ugb-separator__svg-inner {
		position: relative;
		height: 100%;
		width: 100%;
	}
	svg {
		height: 100%;
		width: 100%;
		display: block;
		fill: #abb8c3;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		transform-origin: bottom;
	}
	svg.ugb-separator--no-shadow *:not(:last-child) {
		display: none;
	}
	.ugb-separator__top-pad,
	.ugb-separator__bottom-pad {
		height: 0;
		width: 100%;
	}
	.ugb-separator__top-pad {
		margin-bottom: -1px; // Prevent white lines.
	}
	.ugb-separator__bottom-pad {
		margin-top: -1px; // Prevent white lines.
		background: #abb8c3;
	}


}
