.stk-resizer-tooltip {
	background: rgba(0, 0, 0, 0.75);
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 12px;
	color: #fff;
	padding: 4px 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	white-space: nowrap;
	z-index: 9;
	cursor: pointer;
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out;
	user-select: none;
	&:hover {
		opacity: 1;
	}
	&:focus {
		border-color: #007cba;
		border-color: var(--wp-admin-theme-color);
		box-shadow: 0 0 0 1px #007cba;
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
		outline: 2px solid transparent;
	}

	// Save for next time on when we decide to allow people to click and type in margins.
	cursor: pointer;
	z-index: 3;
	svg {
		top: 2px;
		position: relative;
		margin-left: 4px;
		font-size: 11px;
	}

	// Create an outline since the tooltip is small so that it's easier to click.
	&::before {
		content: "";
		position: absolute;
		top: -8px;
		right: -8px;
		bottom: -8px;
		left: -8px;
		z-index: -1;
	}
}

.stk-resizer-popup {
	.components-popover__content {
		padding: 16px;
		min-width: auto;
		width: 200px;
		font-size: 12px;
		.stk-resizer-popup__control-wrapper {
			display: flex;
			column-gap: 8px;
			margin-top: 8px;
		}
		.stk-resizer-popup__x {
			align-self: flex-end;
			padding: 0 8px;
			line-height: 34px;
		}
		.stk-resizer-popup__reset {
			align-self: flex-end;
			margin-bottom: 10px;
		}
	}
	.components-base-control,
	.components-base-control__field {
		margin-bottom: 0 !important;
	}
	// Wide when we can edit both width and height
	&.stk--is-wide {
		.components-popover__content {
			width: 310px;
		}
	}
}
