.ugb-icon-control {
	.ugb-icon-control__icon-button {
		height: auto;
		padding: 8px;
		margin-right: auto;
		svg {
			width: 30px;
			height: 30px;
		}
	}
	.ugb-icon-control__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
