/**
 * Editor styles for the Notification Block.
 *
 * Enqueued in the editor only.
 */

[data-type="ugb/notification"] {

	// Always show.
	.ugb-notification.ugb-notification--dismissible {
		display: flex !important;
	}
	.ugb-notification__item > *:last-child {
		&,
		[role="textbox"] {
			margin-bottom: 0;
		}
	}

	.ugb-svg-icon-placeholder__button {
		display: block;
		width: 100%;
	}
}
