/**
 * Frontend styles for the Ghost Button Block.
 *
 * Enqueued in the editor & frontend.
 */

.ugb-button.ugb-button--design-ghost,
.ugb-button.ugb-ghost-button { // Old style.
	background-color: transparent;
	border: 2px solid var(--s-primary-color, #2091e1);
	.ugb-button--inner,
	.ugb-button-inner { // Old style.
		color: var(--s-primary-color, #2091e1);
	}
	&:hover {
		opacity: 0.85;
		box-shadow: none !important;
		.ugb-button--inner,
		.ugb-button-inner { // Old style.
			color: var(--s-primary-color, #2091e1);
		}
	}
}
