.editor-styles-wrapper .wp-block:has(> .stk--block-margin-top-auto) {
	margin-top: auto !important;
	margin-bottom: 0; // This makes sure the margin auto would work.
}
.editor-styles-wrapper .wp-block:has(> .stk--block-margin-right-auto) {
	margin-right: auto !important;
	margin-left: 0; // This makes sure the margin auto would work.
	width: fit-content; // Make sure that the block would stick to the side.
}
.editor-styles-wrapper .wp-block:has(> .stk--block-margin-bottom-auto) {
	margin-bottom: auto !important;
	margin-top: 0; // This makes sure the margin auto would work.
}
.editor-styles-wrapper .wp-block:has(> .stk--block-margin-left-auto) {
	margin-left: auto !important;
	margin-right: 0; // This makes sure the margin auto would work.
	width: fit-content; // Make sure that the block would stick to the side.
}
