// Background overlay. Any block / item that has a background/gradient/overlay should have this class.
.stk--has-background-overlay {
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	> * {
		position: relative;
		z-index: 3;
	}
}

.stk-video-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
}
