/**
 * Frontend styles for the Icon Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-icon {
	.ugb-inner-block {
		width: auto;
	}
	.ugb-block-content {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
	}
	.ugb-icon__item {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// Default icon dimensions.
	&.ugb-main-block .ugb-icon-inner-svg svg {
		height: 50px;
		width: 50px;
	}
	.ugb-icon__icon {
		display: inline-block;
	}
	.ugb-icon__title {
		width: 100%;
		margin: 0 !important;
	}
	.ugb-icon__icon:first-child,
	.ugb-icon__title:first-child {
		margin-bottom: $text-margin-bottom;
	}
}
