node_modules
.sass-cache
build
.DS_Store
dist/**
!dist/*.json
**/*__premium_only*
coverage
wp-auth.json
.env

.env
wp-auth.json
**/playwright/.auth
test-results/**/trace.zip

composer.phar
composer.lock
/vendor
/wordpress
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
