@import "common";

// Lots of alignfulls to force our margins!
.ugb-main-block.ugb--has-block-background.alignfull.alignfull.alignfull.alignfull {
	margin-top: 0;
	margin-bottom: 0;

	padding-top: 70px;
	padding-bottom: 70px;

	&.ugb-main-block--inner-center {
		@media screen and (min-width: $break-large) {
			.ugb-inner-block {
				max-width: var(--content-width);
			}
		}
	}
	&.ugb-main-block--inner-wide {
		@media screen and (min-width: $break-wide) {
			.ugb-inner-block {
				width: 75vw;
				min-width: 1200px;
			}
		}
	}
	&.ugb-main-block--inner-full {
		.ugb-inner-block {
			width: 100%;
		}
	}
}

.ugb-main-block.ugb--has-block-background {
	background-size: cover;
	background-position: center;
}
