@import "common";

.ugb-main-block.alignfull.ugb--has-block-background {
	margin-top: 0;

	// Instead of doing margin-bottom 0, pull the next full-width with a background up.
	// margin-bottom: 0;
	margin-bottom: 35px;
	+ .ugb-main-block.ugb--has-block-background {
		margin-top: -35px;
	}

	padding-top: 35px;
	padding-bottom: 35px;

	&.ugb-main-block--inner-center {
		@media screen and (min-width: $break-large) {
			.ugb-inner-block {
				max-width: var(--content-width);
			}
		}
	}
	&.ugb-main-block--inner-wide {
		@media screen and (min-width: $break-wide) {
			.ugb-inner-block {
				width: 75vw;
				min-width: 1200px;
			}
		}
	}
	&.ugb-main-block--inner-full {
		.ugb-inner-block {
			width: 100%;
		}
	}
}
