.stk-toggle-control .stk-inspector-control__reset-button {
	bottom: -4px !important;
}

.stk-toggle-control .components-base-control__field {
	display: flex;
	align-items: center;
	.components-form-toggle {
		margin-inline-end: 12px;
	}
}

// A little more gap when the prior control is not a toggle.
.stk-control:not(.stk-toggle-control) + .stk-toggle-control {
	margin-top: 20px;
}
