.ugb-main-block {
	position: relative;
	> * {
		z-index: 2;
	}
	.ugb-inner-block {
		z-index: 5;
	}
	// Add some default paddings if we have a separator.
	&.ugb--has-top-separator {
		padding-top: 200px !important;
	}
	&.ugb--has-bottom-separator {
		padding-bottom: 200px !important;
	}
}
.ugb-top-separator,
.ugb-bottom-separator {
	pointer-events: none;
	position: absolute !important;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	overflow: hidden;
	.ugb-separator-wrapper {
		position: absolute;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		height: 200px;
	}
	.ugb-separator__layer-1,
	.ugb-separator__shadow {
		position: absolute;
		fill: #fff;
		height: 100%;
		width: 100%;
		z-index: 4;
	}
	svg {
		left: 0;
		right: 0;
	}
	.ugb-separator__shadow {
		z-index: 3;
	}
}
.ugb-top-separator {
	transform: scaleY(-1);
}
.ugb-bottom-separator {
	.ugb-separator-wrapper {
		top: auto;
		bottom: 0;
	}
	.ugb-separator__layer-1,
	.ugb-separator__shadow {
		transform: none;
	}
}

@media screen and (max-width: 768px) {
	.ugb-top-separator,
	.ugb-bottom-separator {
		.ugb-separator-wrapper {
			height: 23vw;
		}
	}
	.ugb-main-block {
		// Add some default paddings if we have a separator.
		&.ugb--has-top-separator {
			padding-top: 23vw !important;
		}
		&.ugb--has-bottom-separator {
			padding-bottom: 23vw !important;
		}
	}
}
