// Use Blocksy theme colors as fallback defaults for container color schemes.
// These defaults apply when the default container color scheme is unset, but background or custom schemes exist.
:where(.stk--is-blocksy-theme.stk--has-default-container-scheme) {
	--stk-default-link-color: var(--theme-link-initial-color);
	--stk-default-heading-color: var(--theme-heading-color, var(--theme-headings-color));

	:where(.stk-block-heading) {
		@for $i from 1 through 6 {
			:where(h#{ $i }) {
				--stk-heading-color: var(--theme-heading-color, var(--theme-heading-#{ $i }-color, var(--theme-headings-color)));
			}
		}
	}
}
