.stk-block-horizontal-scroller:not(.editor) > .stk-block-content {
	--stk-column-gap: 0px; // For nested columns, this takes precedence.
	display: grid;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	scroll-snap-type: inline mandatory;
	grid-auto-flow: column;
	grid-auto-columns: var(--stk-column-width, 300px);
	gap: var(--stk-column-gap);
	height: var(--stk-column-height);
	> * {
		scroll-snap-align: var(--stk-snapping, center);
	}
}
