// Background overlay. Any block / item that has a background/gradient/overlay should have this class.
.ugb--has-background-overlay {
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	&.ugb--has-background-overlay::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	> * {
		position: relative;
		z-index: 3;
	}
}
