.stk-block-image-box {
	// Don't make the column clickable, just so we can easily click the image behind it.
	[data-type="stackable/column"] {
		pointer-events: none;
		[data-block] {
			pointer-events: all;
		}
	}

	// Don't show the image resizer since we can't click on it.
	.stk-resizer-tooltip {
		display: none !important;
	}

	> div > div > .block-editor-block-list__layout {
		display: grid !important;
		> [data-block] {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&:not(.is-style-plain) {
		.stk-block-column {
			[data-block]:nth-child(1),
			[data-block]:last-child,
			[data-block]:nth-last-child(2) {
				opacity: 0;
			}
			[data-block] {
				bottom: 0;
			}
			[data-block]:last-child {
				bottom: -32px;
			}
			[data-block]:nth-last-child(2) {
				bottom: 32px;
			}
		}

		&:hover {
			.stk-block-column {
				[data-block]:nth-child(1) {
					opacity: 1;
				}
				[data-block]:nth-last-child(2) {
					opacity: 1;
					bottom: 0;
				}
				[data-block]:last-child {
					opacity: 1;
					bottom: 0;
				}
			}
		}
	}


	&:is(.is-style-plain) {
		.stk-block-column {
			[data-block]:last-child,
			[data-block]:nth-last-child(2) {
				opacity: 0;
			}
			[data-block] {
				bottom: 0;
			}
			[data-block]:last-child {
				bottom: 56px;
			}
			[data-block]:not(:nth-last-child(2)):not(:last-child) {
				bottom: -32px;
			}
		}
		&:hover {
			.stk-block-column {
				[data-block]:not(:nth-last-child(2)):not(:last-child) {
					bottom: 0;
				}
				[data-block]:nth-last-child(2) {
					opacity: 1;
				}
				[data-block]:last-child {
					opacity: 1;
					bottom: 0;
				}
			}
		}
	}
}
