/**
 * Editor styles for the Image Box Block.
 *
 * Enqueued in the editor only.
 */

@import "common";

// Make sure that the text can be edited.
.ugb-image-box__overlay {
	pointer-events: none !important;
	z-index: 2;
}
.ugb-image-box__content {
	pointer-events: all !important;
}

// Visible placeholders do not work since they grab focus.
.ugb-image-box__item {
	[data-is-placeholder-visible="true"] + * {
		pointer-events: none !important;
	}
}

.ugb-image-box.ugb-image-box--columns-1 {
	> *:nth-child(2),
	> *:nth-child(3),
	> *:nth-child(4) {
		display: none;
	}
}
.ugb-image-box.ugb-image-box--columns-2 {
	> *:nth-child(3),
	> *:nth-child(4) {
		display: none;
	}
}
.ugb-image-box.ugb-image-box--columns-3 {
	> *:nth-child(4) {
		display: none;
	}
}

// No border-radius for full width 1 column.
[data-type="ugb/image-box"][data-align="full"] {
	.ugb-image-box.ugb-image-box--columns-1 {
		.ugb-image-box__item {
			border-radius: 0 !important;
		}
	}
	.ugb-image-box:not(.ugb-image-box--columns-1) {
		padding-left: $box-hori-padding;
		padding-right: $box-hori-padding;
	}
}

// Center single images.
[data-type="ugb/image-box"]:not([data-align="wide"]):not([data-align="full"]) {
	.ugb-image-box.ugb-image-box--columns-1 {
		.ugb-image-box__item {
			margin: 0 auto;
		}
	}
}

.ugb-image-box__item {

	// Make the image placeholder take the whole space.
	.ugb-image-upload-placeholder.ugb-image-upload-has-placeholder {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	// Make sure that the placeholder is clickable and doesn't hide the hover effect.
	.ugb-image-upload-placeholder.ugb-image-upload-has-image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		background-size: cover;
		background-position: center;
		opacity: 1 !important;
	}
}

// Hover effects
.ugb-image-box--effect-zoom-in .ugb-image-box__item:hover {
	.ugb-image-upload-placeholder.ugb-image-upload-has-image {
		transform: scale(1.1);
	}
}
.ugb-image-box--effect-zoom-out .ugb-image-box__item {
	.ugb-image-upload-placeholder.ugb-image-upload-has-image {
		transform: scale(1.1);
	}
	&:hover {
		.ugb-image-upload-placeholder.ugb-image-upload-has-image {
			transform: scale(1);
		}
	}
}

[data-type="ugb/image-box"] {
	// Fade out placeholder text.
	[data-is-placeholder-visible="true"] + .editor-rich-text__editable {
		opacity: 0.5;
	}

	// Fade out description text when not hovered.
	.ugb-image-box__item:not(:hover) [data-is-placeholder-visible="true"] + .ugb-image-box__description.editor-rich-text__editable {
		opacity: 0;
	}
	.ugb-image-box__item:hover [data-is-placeholder-visible="true"] + .ugb-image-box__description.editor-rich-text__editable {
		opacity: 0.5;
	}

	// Only show placeholder text while selected or typing.
	&:not(.is-selected):not(.is-typing) {
		[data-is-placeholder-visible="true"] + .editor-rich-text__editable {
			display: none;
		}
		.ugb-button[data-is-placeholder-visible="true"] {
			display: none;
		}
	}
}
