/**
 * Frontend styles for the Image Box Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-image-box.ugb-image-box--v4 {
	text-align: center;
	.ugb-block-content {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
	}
	.ugb-image-box__item {
		position: relative;
		height: 350px;
		overflow: hidden;
		@include box();
		padding: $box-hori-padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.ugb-image-box__image,
	.ugb-image-box__image-wrapper,
	.ugb-image-box__overlay,
	.ugb-image-box__overlay-hover,
	.ugb-image-box__overlay-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.ugb-image-box__image-wrapper {
		height: auto;
		z-index: 1;
		// Safari fix for flashing overlay outside border-radius.
		-webkit-mask-image: -webkit-radial-gradient(#fff, #000);
		// Edge fix for flashing overlay outside border-radius.
		transform: translateZ(0px);
	}
	.ugb-image-box__image {
		height: 100%;
		background-size: cover;
		background-position: center;
		will-change: filter, transform;
	}
	.ugb-image-box__overlay,
	.ugb-image-box__overlay-hover {
		pointer-events: none;
		z-index: 2;
		background-color: #000;
		opacity: 0.7;
	}
	.ugb-image-box__overlay-hover {
		z-index: 3;
	}
	.ugb-image-box__overlay-link {
		z-index: 5;
	}
	.ugb-image-box__item:hover {
		.ugb-image-box__overlay {
			opacity: 0 !important;
		}
	}
	.ugb-image-box__item:not(:hover) {
		.ugb-image-box__overlay-hover {
			opacity: 0 !important;
		}
	}
	.ugb-image-box__content {
		z-index: 4;
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
	.ugb-image-box__subtitle,
	.ugb-image-box__title,
	.ugb-image-box__line,
	.ugb-image-box__description {
		color: #fff;
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-image-box__subtitle {
		font-size: 0.8em;
		margin-bottom: #{ $text-margin-bottom / 3 };
	}
	.ugb-image-box__box {
		border-radius: 12px;
	}
	.ugb-image-box__arrow {
		pointer-events: none;
		z-index: 4;
		position: absolute;
		bottom: $box-hori-padding;
		left: $box-hori-padding;
		right: $box-hori-padding;
		svg {
			display: inline-block;
			fill: #fff;
			width: 30px;
		}
	}

	.ugb-image-box__content,
	.ugb-image-box__header,
	.ugb-image-box__image,
	.ugb-image-box__image-wrapper,
	.ugb-image-box__overlay,
	.ugb-image-box__overlay-hover,
	.ugb-image-box__overlay-link,
	.ugb-image-box__subtitle,
	.ugb-image-box__title,
	.ugb-image-box__line,
	.ugb-image-box__description,
	.ugb-image-box__arrow {
		transition: all 0.4s ease-in-out;
	}
}

.ugb-image-box.ugb-image-box--v4 {
	&.ugb-image-box--effect-zoom-in .ugb-image-box__item:hover {
		.ugb-image-box__image {
			transform: scale(1.1);
		}
	}
	&.ugb-image-box--effect-zoom-out .ugb-image-box__item {
		.ugb-image-box__image {
			transform: scale(1.1);
		}
		&:hover {
			.ugb-image-box__image {
				transform: scale(1);
			}
		}
	}
}

.ugb-image-box.ugb-image-box--v4.ugb-image-box--design-basic {
	.ugb-image-box__description {
		margin-bottom: 0;
	}
	&.ugb-image-box--with-arrow {
		.ugb-image-box__item {
			padding-bottom: #{ $box-hori-padding * 2};
		}
	}

	.ugb-image-box__subtitle {
		opacity: 0;
	}
	.ugb-image-box__description {
		transform: translateY(-30px);
		opacity: 0;
	}
	.ugb-image-box__arrow {
		transform: translateY(30px);
		opacity: 0;
	}
	.ugb-image-box__item:hover {
		.ugb-image-box__subtitle,
		.ugb-image-box__description,
		.ugb-image-box__arrow {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

.ugb-image-box.ugb-image-box--v4.ugb-image-box--design-plain {
	text-align: left;
	.ugb-image-box__item {
		justify-content: flex-end;
	}
	.ugb-image-box__arrow {
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
	}

	.ugb-image-box__content {
		transform: translateY(30px);
		margin-bottom: 10px;
	}
	.ugb-image-box__description {
		transform: translateY(-30px);
		opacity: 0;
	}
	.ugb-image-box__arrow {
		transform: translateY(-60px);
		opacity: 0;
	}
	.ugb-image-box__item:hover {
		.ugb-image-box__content,
		.ugb-image-box__description,
		.ugb-image-box__arrow {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

.ugb-image-box.ugb-image-box--v4 {
	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		&.ugb-image-box--columns-4 {
			.ugb-block-content {
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
				grid-auto-flow: row;
			}
		}
	}
}
.ugb-image-box.ugb-image-box--v4 {
	@media screen and (max-width: $break-small) {
		.ugb-block-content {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-flow: row;
		}
	}
}
