.stk-block-image-box {
	.stk-block-column .stk-block-column__content {
		justify-content: center;
		// Because we now have columns as height 100%, we need this.
		> .stk-inner-blocks {
			justify-content: center;
		}
		// This is needed for the Container Content Vertical Align to work.
		height: 100%;
		height: -moz-available;
		height: -webkit-fill-available;
		height: fill-available;
	}
	.stk-inner-blocks {
		display: grid;
		> .stk-block {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}
	.stk-img-wrapper {
		height: 100%;
	}

	// Remove margins
	.stk-block-heading__text {
		margin-block: 0;
	}
	.stk-block-image {
		--stk-block-margin-bottom: 0;
	}
	.stk-block-column {
		margin: 0;
	}

	&.stk-block .stk-block.stk-block,
	&.stk-block .stk-img-wrapper > img.stk-img,
	&.stk-block .stk-img-wrapper::after,
	&.stk-block .stk-img-wrapper::before {
		transition-duration: var(--stk-transition-duration, 0.32s);
	}
}
.stk-block-image-box__content {
	max-width: none !important;
}
