// Add a slightly higher z-index so that the column resize handlers are visible
// and on top of the other overlapping column.
.editor-styles-wrapper [data-block][data-type="stackable/column"]:not(:first-child:last-child):hover {
	z-index: 2;
}

.editor-styles-wrapper .stk-column-wrapper > .block-editor-inner-blocks {
	width: 100%;
}

// Ensure that only directly hovered columns will show their resizer. Nested
// columns should not show their resizer if they are not directly hovered.
.components-resizable-box__container.has-show-handle {
	.components-resizable-box__container:not(.has-show-handle) {
		.components-resizable-box__handle {
			display: none !important;
		}
	}
}

// We need this to make position sticky to work inside columns.
.stk-block.stk-block-column > .stk-inner-blocks {
	height: auto;
}
.stk-block.stk-block-column > .stk-inner-blocks > .block-editor-inner-blocks,
.stk-block.stk-block-column > .stk-inner-blocks > .block-editor-inner-blocks > .block-editor-block-list__layout {
	height: 100%;
}
.stk-block.stk-block-column > .stk-inner-blocks > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: column;
}
