@import "common";

.stk-block.stk-block-column .stk-column-wrapper {
	width: 100%;
}
.stk-block-column__content {
	box-sizing: border-box;
}
.stk-column-wrapper > .stk-inner-blocks {
	margin-bottom: 0;
}

// We need this to make position sticky to work inside columns.
.stk-block.stk-block-column--v2:not(.stk-block-accordion__content) > * > .stk-inner-blocks {
	height: 100%;
}
