@import "common";

.stk-block.stk-block-column .stk-column-wrapper {
	width: 100%;
}
.stk-column-wrapper > .stk-inner-blocks {
	margin-bottom: 0;
}

.stk-block.stk-block-column .stk-inner-blocks {
	height: 100%;
}
