@import "common";

.stk-block.stk-block-column .stk-column-wrapper {
	width: auto;
}
.stk-block-column__content {
	box-sizing: border-box;
}
.stk-column-wrapper > .stk-inner-blocks {
	margin-bottom: 0;
}

// FIXME: Temporarily removed this since the frontend is having issues with the Accordion block when it's nested inside a container.
// // we need this to make position sticky to work inside columns.
// .stk-block.stk-block-column--v2 > * > .stk-inner-blocks {
// 	// This is needed for the Container Content Vertical Align to work.
// 	min-height: 100%;
// }
