.ugb-toggle-panel-form-toggle {
	margin-right: 12px;
}
.ugb-panel-advanced-button {
	text-transform: uppercase;
	font-size: 9px;
	background: transparent;
	width: 100%;
	display: block;
	border: 0;
	outline: none;
	position: relative;
	cursor: pointer;
	padding-bottom: 15px;
	&::after {
		content: "❯";
		position: absolute;
		transform: translateX(-50%) rotate(90deg);
		left: 50%;
		bottom: 0;
	}
	&:hover {
		color: #999;
	}
}
.ugb-toggle-panel-body--advanced {
	.ugb-panel-advanced-button {
		padding-bottom: 0;
		padding-top: 15px;
		&::after {
			top: 0;
			bottom: auto;
			transform: translate(-50%) rotate(-90deg);
		}
	}
}

// Smaller alternative look for the advanced panel - this is for when nesting
// the advanced panel inside the toggle panel.
.ugb-toggle-panel-body--alt {
	border-bottom: 0;
	.components-panel__body-toggle {
		padding: 12px 48px 12px 16px;
	}
	&.is-opened {
		border: 1px solid #ccc;
		margin-bottom: 18px;
	}
	&:not(.is-opened) .components-panel__body-toggle {
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}
}
