.stk-link-control__input {
	// Adjust width to ensure reset button is visible.
	width: calc(100% - 32px);
	min-width: 0;

	> .block-editor-url-input {
		min-width: 0;
		width: 100%;

		.components-base-control {
			min-width: 0;
			width: 100%;
		}

		.components-base-control__field {
			margin: 0;
		}
	}

	.block-editor-url-input__input {
		margin: 0 !important;
		width: 100% !important;
		height: 30px !important;
		padding: 6px 8px !important;
	}
}

.stk-link-control {
	.stk-dynamic-content-control {
		display: flex;
		align-items: center;
		.stk-dynamic-content-control__button {
			margin-left: 3px;
			align-self: start;
		}

		// Hide the reset button behind.
		z-index: 2;
		position: relative;
		.stk-dynamic-content-control__button:not(.is-pressed) {
			background: #fff;
		}

		.stk-link-control__input {
			margin-top: -1px;
		}

		.components-button.is-compact.has-icon:not(.has-text) {
			margin-top: 2px;
		}
	}
}
