.stk-link-control__input {
	width: 100%;

	> .block-editor-link-control {
		min-width: auto;
		width: 100%;
	}
	.block-editor-url-input__input {
		margin: 0 !important;
		width: 100% !important;
	}
	.block-editor-link-control__search-actions {
		top: 2px;
		right: 2px;
	}
	.components-spinner {
		top: 12px !important;
		right: 36px !important;
	}
	.block-editor-link-control__search-results-wrapper {
		margin-bottom: 24px !important;
		margin-top: 0 !important;
	}
	.block-editor-link-control__search-item.is-current {
		padding: 0 !important;
	}
}

// Adjust the location of the dynamic and reset buttons since our control is taller.
.stk-link-control {
	.stk-link-control__input + .stk-dynamic-content-control__button {
		margin-top: 6px;
	}
	&.stk--has-value .stk-link-control__input + .stk-dynamic-content-control__button {
		margin-top: 3px;
	}
	.stk-control__reset-button {
		top: 6px;
	}
	.stk--has-dynamic-content {
		.stk-control__reset-button {
			top: 3px;
		}
	}
}

.components-panel__body .block-editor-link-control {
	max-width: 190px;
}
