.ugb-panel--countdown .components-datetime__time-wrapper {
	.components-base-control {
		margin-bottom: 0px !important;
	}

	.components-datetime__timezone {
		display: none;
	}
}

.ugb-panel--countdown .components-datetime__date {
	:last-child {
		row-gap: 8px;
		column-gap: 4px;
		div:nth-of-type(7) {
			justify-self: auto;
		}
	}
}
