.ugb-panel-controls-separator {
	margin: 0;
	background: #f0f3f5;
	text-transform: uppercase;
	font-size: 8px;
	text-align: center;
	padding: 14px 0;
	background: #fafafa;
	border-top: 1px solid #f0f0f0;
	color: var(--wp-admin-theme-color-darker-10, #00669b);
}
