/**
 * Editor styles for the CTA Block.
 *
 * Enqueued in the editor only.
 */

// Contents go full-width when full-width.
[data-type][data-align="full"] .ugb-cta.ugb-main-block:not(.ugb--has-block-background),
// Contents go full-width when full-width with block background.
[data-type][data-align="full"] .ugb-cta.ugb-main-block.ugb-main-block--inner-full.ugb--has-block-background {
	padding: 0;
	.ugb-cta__item {
		border-radius: 0;
	}
}

[data-type="ugb/cta"] {
	[data-is-placeholder-visible="true"] + .editor-rich-text__editable {
		opacity: 0.5;
	}

	// Only show placeholder text while selected or typing.
	&:not(.is-selected):not(.is-typing) {
		[data-is-placeholder-visible="true"] + .editor-rich-text__editable {
			display: none;
		}
		[data-is-placeholder-visible="true"] {
			display: none;
		}
	}
}

// Hide the block alignment toolbar, because we will replace it with our own in the
[data-type="ugb/cta"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar > .editor-block-toolbar > .components-toolbar:nth-of-type(2) {
	display: none;
}
