/**
 * Frontend styles for the CTA Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-cta.ugb-cta--v2 {
	.ugb-cta__item {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.ugb-cta__title,
	.ugb-cta__description {
		margin: 0 0 $text-margin-bottom 0;
	}
	&:not(.ugb-cta--design-plain) {
		.ugb-cta__item {
			@include box();
		}
	}
	&.ugb-cta--design-plain .ugb-cta__item {
		padding: 0 $box-hori-padding;
	}
}

// Full width
.ugb-cta.ugb-main-block.alignfull {
	padding: 0;
	.ugb-cta__item {
		border-radius: 0;
	}
}
