/**
 * Frontend styles for the CTA Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-cta.ugb-cta--v2 {
	.ugb-cta__item {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.ugb-cta__title,
	.ugb-cta__description {
		margin: 0 0 $text-margin-bottom 0;
	}
	&:not(.ugb-cta--design-plain) {
		.ugb-cta__item {
			@include box();
		}
	}
}

// Full width
.ugb-cta.ugb-main-block.alignfull {
	padding: 0;
	.ugb-cta__item {
		border-radius: 0;
	}
}

// Deprecated version < 2

.ugb-cta:not([class*="ugb-cta--v"]) {
	text-align: center;
	background-color: #f4f4f4;
	@include baseBlock();
	@include box();
	.ugb-content-wrapper {
		@include baseBlock();
	}
	.ugb-button {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.ugb-cta:not([class*="ugb-cta--v"]).ugb-cta--design-plain,
.ugb-cta:not([class*="ugb-cta--v"]).ugb-design-plain {
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	background: transparent;
}

// Backward compatibility version < 1.0
.wp-block-ugb-button .wp-ugb-button:hover {
	color: #fff;
}
