/**
 * Editor styles for the Expand Block.
 *
 * Enqueued in the editor only.
 */
.ugb-expand__label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: #8e979e;
	padding: 2em 0 0;
	border: none;
	box-shadow: none;
	white-space: nowrap;
	display: block;
	&:first-child {
		padding-top: 0;
	}
}
.ugb-expand .ugb-expand__less-text,
.ugb-expand .ugb-expand__more-text {
	p {
		font-size: inherit !important;
		color: inherit !important;
	}
}

.ugb-expand .ugb-block-content {
	> a {
		display: inline-block;
	}
}
