/**
 * Frontend styles for the Expand Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-expand.ugb-expand--v2 {
	.ugb-expand__title,
	.ugb-expand__less-text,
	.ugb-expand__more-text {
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-expand__more-toggle-text,
	.ugb-expand__less-toggle-text {
		display: inline-block;
	}
}

.ugb-expand.ugb-expand--more {
	.ugb-expand__less-text,
	.ugb-expand__more-toggle-text {
		display: none;
	}
	.ugb-expand__more-text {
		display: block !important;
	}
	.ugb-expand__less-toggle-text {
		display: inline-block !important;
	}
}
