// Button alignment.
.stk-block-button-group .block-editor-block-list__layout {
	justify-content: var(--stk-alignment-justify-content);
}

.stk-block-button-group .block-editor-block-list__layout {
	column-gap: 12px;
	align-items: center;
}

// We vertically center the buttons, but this doesn't work properly in the editor.
[data-type="stackable/button-group"] .stk-block-button-group > .stk-inner-blocks {
	align-items: normal;
}
