.stk-inspector-sub-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	margin-bottom: 12px;
	.components-base-control__label {
		flex: 1;
		margin: 0;
	}
	.stk-inspector-sub-header__trash {
		color: var(--stk-skin-error);
	}
	.stk-inspector-sub-header__reset {
		color: var(--stk-skin-error);
		.dashicon {
			font-size: 12px;
		}
	}
	.stk-inspector-sub-header__duplicate .dashicon {
		font-size: 16px;
	}
}
