.stk-img-wrapper {
	position: relative;
	width: 100%;
	// max-width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden; // This is needed for zooming the image.

	//Added this to fix filter: drop-shadows flicker/do not show in safari browsers
	will-change: filter;

	&::after,
	&::before,
	&.stk-img--gradient-overlay::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: 1;
		opacity: var(--stk-gradient-overlay, 0.3);
		pointer-events: none; // Disallow the gradient overlay to capture the mouse events (so people can still right-click on the image)
	}
	&.stk-img--gradient-overlay {
		// If not hovered, hide the overlay hover state.
		&:not(:hover)::before {
			opacity: 0 !important;
		}
		&:hover::after {
			opacity: 0 !important;
		}
	}

	img {
		object-fit: cover;
		width: 100% !important;
		height: 100% !important;
		margin: 0 !important;
		display: block !important;
	}

	// Shapes.
	&.stk-img--shape {
		&::after,
		&::before,
		img {
			mask-mode: alpha;
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
			border-radius: 0;
		}
	}
	// Firefox doesn't stretch SVG masks via attributes, stretching is done here. Fixes #246.
	&.stk-image--shape-stretch {
		&,
		&::after,
		&::before {
			mask-size: 100% 100%;
		}
	}
}

// Fallback for IE11: SVG icons will not display as bullets, fallback to normal bullets.
@media all and (-ms-high-contrast: none) {
	*::-ms-backdrop,
	.stk-img-wrapper.stk-img--shape {
		border-radius: 9999px !important;
	}
}
