.stk-control-responsive-toggle {
	button.is-active:not([data-value="desktop"]) {
		background: #007cba;
		background: var(--wp-admin-theme-color, #007cba);
		color: #fff;
		border-color: #007cba !important;
		border-color: var(--wp-admin-theme-color, #007cba) !important;
	}
}

