.ugb-custom-attributes-control {
	code {
		font-size: 12px;
		margin: 4px 0;
		display: inline-block;
	}
}

.ugb-custom-attributes-control__error {
	color: #f00;
	font-style: italic;
	margin: 8px 0;
	display: block;
}
