/**
 * Editor styles for the Header Block.
 *
 * Enqueued in the editor only.
 */

.ugb-header {
	.ugb-content-wrapper,
	.ugb-header-wrapper {
		> *:first-child {
			margin-bottom: 1rem;
			padding-bottom: 0;
			margin-top: 0;
			position: relative;
		}
		> *:nth-child(2) {
			margin-bottom: 2rem;
			padding-bottom: 0;
			position: relative;
		}
	}
}

[data-type="ugb/header"] {
	// Fade out placeholder text.
	[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
		opacity: 0.5;
	}

	// Only show placeholder text while selected or typing.
	&:not(.is-selected):not(.is-typing) {
		[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
			display: none;
		}
		[data-is-placeholder-visible="true"] {
			display: none;
		}
	}
}

[data-align="full"] {
	.ugb-header.ugb--has-background {
		border-radius: 0 !important;
	}
}
