/**
 * Editor styles for the Header Block.
 *
 * Enqueued in the editor only.
 */

// Contents go full-width when full-width.
[data-type][data-align="full"] .ugb-header.ugb-main-block:not(.ugb--has-block-background),
// Contents go full-width when full-width with block background.
[data-type][data-align="full"] .ugb-header.ugb-main-block.ugb-main-block--inner-full.ugb--has-block-background {
	padding: 0;
	.ugb-header__item {
		border-radius: 0;
	}
}

[data-type="ugb/header"] {
	// Fade out placeholder text.
	[data-is-placeholder-visible="true"] + .editor-rich-text__editable {
		opacity: 0.5;
	}

	// Only show placeholder text while selected or typing.
	&:not(.is-selected):not(.is-typing) {
		[data-is-placeholder-visible="true"] + .editor-rich-text__editable {
			display: none;
		}
		[data-is-placeholder-visible="true"] {
			display: none;
		}
	}
}

[data-align="full"] {
	.ugb-header.ugb--has-background {
		border-radius: 0 !important;
	}
}
