
// NOTE: The animation of the opening/closing of the accordion is implemented in
// JavaScript.
@import "common";

.stk-block-accordion {
	box-sizing: border-box;

	summary {
		cursor: pointer;

		// Remove the default arrow.
		list-style: none;
		&::-webkit-details-marker {
			display: none;
		}

		--stk-block-margin-bottom: 0;
		--stk-icon-size: 16px;

		// Alignment of icons when the icons are left or on the right.
		.stk-block-icon:first-child {
			justify-content: flex-start;
		}
		.stk-block-icon:last-child {
			justify-content: flex-end;
		}
	}

	// Remove outline on focus, but keep it for keyboard navigation.
	summary.stk-block-column:focus:not(:focus-visible) {
		outline: none;
	}

	// Gap between icon and the title.
	.stk-block-accordion__heading {
		.stk-block-icon-label .stk-block-heading {
			flex: 1;
		}
		.stk-block-icon-label .stk-block-icon {
			flex: 0 0 40px;
		}
		// Unset the width to avoid content overflow in safari.
		// @see https://github.com/gambitph/Stackable/issues/1707
		.stk-block-column__content {
			width: unset;
		}
	}
	.stk-block-accordion__content > .stk-container {
		padding: cssvar(container-padding);
	}

	// Rotate the icon when the accordion opens.
	summary {
		.stk--svg-wrapper {
			@include transition();
		}
	}
	&[open] > summary {
		.stk--svg-wrapper:not(.stk--has-icon2) {
			transform: rotate(180deg);
		}
	}

	// If another icon was used, don't rotate the icon, show the other icon when
	// the accordion opens.
	&[open] > summary {
		.stk--svg-wrapper.stk--has-icon2 {
			.stk--inner-svg {
				display: none;
			}
		}
		.stk--icon-2 {
			display: block !important;
		}
	}

	// Make sure the contents of the accordion
	.stk-block-accordion__content {
		overflow: hidden;
		transform: translateY(0);
		opacity: 1;
		height: 100%;
		> * > * { // Prevent blocks inside from overlapping because of the small height when transitioning.
			flex-shrink: 0;
		}
	}

	// the transform property causes the background-attachment: fixed to not work as expected.
	// remove it to prevent timeline block lines to be glitchy.
	// see similar issue: https://www.sitepoint.com/community/t/background-attachment-fixed-not-working-as-expected/35374/4
	.stk-block-accordion__content:has(.stk-block-timeline) {
		transform: initial;
	}

	// Accordion content shows up in the front end.
	&:not([open]) .stk-block-accordion__content {
		max-height: 0;
		transform: translateY(25px);
		opacity: 0;
	}
}

// This is for the column hack. Remove margin for the wrapper div if accordion is inside a columns block
.stk-inner-blocks > .stk-block-accordion__wrapper:last-child {
	margin-bottom: 0;
	> * {
		margin-bottom: 0;
	}
}
