.stk-inspector-bottom-tip {
	font-size: 11px;
	line-height: 1.4;
	max-width: 140px;
	margin: 0 auto !important;
	padding: 32px 0 80px !important;
	font-style: italic;
	color: #888;
	text-align: center;
}
