.stk-control .stk-control-columns__settings-button {
	width: 24px;
	height: 24px;
	padding: 0;
	min-width: auto;
	justify-content: center !important;
	.dashicon {
		font-size: 16px;
		margin: 0 !important;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.stk-control-columns__settings-button {
	justify-content: center !important;
	.dashicon {
		margin: 0 !important;
	}
}

.editor-styles-wrapper .stk--flex > * > * > [data-type="stackable/column"] {
	width: fit-content !important;
	flex: 0 1 auto !important;
	min-width: 24px;
	max-width: none;
}

.stk-block-columns > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
	column-gap: var(--stk-column-gap, 0px);
}
