@import "common";
@import "./deprecated-style";

.stk--flex > .stk-block-column {
	width: fit-content;
	flex: 0 1 auto !important;
	min-width: 24px;
	max-width: none;
}

// Make sure the blocks in inner columns have the correct width when max content width is set
.stk-column-wrapper > .stk-inner-blocks > .stk-block {
	width: inherit;
}

.stk-block-columns > .stk-block-content {
	--stk-column-gap: 0px; // For nested columns, this takes precedence.
	column-gap: var(--stk-column-gap, 0px);
	margin-left: auto;
	margin-right: auto;
}

// Column order.
@for $i from 1 through 20 {
	.stk-block-column:nth-child(#{ $i }) {
		order: var(--stk-col-order-#{ $i }, initial);
	}
}

// Make sure that columns are of the correct width even if there's paddings on the column.
// Default percentages to make columns even because flexbox makes columns with paddings weird.
// The problem with flexbox and paddings is better explained here: https://css-tricks.com/equal-columns-with-flexbox-its-more-complicated-than-you-might-think/
@include desktop-tablet {
	@for $columns from 2 through 6 {
		@for $index from 1 through $columns {
			:where(body:not(.wp-admin) .stk-block-column:nth-child(#{ $index }):nth-last-child(#{ $columns - ($index - 1) })) {
				flex: 1 1 calc(( 100% / #{ $columns } ) - var(--stk-column-gap, 0px) * #{ $columns - 1 } / #{ $columns }) !important;
			}
		}
	}
}
