// Show a cursor pointer when hovering over the bullet icons
.stk-block-table-of-contents {

	li {
		position: relative;
	}

	.stk-block-table-of-contents__list-item-inner {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}

	.stk-block-table-of-contents__list-item__excluded {
		opacity: 0.5;
	}

	.stk-block-table-of-contents__list-item__hidden {
		display: none;
	}

	button.components-button.has-text.has-icon {
		height: 0;
		padding: 0;
		margin-left: 16px;
	}
}

// Alignments when the icon list is aligned.
[data-type="stackable/table-of-contents"] .stk-block-table-of-contents :is(ul, ol) {
	margin-left: var(--stk-alignment-margin-left);
	margin-right: var(--stk-alignment-margin-right);
}
