// Important, we can't use flex since it causes issues with columns.
.stk-block-table-of-contents {
	.stk-table-of-contents__table {
		margin: 0;
		column-gap: 32px;
	}

	:is(ul, ol) {
		padding-inline-start: 1em;
	}

	// Prevents icons from going transparent.
	&:is(.stk--is-gradient) li {
		-webkit-text-fill-color: initial;
		-moz-text-fill-color: initial;
		-o-text-fill-color: initial;
	}

	// Prevents block background from going transparent.
	&:is(.stk--has-background-overlay) {
		background-clip: initial !important;
	}
}
