.stk-sortable-picker__item-name {
	margin-bottom: 0;
	margin-top: 0;
	text-align: left;
	line-height: normal;
}

.ugb-global-settings-color-picker {
	.stk-control__reset-button {
		position: unset;
	}
	.block-editor-panel-color-gradient-settings__dropdown {
		max-width: 201px;
	}
}
