// Lists in the editor can show a margin that's not visible in the frontend.
.stk-block-icon-list > div > .rich-text {
	margin-top: 0;
	margin-bottom: 0;
}

.stk-block-icon-list {
	li {
		position: relative;
	}

	li::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 1em;
		width: var(--stk-icon-height, 1em);
		cursor: copy;
		margin-left: calc(var(--stk-icon-height, 1em) * -1);
	}
}
