// Lists in the editor can show a margin that's not visible in the frontend.
.stk-block-icon-list > div > .rich-text {
	margin-top: 0;
	margin-bottom: 0;
}

// Show a cursor pointer when hovering over the bullet icons
.stk-block-icon-list {
	li {
		position: relative;
	}

	li::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 1em;
		width: var(--stk-icon-height, 1em);
		cursor: copy;
		margin-left: calc(var(--stk-icon-height, 1em) * -1);
	}
}

// Alignments when the icon list is aligned.
[data-type="stackable/icon-list"] .stk-block-icon-list :is(ul, ol) {
	margin-left: var(--stk-alignment-margin-left);
	margin-right: var(--stk-alignment-margin-right);
}
