/**
 * Editor styles for the Icon List Block.
 *
 * Enqueued in the editor only.
 */

// UL is a child when in block form, remove the bullets.
.ugb-icon-list ul {
	list-style: none !important;
}

// Last in the list should have no margin bottom.
#editor .ugb-icon-list.ugb-icon-list li:last-child {
	margin-bottom: 0 !important;
}

#editor li > .ugb-svg-icon-placeholder {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 1em;
}
