.stk-block-icon-list {
	:is(ul, ol) {
		width: fit-content;
		text-align: start;
	}
	ol {
		list-style-image: none;
	}

	// Line height creates unnecessary row gaps.
	::marker {
		line-height: 0;
	}
}

// Alignments when the icon list is aligned.
:is(.has-text-align-center.stk-block-icon-list, .has-text-align-center .stk-block-icon-list) :is(ul, ol) {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
}
:is(.has-text-align-left.stk-block-icon-list, .has-text-align-left .stk-block-icon-list) :is(ul, ol) {
	margin-left: 0;
	margin-right: auto;
}
:is(.has-text-align-right.stk-block-icon-list, .has-text-align-right .stk-block-icon-list) :is(ul, ol) {
	margin-left: auto;
	margin-right: 0;
}
