.stk-block-icon-list {
	:is(ul, ol) {
		width: fit-content;
		text-align: start;
	}
	ol {
		list-style-image: none;
	}

	// Line height creates unnecessary row gaps.
	::marker {
		line-height: 0;
	}
}

// Alignments when the icon list is aligned.
.stk-block-icon-list :is(ul, ol) {
	margin-left: var(--stk-alignment-margin-left);
	margin-right: var(--stk-alignment-margin-right);
}
