/**
 * Frontend styles for the Icon List Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-icon-list.ugb-icon-list--v2 {
	ul {
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
	}
	li::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 20px;
		width: 20px;
		margin-right: 1em;
		background-size: contain !important;
		background-repeat: no-repeat;
		background-position: center;
		// Large icons get their tops cut because of
		margin-bottom: 5px;
	}
	li {
		margin-top: 0 !important;
		margin-bottom: 16px;

		// Force this for compatibility with others like Genesis themes.
		list-style: none !important;

		// text-indent here plus the padding-left in the container makes sure our text doesn't wrap below the bullet.
		text-indent: calc(var(--icon-size, 20px) * -1 - 1em) !important;
		padding-left: calc(var(--icon-size, 20px) + 1em) !important;

	}
	li:last-child {
		margin-bottom: 0 !important;
	}

	// Minimal support for nested list.
	li ul {
		columns: 1;
		margin-top: 16px;
		list-style: none;
		margin-left: 0;
	}

	// Grid display.
	&.ugb-icon-list--display-grid ul {
		display: grid;
		grid-column-gap: 20px;
	}
	@media screen and (max-width: $break-small) {
		&.ugb-icon-list.ugb-icon-list--display-grid ul { // Ensure our columns get applied.
			grid-template-columns: 1fr !important;
		}
	}
	@media screen and (max-width: $break-small) {
		&.ugb-icon-list.ugb-icon-list ul { // Ensure our columns get applied.
			columns: 1 !important;
		}
	}
	// @from https://css-tricks.com/almanac/properties/b/break-inside/
	li {
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid;
	}
}
