@import "common";

/**
 * Deprecated < v2
 */
.ugb-expand:not([class*="ugb-expand--v"]) {
	@include baseBlock();
}

/**
 * Deprecated < 1.10
 */
.ugb-expand:not([class*="ugb-expand--v"]) {
	@include baseBlock();
	p:last-child {
		margin-bottom: 0;
	}
	&.ugb-more {
		.ugb-expand-less-text,
		.ugb-expand-more {
			display: none;
		}
		.ugb-expand-more-text,
		.ugb-expand-less {
			display: block !important;
		}
	}

	.ugb-expand__less-text p:last-child,
	.ugb-expand__more-text p:last-child {
		margin-bottom: 0;
	}
}
