@import "common";

.ugb-header__buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.ugb-header__buttons > * {
	margin: 0 0.5em 0.5em;
}

/**
 * Deprecated < v2
 */
.ugb-header.ugb-header--v2 {
	@include baseBlock();
	text-align: center;
	@include box();
	padding: 60px 150px;
	position: relative;
	.ugb-content-wrapper,
	.ugb-header-wrapper {
		@include baseBlock();
	}
	.ugb-button {
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
	}
	&.alignfull.ugb--has-background {
		border-radius: 0 !important;
		margin-top: 0;
		margin-bottom: 0;
	}
	&.ugb-header--full-height {
		min-height: 100vh;
		align-items: center;
		display: flex;
	}

	&.ugb-header--design-basic {
		@include box();
		padding: 9.5rem 4rem;
	}
	&.ugb-header--design-plain {
		box-shadow: none;
		// padding: 0;
		padding: 9.5rem 4rem;
		border-radius: 0;
	}
}

/**
 * Deprecated as of v1.11
 */
.ugb-header.ugb-header--v2 {
	padding: 9.5rem 4rem;
	.wp-block-button.ugb-button-center {
		left: 0;
		transform: translateX(0);
		margin-bottom: 1.5em;
	}
	.wp-block-button.ugb-button-right {
		transform: translateX(-50%);
		left: 50%;
		margin-bottom: 1.5em;
	}
	.wp-block-button.ugb-button-left {
		transform: translateX(50%);
		left: -50%;
		margin-bottom: 1.5em;
	}
	.ugb-header-title:not(.editor-rich-text__editable) {
		margin-bottom: 1rem;
		padding-bottom: 0;
		margin-top: 0;
		position: relative;
	}
	.ugb-header-subtitle:not(.editor-rich-text__editable) {
		margin-bottom: 2rem;
		padding-bottom: 0;
		position: relative;
	}
	button.components-button {
		margin-bottom: 0.5em;
		position: relative;
	}
}

/**
 * Deprecated as of v1.4
 */
.ugb-header.has-image {
	padding: 0;
	.ugb-header-section {
		padding: 9.5rem 4rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.ugb-header {
	.ugb-header-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 !important;
	}
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-1 {
	opacity: 0.1;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-2 {
	opacity: 0.2;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-3 {
	opacity: 0.3;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-4 {
	opacity: 0.4;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-5 {
	opacity: 0.5;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-6 {
	opacity: 0.6;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-7 {
	opacity: 0.7;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-8 {
	opacity: 0.8;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-9 {
	opacity: 0.9;
}
.ugb-header-overlay.overlay-opacity.overlay-opacity-10 {
	opacity: 1;
}

/**
 * Frontend Styles.
 */
.wp-block-ugb-header.has-no-content {
	display: none;
}
