/**
 * Deprecated < v2
 */

@import "common";

body:not(.wp-admin) {
	.ugb-container:not([class*="ugb-container--v"])[style*="--ugb-text-color"] {
		&,
		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		* {
			color: var(--ugb-text-color);
		}
	}
}
.ugb-container:not([class*="ugb-container--v"]) {
	@include baseBlock();
	@include box();

	&:not(.ugb--has-background):not(.ugb-has-background) {
		box-shadow: none;
		border-radius: 0;
		overflow: visible;
	}
	&:not(.ugb--has-background):not(.ugb-has-background):not(.alignfull) {
		padding-left: 0;
		padding-right: 0;
	}

	.ugb-container__wrapper {
		width: 100%;
	}
	.ugb-container__content-wrapper {
		@include baseBlock();
		margin: 0;
	}

	// Different container heights.
	&.ugb-container--height-short,
	&.ugb-height-short {
		padding: $box-hori-padding;
	}
	&.ugb-container--height-tall,
	&.ugb-height-tall {
		padding-top: $box-vert-padding * 2;
		padding-bottom: $box-vert-padding * 2;
	}
	&.ugb-container--height-half,
	&.ugb-container--height-full,
	&.ugb-height-half,
	&.ugb-height-full {
		min-height: 50vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&.ugb-container--height-full,
	&.ugb-height-full {
		min-height: 100vh;
	}

	&.ugb-container--content-left,
	&.ugb-content-left {
		text-align: left;
	}
	&.ugb-container--content-center,
	&.ugb-content-center {
		text-align: center;
	}
	&.ugb-container--content-right,
	&.ugb-content-right {
		text-align: right;
	}
	&.alignfull {
		border-radius: 0 !important;
		margin-top: 0;
		margin-bottom: 0;
	}

	&.ugb--content-width .ugb-container__wrapper,
	&.ugb-content-width .ugb-container__wrapper {
		max-width: var(--content-width);
		margin: 0 auto;
	}

	&.ugb-container--align-horizontal-left .ugb-container__content-wrapper,
	&.ugb-align-horizontal-left .ugb-container__content-wrapper {
		width: 50%;
		margin: 0 auto 0 0;
	}
	&.ugb-container--align-horizontal-center .ugb-container__content-wrapper,
	&.ugb-align-horizontal-center .ugb-container__content-wrapper {
		width: 50%;
		margin: 0 auto;
	}
	&.ugb-container--align-horizontal-right .ugb-container__content-wrapper,
	&.ugb-align-horizontal-right .ugb-container__content-wrapper {
		width: 50%;
		margin: 0 0 0 auto;
	}
	@media screen and (max-width: $break-small) {
		&.ugb-container--align-horizontal-left .ugb-container__content-wrapper,
		&.ugb-align-horizontal-left .ugb-container__content-wrapper {
			width: 70%;
		}
		&.ugb-container--align-horizontal-center .ugb-container__content-wrapper,
		&.ugb-align-horizontal-center .ugb-container__content-wrapper {
			width: 70%;
		}
		&.ugb-container--align-horizontal-right .ugb-container__content-wrapper,
		&.ugb-align-horizontal-right .ugb-container__content-wrapper {
			width: 70%;
		}
	}
}
