/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Most used breakpoints
$break-huge: 1440px;
$break-wide: 1280px;
$break-large: 960px; // admin sidebar auto folds. Breakpoint for tablet
$break-medium: 782px; // adminbar goes big
$break-small: 600px; // Breakpoint for mobile
$break-mobile: 480px;
$break-js-tablet: 1025px;
$break-js-mobile: 768px;

// Box
$box-radius: 12px;
$box-hori-padding: 35px;
$box-vert-padding: 60px;

/**
 * For blocks with a box outline, we can use the custom properties:
 * --box-padding-vert
 * --box-padding-hori
 * to get the current padding values
 */
@mixin boxNoPadding() {
	box-shadow: 0 5px 5px 0 rgba(18, 63, 82, 0.035), 0 0 0 1px rgba(176, 181, 193, 0.2);
	background-color: #fff;
	border-radius: $box-radius;
	overflow: hidden;
}
@mixin box() {
	@include boxNoPadding();
	padding: $box-vert-padding $box-hori-padding;
	--box-padding-vert: #{$box-vert-padding};
	--box-padding-hori: #{$box-hori-padding};
	@media screen and (max-width: $break-medium) {
		padding: ($box-vert-padding * 2/3) ($box-hori-padding * 2/3);
		--box-padding-vert: #{($box-vert-padding * 2/3)};
		--box-padding-hori: #{($box-hori-padding * 2/3)};
	}
	@media screen and (max-width: $break-small) {
		padding: $box-hori-padding ($box-hori-padding / 2);
		--box-padding-vert: #{$box-hori-padding};
		--box-padding-hori: #{($box-hori-padding / 2)};
	}
}

/**
 * Deprecated < v2
 */

// A block can have a ugb-content-width class to make it's content fit the content-width.
.ugb--content-width .ugb-content-wrapper,
.ugb-content-width .ugb-content-wrapper { // Old naming convention.
	max-width: var(--content-width);
	margin: 0 auto;
}


@mixin baseBlock() {
	@include blockContentReset();
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

@mixin blockContentReset() {
	> * {
		margin-top: 0 !important;
		margin-bottom: 1rem !important;
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

// Fixed background images.
.ugb--has-background-image {
	background-size: cover;
	background-position: center;
}
