@import "block-design-system";

/**
 * Block implemtation of the Design System.
 */

// Blocks
.stk-block,
.entry-content .stk-block,
.stk-block-column__content > * { // Some themes don't add margin bottom to insides of columns.
	margin-bottom: cssvar(block-margin-bottom);
}

.stk-button-group {
	row-gap: cssvar(button-row-gap);
	column-gap: cssvar(button-gap);
	justify-content: var(--stk-alignment-justify-content);
}

:is(.stk-block-button, .stk-block-icon-button, .stk-block-pagination) {
	&:not(.is-style-link, .wp-element-button) {
		.stk-button:not(.wp-element-button, .wp-block-button__link) {
			background: cssvar(button-background-color);
			padding: cssvar(button-padding);

			// Adjust icon color and icon size.
			#{ '--stk-icon-color' }: cssvar(button-text-color);

			.stk--inner-svg {
				color: cssvar(button-text-color);
			}

			> .stk-button__inner-text {
				color: cssvar(button-text-color);
				&:hover {
					color: cssvar(button-text-color); // Override theme's hover text color.
				}
			}
		}
	}

	.stk-button {
		// Adjust icon color and icon size.
		--stk-icon-size: 1em;
	}

	// Ghost button color.
	&.is-style-ghost {
		#{ '--stk-button-text-color' }: cssvar(button-background-color);
		.stk-button {
			&::before {
				border-width: cssvar(button-ghost-border-width);
				border-color: cssvar(button-background-color);
			}
		}
	}

	// Plain button color.
	&.is-style-plain {
		#{ '--stk-button-text-color' }: cssvar(button-background-color);
	}
}
// Ensure buttons use the correct paddings.
.stk-block-icon-button {
	.stk-button {
		#{ '--stk-button-padding' }: cssvar(icon-button-padding);
	}
}

// Block spacing when horizontally oriented.
.stk--block-horizontal-flex {
	column-gap: cssvar(block-margin-bottom);
}

// Containers
.stk-container:not(.stk--no-padding) {
	padding: cssvar(container-padding);
}
.stk--container-small .stk-container:not(.stk--no-padding) {
	#{ '--stk-container-padding' }: cssvar(container-padding-small);
}
.stk-container:not(.stk--no-background) {
	background-color: cssvar(container-background-color);
	border-radius: cssvar(container-border-radius);
	box-shadow: cssvar(container-box-shadow);
	color: cssvar(container-color);
}
.stk-container-padding {
	padding: cssvar(container-padding);
}

// Columns
.stk-block:not(.stk-block-column) {
	#{ '--stk-columns-spacing' }: cssvar(column-margin);
}
body:not(.wp-admin) .stk-block-columns:has(> .stk-block-content > .stk-block-column:first-child:last-child) { // Remove the margins if it's only 1 block.
	--stk-columns-spacing: 0;
}
.stk-block-columns.stk-block-columns--has-single-block-polyfill { // For Firefox polyfill provided by src/block/columns/frontend-has-polyfill.js
	--stk-columns-spacing: 0;
}

// Block Background
.stk-block-background {
	background-color: cssvar(block-background-color);
	&:not(.stk--no-padding) {
		padding: cssvar(block-background-padding);
	}
}

// Icons
.stk--inner-svg {
	border-color: cssvar(icon-color);
	svg:last-child:not(.ugb-custom-icon):not(.stk-custom-icon) {
		width: cssvar(icon-size);
		height: cssvar(icon-size);
		&,
		:is(g, path, rect, polygon, ellipse) {
			fill: cssvar(icon-color);
		}
	}
}

// Typography
.stk-subtitle {
	font-size: cssvar(subtitle-size);
	color: cssvar(subtitle-color);
}

// Posts
.stk-block-posts {
	&__meta {
		color: cssvar(subtitle-color);
	}
}
