@import "cssvars";

/**
 * Default Stackable UI Kit design.
 */
@include cssvars-responsive( (
	/**
	 * Block
	 */
	block-margin-bottom: (
		desktop: 24px,
		mobile: 16px,
	),

	/**
	 * Containers
	 */
	container-background-color: #fff,
	container-border-radius: 0px,
	container-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04),

	container-padding: (
		desktop: 32px 32px,
		mobile: 24px 24px,
	),
	container-padding-large: (
		desktop: 64px 80px,
		mobile: 32px 24px,
	),

	/**
	 * Columns
	 */
	column-margin: (
		desktop: 12px 12px,
		mobile: 8px 8px,
	),

	/**
	 * Block backgrounds
	 */
	block-background-color: #f1f1f1,
	block-background-padding: (
		desktop: 24px 24px,
		mobile: 16px 16px,
	),
	block-background-full-padding: (
		desktop: 24px 104px,
		tablet: 24px 32px,
		mobile: 16px 16px,
	),

	/**
	 * Buttons
	 */
	button-background-color: #008de4,
	button-padding: (
		desktop: 12px 16px,
	),
	button-text-color: #fff,

	/**
	 * Icons
	 */
	icon-size: 56px,
	icon-shape-color: #ddd,

	/***
	 * Typography
	 */
	// TODO: Add typography colors
) );

/**
 * Block Design System.
 */

// Blocks
.stk-block,
.entry-content .stk-block,
.stk-column__content > * { // Some themes don't add margin bottom to insides of columns.
	margin-bottom: cssvar(block-margin-bottom);
}

a.stk-button {
	background: cssvar(button-background-color);
	padding: cssvar(button-padding);

	.stk--inner-svg {
		color: cssvar(button-text-color);
	}

	> .stk-button__inner-text {
		color: cssvar(button-text-color);

		&:hover {
			color: cssvar(button-text-color); // Override theme's hover text color.
		}
	}

}

// Block spacing when horizontally oriented.
.stk--block-orientation-horizontal > * + * {
	margin-left: cssvar(block-margin-bottom);
}

// Containers
.stk-container:not(.stk--no-padding) {
	padding: cssvar(container-padding);
}
.stk-container:not(.stk--no-background) {
	background-color: cssvar(container-background-color);
	border-radius: cssvar(container-border-radius);
	box-shadow: cssvar(container-box-shadow);
}
.stk-container-padding {
	padding: cssvar(container-padding);
}

// Columns
.stk-column-wrapper {
	margin: cssvar(column-margin);
}
.stk-is-first.stk-is-last > .stk-column-wrapper { // Remove the margins if it's only 1 block.
	margin: 0;
}

// Block Background
.stk-block-background {
	background-color: cssvar(block-background-color);
	padding: cssvar(block-background-padding);
}
// Block background when the block is full width
.stk-block-background.alignfull {
	padding: cssvar(block-background-full-padding);
}

// Icons
.stk--inner-svg {
	border-color: #000;
	svg:last-child {
		width: cssvar(icon-size);
		height: cssvar(icon-size);
	}
}
