/**
 * Core Block Styles
 */
@import "breakpoints";

// Containers
.stk-column {
	margin-top: 0;
	margin-bottom: 0;
}

/**
 * Resizeable rows and columns
 */
.stk-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.stk-column {
	flex: 1 1 0px; // flex-basis 0 means that all columns will be equal.
	box-sizing: border-box;
}

// Columns can be collapsed for tablet and mobile only.
@include desktop {
	.stk-row {
		flex-wrap: nowrap;
	}
}
// Mobile auto-collapses all columns.
@include mobile {
	.stk-column {
		flex: 1 1 100%;
	}
}

// Block inner blocks.
.stk-block-content {
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}
