/**
 * This defines all styles related to making the hover states of blocks animate smoothly.
 */

// Hover transitions.
.stk-block,
.stk-container,
.stk-container-padding,
.stk-img-wrapper, // Images.
.stk-img-wrapper img, // Images.
.stk--has-background-overlay::before, // Image background overlays
.stk-heading__top-line,
.stk-heading__bottom-line,
.stk-block a::after, // For button animations
.stk-block li::before, // For icon list animations
.stk-block p,
.stk-block h1,
.stk-block h2,
.stk-block h3,
.stk-block h4,
.stk-block h5,
.stk-block h6 {
	transition: all 0.12s cubic-bezier(0.45, 0.05, 0.55, 0.95);
	border-width: 1px;
	border-style: none;
}
.stk--inner-svg {
	transition: all 0.12s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

// Comment for now but keep updating this, will need to test first if animations become slow since this may bog down the browser.
// .stk-block {
// 	will-change: transform, box-shadow, opacity, top, right, bottom, left, background, margin, padding, min-height, max-width;
// }
// .stk-container,
// .stk-container-padding {
// 	will-change: transform, box-shadow, background, margin, padding, min-height, max-width;
// }
// .stk-img-wrapper img {
// 	will-change: filter;
// }
// .stk-block p,
// .stk-block h1,
// .stk-block h2,
// .stk-block h3,
// .stk-block h4,
// .stk-block h5,
// .stk-block h6 {
// 	will-change: color, font-size;
// }

// Some attributes will not animate if they have no starting values.
.stk-block,
.stk-container,
.stk-container-padding {
	min-height: 0;
	max-width: 100%;
}
