@import "cssvars";

/**
 * Default Stackable UI Kit design.
 */
@include cssvars-responsive( (
	/**
	 * Block
	 */
	block-margin-bottom: (
		desktop: 24px,
		mobile: 16px,
	),

	/**
	 * Containers
	 */
	container-background-color: #fff,
	container-border-radius: 0px,
	container-box-shadow: 0 5px 30px -10px rgba(18, 63, 82, 0.3),

	container-padding: (
		desktop: 48px 32px,
		mobile: 32px 24px,
	),
	container-padding-large: (
		desktop: 64px 80px,
		mobile: 32px 24px,
	),

	/**
	 * Columns
	 */
	column-margin: (
		desktop: 16px 16px,
		mobile: 8px 0px,
	),

	/**
	 * Block backgrounds
	 */
	block-background-color: #f1f1f1,
	block-background-padding: (
		desktop: 48px 32px,
		mobile: 32px 24px,
	),
	block-background-full-padding: (
		desktop: 48px 120px,
		tablet: 32px 48px,
		mobile: 24px 24px,
	),
) );

/**
 * Block Design System.
 */

// Blocks
.stk-block,
.entry-content .stk-block {
	margin-bottom: cssvar(block-margin-bottom);
}

// Containers
.stk-container {
	background-color: cssvar(container-background-color);
	border-radius: cssvar(container-border-radius);
	box-shadow: cssvar(container-box-shadow);
	padding: cssvar(container-padding);
}
.stk-container--no-padding {
	background-color: cssvar(container-background-color);
	border-radius: cssvar(container-border-radius);
	box-shadow: cssvar(container-box-shadow);
}
.stk-container-padding {
	padding: cssvar(container-padding);
}

// Columns
.stk-column-wrapper {
	margin: cssvar(column-margin);
}
.stk-is-first.stk-is-last > .stk-column-wrapper { // Remove the margins if it's only 1 block.
	margin: 0;
}

// Block Background
.stk-block-background {
	background-color: cssvar(block-background-color);
	&:not(.stk-column) {
		padding: cssvar(block-background-padding);
	}
	&.stk-column > .stk-block-content {
		margin: cssvar(block-background-padding);
	}
}
// Block background when the block is full width
.stk-block-background.alignfull {
	&:not(.stk-column) {
		padding: cssvar(block-background-full-padding);
	}
	&.stk-column > .stk-block-content {
		margin: cssvar(block-background-full-padding);
	}
}
