/**
 * Default Stackable UI Kit design.
 */
$block-design-system: (
	/**
	 * Block
	 */
	block-margin-bottom: (
		desktop: 24px,
		mobile: 16px,
	),

	/**
	 * Containers
	 */
	container-background-color: #fff,
	container-border-radius: 0px,
	container-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04),
	container-color: #1e1e1e,

	container-padding: (
		desktop: 32px 32px,
		mobile: 24px 24px,
	),
	container-padding-large: (
		desktop: 64px 80px,
		mobile: 32px 24px,
	),
	container-padding-small: (
		desktop: 16px 32px,
		mobile: 8px 24px,
	),

	/**
	 * Columns
	 */
	column-margin: (
		desktop: 12px 12px,
		mobile: 8px 8px,
	),

	/**
	 * Block backgrounds
	 */
	block-background-color: #f1f1f1,
	block-background-padding: (
		desktop: 24px 24px,
		mobile: 16px 16px,
	),

	/**
	 * Buttons
	 */
	button-background-color: #008de4,
	button-padding: (
		desktop: 12px 16px,
	),
	icon-button-padding: (
		desktop: 12px,
	),
	button-text-color: #fff,
	button-gap: 12px,
	button-ghost-border-width: 2px,
	button-column-gap: 12px,
	button-row-gap: 12px,

	/**
	 * Icons
	 */
	icon-size: 36px,
	icon-color: #a6a6a6,
	icon-shape-color: #ddd,

	/**
	 * Typography
	 */
	subtitle-size: 16px,
	subtitle-color: #39414d,
<<<<<<< HEAD

	/**
	 * Separators
	 */
	separator-color: #fff,

	/**
	 * Dividers
	 */
	divider-color: #ddd,

	/**
	 * Accordions
	 */
	accordion-border-color: #dfdad1,
=======
>>>>>>> a3514c4979ba5b24854178dfa56e20437b097b69
);
