@mixin desktop {
	@media only screen and (min-width: 1025px) {
		@content;
	}
}
@mixin desktop-tablet {
	@media only screen and (min-width: 769px) {
		@content;
	}
}
@mixin tablet {
	@media only screen and (min-width: 769px) and (max-width: 1024px) {
		@content;
	}
}
@mixin mobile {
	@media only screen and (max-width: 768px) {
		@content;
	}
}
