@import "editor-breakpoints";
@import "cssvars";

// Button alignment.
.stk-button-group {
	&:not(.stk-collapse-on-desktop) .block-editor-block-list__layout {
		justify-content: var(--stk-alignment-justify-content);
	}
	&:is(.stk--collapse-on-desktop) > .block-editor-inner-blocks > .block-editor-block-list__layout {
		> [data-block] {
			margin-inline-start: var(--stk-alignment-margin-left);
			margin-inline-end: var(--stk-alignment-margin-right);
		}
	}
}

@include tablet {
	.stk-button-group:is(.stk--collapse-on-tablet) > .block-editor-inner-blocks > .block-editor-block-list__layout {
		> [data-block] {
			margin-inline-start: var(--stk-alignment-margin-left);
			margin-inline-end: var(--stk-alignment-margin-right);
		}
	}
}

@include mobile {
	.stk-button-group:is(.stk--collapse-on-tablet) > .block-editor-inner-blocks > .block-editor-block-list__layout,
	.stk-button-group:is(.stk--collapse-on-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout {
		> [data-block] {
			margin-inline-start: var(--stk-alignment-margin-left);
			margin-inline-end: var(--stk-alignment-margin-right);
		}
	}
}

// Block spacing when horizontally oriented. This has been replaced by .stk--block-horizontal-flex.
// We still need to keep this just in case someone is using the old block in the frontend.
.stk--block-orientation-horizontal > .block-editor-inner-blocks > .block-editor-block-list__layout > * + * {
	margin-left: cssvar(block-margin-bottom);
}

.stk--block-orientation-horizontal > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex !important;
	flex-direction: row;
	> * {
		margin-top: 0;
		margin-bottom: 0;
	}
	> [data-block] {
		width: auto;
	}
}
