@import "editor-breakpoints";

// Button alignment.
.stk-button-group {
	&:not(.stk-collapse-on-desktop) .block-editor-block-list__layout {
		justify-content: var(--stk-alignment-justify-content);
	}
	&:is(.stk--collapse-on-desktop) > .block-editor-inner-blocks > .block-editor-block-list__layout {
		> [data-block] {
			margin-inline-start: var(--stk-alignment-margin-left);
			margin-inline-end: var(--stk-alignment-margin-right);
		}
	}
}

@include tablet {
	.stk-button-group:is(.stk--collapse-on-tablet) > .block-editor-inner-blocks > .block-editor-block-list__layout {
		> [data-block] {
			margin-inline-start: var(--stk-alignment-margin-left);
			margin-inline-end: var(--stk-alignment-margin-right);
		}
	}
}

@include mobile {
	.stk-button-group:is(.stk--collapse-on-tablet) > .block-editor-inner-blocks > .block-editor-block-list__layout,
	.stk-button-group:is(.stk--collapse-on-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout {
		> [data-block] {
			margin-inline-start: var(--stk-alignment-margin-left);
			margin-inline-end: var(--stk-alignment-margin-right);
		}
	}
}
