.editor-styles-wrapper {
	:is(
	[data-type^="stackable/"],
	.stk-block,
	.stk-container,
	.stk-container-padding,
	.stk-img-wrapper, // Images.
	.stk-img-wrapper img, // Images.
	.stk-block-heading__top-line,
	.stk-block-heading__bottom-line,
	.stk-block-posts__item-hide, // For posts transitions
	.stk-block-posts__title > a, // For posts title
	.stk-button:not(.wp-block-button__link), // Buttons
	.stk-button__inner-text, // Button text
	.stk-block li, // For icon list texts
	.stk-block p,
	.stk-block h1,
	.stk-block h2,
	.stk-block h3,
	.stk-block h4,
	.stk-block h5,
	.stk-block h6),
	// These are outside :is() since pseudo elements won't compile correctly.
	.stk--has-background-overlay::before, // Image background overlays
	.stk-block .stk-button::before, // For button animations
	.stk-block .stk-button::after, // For button animations
	.stk-img-resizer-wrapper::after, // Image block overlay.
	.stk-img-resizer-wrapper::before, // Image block hover ovelay.
	.stk-block li::marker, // For icon list marker
	.stk-block-tabs__tab { // Tabs block
		transition: all var(--stk-transition-duration, 0.12s) cubic-bezier(0.45, 0.05, 0.55, 0.95), margin 0s, flex 0s, max-width 0s, visibility 0s; // Don't include flex & max-width since column widths would animate.
		border-width: 1px;
		border-style: none;
	}
	.stk--svg-wrapper :is(.stk--shape-icon, .stk--inner-svg, .stk--inner-svg *) {
		transition: all var(--stk-transition-duration, 0.12s) cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
	// Icons can have a delay in transitions. It's more apparent when transitioning fill, removing it seems to fix this.
	.stk--svg-wrapper .stk--inner-svg svg:last-child {
		transition: all var(--stk-transition-duration, 0.12s) cubic-bezier(0.45, 0.05, 0.55, 0.95), fill 0s;
	}
}

// The transitions above may interfere with Gutenberg transitions like moving
// blocks vertically/horizontally. Gutenberg adds inline transforms to move
// blocks, disable transitions.
[data-type^="stackable/"][style*="transform:"] {
	transition: none !important;
}
