@import "block-design-system";

// TODO: revisit this since we're aiming for block max-width instead
// Block background when the block is full width
[data-align="full"] > .stk-block-background {
	padding: cssvar(block-background-full-padding);
}

// Block spacing when horizontally oriented.
.stk--block-orientation-horizontal > .block-editor-inner-blocks > .block-editor-block-list__layout > * + * {
	margin-left: cssvar(block-margin-bottom);
}

// Heading and Subtitle combinations should be spaced closer.
[data-type="stackable/subtitle"] + [data-type="stackable/heading"] .stk-block-heading,
[data-type="stackable/heading"] + [data-type="stackable/subtitle"] .stk-block-subtitle {
	margin-top: calc(-1 * #{ cssvar(block-margin-bottom) } + 8px);
}
[data-type="stackable/subtitle"] + [data-type="stackable/heading"] .stk-block-heading__text {
	margin-top: 0;
}
