/**
 * Core Block Styles for the editor
 */
@import "editor-breakpoints";
@import "editor-block-transitions";

// Position relative (required for block links) will not work properly with
// margin bottom resizer, make it static in the editor.
.editor-styles-wrapper .stk-block {
	position: static;
}

// Blocks
.editor-styles-wrapper [data-block][data-type^="stackable/"],
[data-type^="stackable/"] > .wp-block {
	margin-top: 0;
	margin-bottom: 0;
	z-index: 1;
}


// Make sure by default, our inner blocks are center aligned.
.stk-row {
	> .stk-inner-blocks:not(.alignfull):not(.alignwide) {
		// --block-max-width comes from Blocksy
		// --responsive--aligndefault-width comes from Twenty Twenty One
		max-width: var(--block-max-width, var(--responsive--aligndefault-width));
		margin-left: auto;
		margin-right: auto;
	}
}
// Some themes add margins when alignwide and alignfull are used.
.editor-styles-wrapper .stk-row {
	> .stk-inner-blocks.wp-block[data-align] {
		margin: 0 !important;
	}
}

/**
 * Resizeable rows and columns
 */
.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout > div {
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	width: 100%; // Some native blocks have auto widths so they won't follow left/center/right text alignment e.g. buttons
}
:where(.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout) > div {
	flex: 1 1 0;
}
// Mobile auto-collapses all columns.
@include mobile {
	:where(.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout) > div {
		flex: 1 1 100%;
	}
}
[data-type^="stackable/"] .stk-row,
.stk-column .block-editor-block-list__layout {
	display: block;
}

// Inner block orientation
.stk--block-orientation-vertical > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: column;
	> * { // Some native blocks can have margin left/right auto, they will center.
		width: 100%;
	}
}
.stk--block-orientation-horizontal > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: row;
	> * {
		margin-top: 0;
		margin-bottom: 0;
	}
	> [data-block] {
		width: auto;
	}
}

// Columns should occupy the entire available area.
[data-type^="stackable/"] {
	width: 100%;
	display: flex;
}
[data-type^="stackable/"] > div {
	width: 100%;
}
.stk-column-resizeable {
	height: 100% !important;
	width: 100% !important;
	max-width: none !important; // Don't force the max-width, we'll rely on the JS part.
	display: flex;
}

// Columns can be collapsed for tablet and mobile only.
@include desktop {
	.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout,
	.stk-row .block-editor-block-list__layout {
		flex-wrap: nowrap;
	}
}
// Mobile auto-collapses all columns.
@include mobile {
	.stk-row .block-editor-block-list__layout > div {
		flex: 1 1 100%;
		max-width: 100%;
	}
}

// Block backgrounds.
.stk-block-background.stk-column {
	overflow: auto; // Since our block background change the margin of it's contents, we need this to prevent the contents from clipping.
}

// Block inner blocks.
.stk-inner-blocks > * > .block-editor-block-list__layout {
	> [data-block]:first-child {
		margin-top: 0;
	}
	// Last of type since there's a .block-list-appender
	> [data-block]:nth-last-child(2) {
		margin-bottom: 0;
		&[data-type^="stackable/"] > .stk-block {
			margin-bottom: 0;
		}
	}
	> [data-block]:first-child:last-child {
		margin-bottom: 0;
		&[data-type^="stackable/"] > .stk-block {
			margin-bottom: 0;
		}
	}
}

// Block float alignment.
[data-type^="stackable/"] {
	&[data-align="left"] {
		float: left;
	}
	&[data-align="right"] {
		float: right;
	}
	&[data-align="left"],
	&[data-align="right"] {
		width: auto;
		> .wp-block[data-align] {
			height: auto;
		}
		// Default width for inner blocks.
		.block-editor-block-list__layout:first-of-type > [data-type^="stackable/"] {
			max-width: 350px;
			width: auto;
		}
	}

}

// Wide and full width blocks are limited by some themes in the editor, make them span any width.
.editor-styles-wrapper [data-type^="stackable/"][data-align="wide"] .wp-block:not(.alignwide):not(.alignfull),
.editor-styles-wrapper [data-type^="stackable/"][data-align="full"] .wp-block:not(.alignwide):not(.alignfull) {
	max-width: 100%;
}

// Headings
// Our headings have top margins if they're not the first heading, handle the different block structures.
.editor-styles-wrapper [data-type^="stackable/heading"]:first-child .stk-block-heading__text {
	margin-top: 0;
}

// Button alignment.
.stk-button-group {
	&:not(.stk-collapse-on-desktop) .block-editor-block-list__layout {
		justify-content: var(--stk-alignment-justify-content);
	}
	&:is(.stk--collapse-on-desktop) .block-editor-block-list__layout {
		align-items: var(--stk-alignment-justify-content);
	}
}

@include tablet {
	.stk-button-group:is(.stk--collapse-on-tablet) .block-editor-block-list__layout {
		align-items: var(--stk-alignment-justify-content);
	}
}

@include mobile {
	.stk-button-group:is(.stk--collapse-on-mobile) .block-editor-block-list__layout {
		align-items: var(--stk-alignment-justify-content);
	}
}

.stk-button-group .block-editor-block-list__layout {
	column-gap: 12px;
	align-items: center;
}

// We vertically center the buttons, but this doesn't work properly in the editor.
:is([data-type="stackable/button-group"], [data-type="stackable/load-more"]) .stk-button-group.stk-inner-blocks {
	align-items: normal;
	justify-content: var(--stk-alignment-justify-content);
}

