@mixin desktop {
	.stk-preview-device-desktop {
		@content;
	}
}
@mixin desktop-tablet {
	.stk-preview-device-desktop,
	.stk-preview-device-tablet {
		@content;
	}
}
@mixin tablet {
	.stk-preview-device-tablet {
		@content;
	}
}
@mixin mobile {
	.stk-preview-device-mobile {
		@content;
	}
}
