#editor {
	.stk-block,
	.stk-container,
	.stk-container-padding,
	.stk-img-wrapper, // Images.
	.stk-img-wrapper img, // Images.
	.stk--has-background-overlay::before, // Image background overlays
	.stk-block p,
	.stk-block h1,
	.stk-block h2,
	.stk-block h3,
	.stk-block h4,
	.stk-block h5,
	.stk-block h6 {
		transition: all 0.12s cubic-bezier(0.45, 0.05, 0.55, 0.95), margin-bottom 0s;
	}
}
