/**
 * Place styles here that fixes theme specific issues in the editor.
 */

// Blocksy theme
// Full width needs more margins on the sides to make look full.
.ct-theme-editor-styles .is-root-container > [data-type^="stackable/"][data-align="full"] {
	margin-left: -10px;
	margin-right: -10px;
}

// Default block width and wide widths - used for Content Width of column-type blocks.
.ct-theme-editor-styles {
	--stk-block-width-default-detected: var(--has-wide, var(--block-max-width));
	--stk-block-width-wide-detected: var(--has-wide, var(--wide-block-max-width));
}

/**
 * Twenty Twenty Two full width support.
 */
.stk--is-twentytwentytwo-theme {
	// We can have a gap on the sides.
	.is-root-container > [data-type^="stackable/"][data-align="full"] {
		margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
		margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	}
}

/**
 * Twenty Twenty One uses an old custom properties which are no longer standard.
 */
.stk--is-twentytwentyone-theme {
	--stk-block-width-default-detected: var(--responsive--aligndefault-width);
	--stk-block-width-wide-detected: var(--responsive--alignwide-width);
}

/**
 * Astra
 */
.stk--is-astra-theme {
	// The inner width is not centered.
	[data-type^="stackable/"]:is([data-align="full"], [data-align="wide"]) .stk-block-content.alignwide {
		margin-left: auto;
		margin-right: auto;
	}
}
