/**
 * Core Block Styles for the editor
 */
@import "editor-breakpoints";
@import "editor-block-transitions";
@import "editor-compat";

.editor-styles-wrapper .stk-block {
	// Position relative (required for block links) will not work properly with
	// margin bottom resizer, make it static in the editor.
	position: static;
	// In the template editor, the blocks can go past their containers.
	box-sizing: border-box;
	[data-type^="stackable/"] {
		width: 100%;
		margin-inline: auto;
	}
}
// Stackable blocks inside a Row block stretch the whole width.
.editor-styles-wrapper [data-type="core/group"] > [data-type^="stackable/"] {
	width: revert;
	margin-inline: revert;
}

// Blocks
.editor-styles-wrapper [data-block][data-type^="stackable/"],
[data-type^="stackable/"] > .wp-block {
	margin-top: 0;
	margin-bottom: 0;
	z-index: 1;
}
// The block contents may go out of bounds in tablet/mobile editor preview.
.stk-block-content {
	box-sizing: border-box;
}

// Add small margin between blocks so that placing your mouse between blocks
// will make the block appender appear.
.is-root-container > [data-block][data-type^="stackable/"]:not([data-type^="stackable/image"], [data-type^="stackable/timeline"], [data-align="full"]) ~ [data-block][data-type^="stackable/"]:not([data-type^="stackable/image"], [data-type^="stackable/timeline"], [data-align="full"]) {
	margin-top: 8px;
}
// Add small margin between blocks so that placing your mouse between blocks
// will make the block appender appear. This is for nested blocks.
// Nested images will not have gaps.
:where(:not(.stk-block-icon-label):not(.stk-block-blockquote):not(.stk-block-columns):not(.stk-block-expand):not(.stk-block-button-group) > .stk-inner-blocks > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-block][data-type^="stackable/"]:not([data-type^="stackable/image"])) ~ [data-block][data-type^="stackable/"]:not([data-type="stackable/column"], [data-type^="stackable/image"]) {
	margin-top: 8px;
}

// Block widths,
.edit-widgets-block-editor .is-root-container > [data-type^="stackable/"] {
	margin-left: auto;
	margin-right: auto;
}
// Wide align, make sure the contents are centered.
.is-root-container > [data-type^="stackable/"][data-align="wide"] {
	margin-left: auto;
	margin-right: auto;
	> .wp-block[data-align] {
		width: 100%;
	}
	> .wp-block[data-align="wide"] {
		max-width: none;
	}
}
// When full alignment, remove the sides.
.is-root-container > [data-type^="stackable/"][data-align="full"] {
	// Only remove the sides if no alignfull class that can be overwritten.
	&:not(.alignfull) {
		margin-left: -8px;
		margin-right: -8px;
	}
	> .wp-block[data-align="full"] {
		margin-left: 0 !important;
		margin-right: 0 !important;
		max-width: none;
		width: 100%;
	}
}
// Make sure by default, all our inner blocks are center aligned.
.stk-inner-blocks.stk-content-align {
	margin-top: 0;
	margin-bottom: 0;
	&:not(.alignfull):not(.stk-button-group) {
		margin-left: auto;
		margin-right: auto;
	}
}

// Columns should occupy the entire available area.
[data-type^="stackable/"] {
	display: flex;
}
[data-type^="stackable/"] > * { // Match all elements since this can be modified by the user.
	width: 100%;
}

/**
 * Block widths for when blocks are placed inside columns, and Content Width is set to center or wide.
 */
:root {
	--stk-block-width-default-detected: 900px;
	--stk-block-width-wide-detected: calc(80vw - 280px); // Make way for the inspector
}

// For wide/full width blocks, but with their contents center aligned.
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"]:is([data-align="wide"], [data-align="full"]) > .stk-block > .stk-inner-blocks:not(.alignwide):not(.alignfull)),
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"]:is([data-align="wide"], [data-align="full"]) [data-type^="stackable/"][data-align="center"]) {
	// --stk-block-default-width is a Stackable setting
	// --stk-block-width-default-detected is from the fallback autodetected value.
	max-width: var(--stk-block-default-width, var(--stk-block-width-default-detected, 900px)) !important;
}

:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"]:is([data-align="wide"], [data-align="full"]) > .stk-block > .stk-inner-blocks.alignwide),
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"]:is([data-align="wide"], [data-align="full"]) [data-type^="stackable/"][data-align="wide"]) {
	// --stk-block-default-width is a Stackable setting
	// --stk-block-width-default-detected is from the fallback autodetected value.
	max-width: var(--stk-block-wide-width, var(--stk-block-width-wide-detected, calc(80vw - 280px))) !important; // Make way for the inspector
}

// If the content width is wide/full, don't limit the block's default width.
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) .stk-inner-blocks [data-block] .wp-block:not([data-align])) {
	max-width: none !important;
}

// If main block is centered and inner block is centered too, no max-width for the block to occupy entire centerd width.
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"][data-align="center"] [data-type^="stackable/"][data-align="center"]) {
	max-width: none !important;
}
// Nested wide blocks will have their data-align wrappers limited by Gutenberg, make them occupy entire wide width of the parent.
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"] [data-type^="stackable/"][data-align="wide"]) {
	width: 100% !important;
}
// If the main container is wide and the Content Width is wide too, don't set a max width so it occupies the whole space.
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"][data-align="wide"] > .stk-block > .stk-inner-blocks.alignwide) {
	max-width: none !important;
}
:where(:is(.stk-preview-device-desktop, .stk-preview-device-tablet) [data-type^="stackable/"][data-align] > .stk-block > .stk-inner-blocks.alignfull) {
	max-width: none !important;
}

// Some themes add margins when alignwide and alignfull are used.
.editor-styles-wrapper {
	> .stk-inner-blocks.stk-content-align.wp-block[data-align] {
		margin: 0 auto !important;
	}
}

/**
 * Resizeable rows and columns
 */
.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
}
.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout > div:not(.block-list-appender) {
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	width: 100%; // Some native blocks have auto widths so they won't follow left/center/right text alignment e.g. buttons
	max-width: inherit;
}
:where(.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout) > div {
	flex: 1 1 0;
}
// Mobile auto-collapses all columns.
@include mobile {
	:where(.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout) > div {
		flex: 1 1 100%;
	}
}
[data-type^="stackable/"] .stk-row {
	display: block;
}
:where(.stk-inner-blocks > .block-editor-inner-blocks > .block-editor-block-list__layout) {
	display: flex;
	flex-direction: column;
}

// Inner block orientation
.stk--block-orientation-vertical > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: column;
	> * { // Some native blocks can have margin left/right auto, they will center.
		width: 100%;
	}
}
.stk--block-horizontal-flex > .block-editor-inner-blocks {
	width: 100%;
	> .block-editor-block-list__layout {
		display: flex !important;
		flex-direction: row;
		justify-content: space-evenly; // Default justify-content for horizontal flex.
		> * {
			margin-top: 0;
			margin-bottom: 0;
			> .stk-block {
				margin-bottom: 0;
			}
		}
		> [data-block] {
			width: auto;
			margin-inline: revert;
		}
	}
}

// Columns
.stk-column-resizeable {
	height: 100% !important;
	width: 100% !important;
	max-width: none !important; // Don't force the max-width, we'll rely on the JS part.
	display: flex;
}

// Columns can be collapsed for tablet and mobile only.
@include desktop {
	.stk-row > .stk-block-content > .block-editor-inner-blocks > .block-editor-block-list__layout {
		flex-wrap: nowrap;
	}
}
// Mobile auto-collapses all columns.
@include mobile {
	.stk-row > * > * > .block-editor-block-list__layout > div {
		flex: 1 1 100%;
		max-width: 100%;
	}
}

// Block backgrounds.
.stk-block-background.stk-column {
	overflow: auto; // Since our block background change the margin of it's contents, we need this to prevent the contents from clipping.
}

// Block inner blocks.
.stk-inner-blocks > * > .block-editor-block-list__layout {
	> [data-block]:first-child {
		margin-top: 0;
	}
	// Last of type since there's a .block-list-appender
	// If the block parent is locked, there will be no appender block and data-is-drop-zone will not be present.
	&:is([data-is-drop-zone="true"]) > [data-block]:nth-last-child(1) {
		margin-bottom: 0;
		&[data-type^="stackable/"] > .stk-block {
			margin-bottom: 0;
		}
	}
	> [data-block]:first-child:last-child {
		margin-bottom: 0;
		&[data-type^="stackable/"] > .stk-block {
			margin-bottom: 0;
		}
	}
}

// Block appender in latest Gutenberg adds margins on the appender.
.stk-block .block-list-appender {
	margin: 0px;
}
.stk-block .block-editor-block-list__block .block-list-appender:only-child {
	align-self: stretch;
}

// Block float alignment.
[data-type^="stackable/"] {
	&[data-align="left"] {
		float: left;
	}
	&[data-align="right"] {
		float: right;
	}
	&[data-align="left"],
	&[data-align="right"] {
		width: auto;
		> .wp-block[data-align] {
			height: auto;
		}
		// Default width for inner blocks.
		.block-editor-block-list__layout:first-of-type > [data-type^="stackable/"] {
			max-width: 350px;
			width: auto;
		}
	}

}

// Headings
// Our headings have top margins if they're not the first heading, handle the different block structures.
.editor-styles-wrapper [data-type^="stackable/heading"]:first-child .stk-block-heading__text {
	margin-top: 0;
}

// Deprecated styles.
@import "deprecated-editor-block";

.stk-block .stk-button-group .block-editor-block-list__layout {
	align-items: center;
}

[data-block] .stk-inner-blocks {
	flex: inherit;
}

// We vertically center the buttons, but this doesn't work properly in the editor.
:is([data-type="stackable/button-group"], [data-type="stackable/load-more"]) .stk-button-group.stk-inner-blocks {
	align-items: normal;
	justify-content: var(--stk-alignment-justify-content);
}

