@import "common";

.stk-progress-circle {
	svg {
		circle {
			// This fixes the lag when resizing the progress circle and the circle shape resizes after a delay.
			cy: calc(var(--progress-size, 150) / 2) !important;
			cx: calc(var(--progress-size, 150) / 2) !important;
			will-change: width;
		}
		&.force-redraw {
			circle {
				width: 99.99%;
			}
		}
	}
}
