@import "common";

.stk-block-progress-circle {
	display: flex;
}

.stk-progress-circle {
	position: relative;
	height: var(--progress-size, 150px);
	width: var(--progress-size, 150px);
	svg {
		width: 100%;
		height: 100%;
		transform: rotate(-90deg);
		circle {
			width: 100%;
			height: 100%;
			fill: none;
			stroke: var(--progress-background, #f0f0f0);
			stroke-width: var(--progress-thickness, 8px);
			stroke-linecap: var(--progress-rounded, "unset");
			cx: 50%;
			cy: 50%;
			r: calc(50% - var(--progress-thickness, 8px) / 2);
		}
	}
	.stk-progress-circle__bar {
		stroke-dasharray: var(--progress-dash-array);
		stroke-dashoffset: var(--progress-dash-array);
		stroke: var(--progress-color, #3498db);
	}
	.number {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&.stk--with-animation {
		.stk-progress-circle__bar {
			will-change: stroke-dashoffset;
			@include transition();
		}
	}
	&.animate {
		.stk-progress-circle__bar {
			stroke-dashoffset: var(--progress-dash-offset);
		}
	}
}

@media (prefers-reduced-motion) {
	.stk-progress-circle {
		&.stk--with-animation {
			.stk-progress-circle__bar {
				transition: none;
			}
		}
	}
}
