.stk-block-styles-preview {
	width: 100%;
	height: 80px;
	border: 2px solid transparent;
	margin: 0;
}
.block-editor-block-styles__icon {
	fill: var(--wp-admin-theme-color);
}
.block-editor-block-styles__item:hover {
	.block-editor-block-styles__icon {
		fill: var(--wp-admin-theme-color-darker-10);
	}
}
