.stk-block-heading__top-line,
.stk-block-heading__bottom-line {
	width: 100px;
	height: 4px;
	background-color: #000;
}
// Don't follow theme margins.
.stk-block-heading--v2 {
	.stk-block-heading__text:not(.stk-block-heading--use-theme-margins) {
		margin: 0 !important;
	}
}

.stk-block-heading--v3 {
	.stk-block-heading__text:not(.stk-block-heading--use-theme-margins) {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}
