/**
 * Editor styles for the Number Box Block.
 *
 * Enqueued in the editor only.
 */

.ugb-number-box {
	.ugb-number-box__number[data-is-placeholder-visible="true"] {
		transition: none;
		height: 2.5em;
		width: 2.5em;
		left: calc(50% - 2.5em / 2); // Prevent transitions.
	}
	// Ensure the number is behind.
	.ugb-number-box__item > .editor-rich-text {
		z-index: 3 !important;
	}
	.ugb-number-box__item > .ugb-number-box__content {
		z-index: 4 !important;
	}
}
