@import "common";

.stk-block-number-box__container,
div.stk-block-number-box__text {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 56px;
	flex: 0 1 auto;
}
.stk-block-number-box.stk--has-shape {
	.stk-block-number-box__container,
	div.stk-block-number-box__text {
		background: cssvar(button-background-color);
		color: var(--stk-button-text-color, #fff);
		border-radius: 100%;
		width: 96px;
		height: 96px;
		&:where(:hover) {
			#{ '--stk-button-background-color' }: cssvar(button-background-color-hover);
			#{ '--stk-button-text-color' }: cssvar(button-text-color-hover);
		}
	}
}
