@import "common";

.stk-block-timeline > .stk-inner-blocks {
	display: grid !important;
	grid-template-columns: 1fr var(--line-dot-size, 16px) 1fr;
	grid-template-rows: auto;
	column-gap: var(--gap, 16px);
	align-items: center;
}
.stk-block-timeline {
	position: relative !important;
}
.stk-block-timeline--left > .stk-inner-blocks > * {
	grid-row: 1 / 2;
}
// prevents content to be overlapped by background
.stk-block-timeline > .stk-inner-blocks > * {
	z-index: 2;
}

.stk-block-timeline > .stk-inner-blocks::after,
.stk-block-timeline__middle,
.stk-block-timeline__middle::after {
	background: none !important;
}
.stk-block-timeline__middle::after,
.stk-block-timeline > .stk-inner-blocks::after {
	content: none !important;
}

.stk-block-timeline__middle {
	z-index: 2 !important;
}
.stk-block-timeline__middle__dot {
	border-radius: var(--line-dot-border-radius, 100%);
	width: var(--line-dot-size, 16px);
	height: var(--line-dot-size, 16px);
	position: relative;
	z-index: 2;
}
.stk-block-timeline__middle__dot,
.stk-block-timeline__vertical-line {
	overflow: hidden;
	background: var(--line-bg-color, #eee) !important;
}
.stk-block-timeline__middle__fill {
	position: absolute;
	width: 100%;
	background: var(--line-accent-bg-color, #000) !important;
}
.stk-block-timeline__vertical-line {
	position: absolute;
	top: 0px;
	inset-inline-start: calc(50% - var(--line-bg-width, 3px) / 2);
	width: var(--line-bg-width, 3px);
	height: 100%;
	bottom: unset;
}
.stk-block-timeline__vertical-line__fill {
	position: absolute;
	width: var(--line-bg-width, 3px);
	background: var(--line-accent-bg-color, #000) !important;
	max-height: 100%;
	z-index: 3 !important;
}

// branching line
.stk-block-timeline__middle__branch {
	position: absolute;
	top: calc(50% - var(--line-bg-width, 3px) / 2);
	inset-inline-start: 50%;
	height: var(--line-bg-width, 3px);
	width: var(--content-line, 0);
	border-radius: var(--line-bg-width, 3px);
	background: var(--line-bg-color, #eee) !important;
	overflow: hidden;
}
.stk-block-timeline__middle__branch__fill {
	position: absolute;
	top: calc(50% - var(--line-bg-width, 3px) / 2);
	width: var(--content-line, 0);
	background: var(--line-accent-bg-color, #000) !important;
}
.stk-block-timeline--left .stk-block-timeline__middle__branch {
	inset-inline-start: auto;
	inset-inline-end: 50%;
}

// for first timeline block
[data-type="stackable/timeline"]:not([data-type="stackable/timeline"] + [data-type="stackable/timeline"]) > .stk-block-timeline .stk-block-timeline__vertical-line {
	top: unset;
	bottom: 0;
}

[data-type="stackable/timeline"]:is([data-type="stackable/timeline"] + style + [data-type="stackable/timeline"]) > .stk-block-timeline .stk-block-timeline__vertical-line {
	top: 0;
}

[data-type="stackable/timeline"]:not([data-type="stackable/timeline"] + [data-type="stackable/timeline"]) > .stk-block-timeline .stk-block-timeline__vertical-line__fill {
	top: calc(var(--line-dot-size, 16px) / -2);
	max-height: calc(100% + var(--line-dot-size, 16px));
}

// set max height to 0 if timeline block is single
[data-type="stackable/timeline"]:not([data-type="stackable/timeline"] + [data-type="stackable/timeline"]) > .stk-block-timeline.stk-block-timeline--last .stk-block-timeline__vertical-line {
	max-height: 0;
}

// Remove the top 8px gap.
[data-type="stackable/timeline"] + [data-type="stackable/timeline"] {
	margin-top: 0 !important;
}

@include tablet-mobile {
	// In tablet and mobile, fixed background shows weirdly, so we remove it.
	.stk-block-timeline__middle,
	.stk-block-timeline > .stk-inner-blocks::after {
		--fixed-bg: linear-gradient(to bottom, var(--line-accent-bg-color, #000) 0, var(--line-accent-bg-color-2, #000) var(--line-accent-bg-location, 50%));
	}
	.stk-block-timeline__middle__branch__fill,
	.stk-block-timeline__vertical-line__fill,
	.stk-block-timeline__middle__fill {
		background: transparent !important;
	}
	.stk-block-timeline__middle__branch,
	.stk-block-timeline__vertical-line,
	.stk-block-timeline__middle__dot {
		background: var(--line-accent-bg-color, #000) !important;
	}
}

@include mobile {
	.editor-styles-wrapper .stk-block.stk-block-timeline {
		--content-line: 0 !important;
		padding-top: 0;
	}
	.stk-block-timeline > .stk-inner-blocks {
		grid-template-columns: var(--line-dot-size, 16px) 1fr;
		grid-template-rows: auto 1fr;
		align-items: flex-start;
		padding-left: 16px;
	}
	.stk-block-timeline > .stk-inner-blocks::after {
		inset-inline-start: calc(var(--line-dot-size, 16px) / 2 - var(--line-bg-width, 3px) / 2 + 16px);
	}
	.stk-block-timeline.stk-block-background .stk-block-timeline__middle {
		margin-left: -16px;
	}
	.stk-block-timeline .stk-block-timeline__middle {
		position: absolute;
		inset-inline-start: 16px;
	}
	.stk-block-timeline .stk-block-timeline__middle__dot {
		top: 16px;
	}
	.stk-block-timeline .stk-block-timeline__content {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		text-align: start;
	}
	.stk-block-timeline .stk-block-timeline__date {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		text-align: start;
	}
	.stk-block-timeline__vertical-line {
		inset-inline-start: calc(16px + var(--line-dot-size, 16px) / 2 - var(--line-bg-width, 3px) / 2);
	}

	[data-type="stackable/timeline"]:not([data-type="stackable/timeline"] + [data-type="stackable/timeline"]) > .stk-block-timeline .stk-block-timeline__vertical-line {
		top: 16px;
	}

	[data-type="stackable/timeline"]:is([data-type="stackable/timeline"] + style + [data-type="stackable/timeline"]) > .stk-block-timeline .stk-block-timeline__vertical-line {
		top: 0;
	}
}
