[data-type="stackable/map"] {
	// Fixes Google Map displaying blank on the editor due to display flex applied
	// on [data^=stackable/].
	// display: block !important;

	// Move resizer down a bit.
	.stk-resizer-tooltip {
		top: calc(50% + 40px);
	}

	iframe {
		height: 100%;
	}

	// Clicking on the map doesn't select the block.
	.stk-block-map__canvas,
	iframe {
		pointer-events: none;
	}
}

// This fixes first time height handler dragging.
.stk-block-map {
	height: 100%;
}

.components-panel__body:not(.stk--uses-api-key) .stk--needs-api-key {
	opacity: 0.3;
	pointer-events: none;
}
.components-panel__body.stk--needs-api-key:not(.stk--uses-api-key) {
	.editor-panel-toggle-settings__panel-title {
		opacity: 0.3;
		pointer-events: none;
	}
}

.stk-block-map__api-key-notice {
	margin: 0 0 16px;
}
