.stk-block-map .stk-map-wrapper {
	margin-left: var(--stk-alignment-margin-left, auto);
	margin-right: var(--stk-alignment-margin-right, auto);
}

.stk-block-map__canvas-wrapper,
.stk-block-map__canvas,
.stk-block-map__embedded-map {
	width: 100%;
	height: 100%;
}

.stk-block-map.stk--uses-api-key.stk--missing-api-key .stk-block-map__canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ddd;
	color: #000;
	text-align: center;
}
