.stk-block-button-group.stk-row > .stk-block-content .block-editor-block-list__layout > div.wp-block[data-type="stackable/button"] {
	flex: unset;
	width: unset;

	> div {
		width: unset;
	}
}

// Button alignment.
:where(.has-text-align-center) .stk-block-button-group .block-editor-block-list__layout,
.stk-block-button-group .has-text-align-center .block-editor-block-list__layout {
	justify-content: center;
}
:where(.has-text-align-right) .stk-block-button-group .block-editor-block-list__layout,
.stk-block-button-group .has-text-align-right .block-editor-block-list__layout {
	justify-content: flex-end;
}
:where(.has-text-align-left) .stk-block-button-group .block-editor-block-list__layout,
.stk-block-button-group .has-text-align-left .block-editor-block-list__layout {
	justify-content: flex-start;
}
