@import "common";

.stk-block.stk-block-button {
	width: auto;
	margin: 0;
	text-align: center;
}

.stk-block-button.is-style-ghost {
	.stk-button {
		&::before {
			border-width: 2px;
			border-color: cssvar(button-background-color);
		}
		.stk--inner-svg {
			color: cssvar(button-background-color);
		}

		&:hover {
			.stk-button__inner-text {
				color: cssvar(button-background-color);
			}
		}

		> .stk-button__inner-text {
			color: cssvar(button-background-color);
		}
	}
}

.stk-block-button.is-style-plain {
	.stk-button {
		.stk--inner-svg {
			color: cssvar(button-background-color);
		}
		&:hover {
			.stk-button__inner-text {
				color: cssvar(button-background-color);
			}
		}

		> .stk-button__inner-text {
			color: cssvar(button-background-color);
		}
	}
}
