:is(.edit-post-sidebar, .edit-widgets-sidebar, .interface-complementary-area) {
	--stk-inspector-navigation-view: 290px;
}


.stk-navigation-view__wrapper {
	position: fixed !important;
	bottom: 26px;
	width: 280px !important;
	z-index: 9;
	background: #fafafa;
	.ugb-panel--navigation-view {
		padding: 0 !important;
	}
	&:not(.stk--is-resizing) {
		height: auto !important;
		.ugb-panel--navigation-view.is-opened {
			height: var(--stk-inspector-navigation-view);
		}
	}

	// Make top more apparent.
	box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.2), 0 -2px 0 0 #d4d4d4;

	.components-panel__body-toggle {
		padding: 12px 16px !important;
	}
	.components-panel__body-title {
		// The title can become sticky because of how our panels are set up.
		position: revert !important;
		// The title when closed has side margins.
		margin: 0 !important;
	}

	// The list view goes out of the container.
	table {
		table-layout: fixed;
		width: 100%;
	}

	// Fixing the scrollbar.
	.ugb-panel--navigation-view {
		display: flex;
		flex-direction: column;
		> .components-panel__body-title {
			margin-bottom: 0 !important;
		}
		.stk-panel--navigation-view__wrapper {
			flex-shrink: 1;
			overflow: auto;
			padding: 8px;
		}
	}

	// Hide the circle resize indicator.
	.components-resizable-box__handle::after {
		display: none !important;
	}
	// The resize bar should be more visible.
	.components-resizable-box__side-handle {
		z-index: 4 !important;
	}
}

:is(.edit-post-sidebar, .edit-widgets-sidebar, .interface-complementary-area).ugb--has-panel-tabs {
	padding-bottom: var(--stk-inspector-navigation-view);
	> .components-panel {
		height: 100%;
		> .block-editor-block-inspector {
			height: 100%;
		}
	}
}

// Lessen the amount of indentation of the list view in the navigation since we have a smaller area.
.stk-panel--navigation-view__wrapper {
	@for $i from 1 through 20 {
		.block-editor-list-view-leaf[aria-level="#{ $i }"] .block-editor-list-view__expander {
			margin-left: 16px * ($i - 1);
		}
	}
}
