.stk-block-image .stk-img-wrapper {
	margin-left: var(--stk-alignment-margin-left, auto);
	margin-right: var(--stk-alignment-margin-right, auto);
}
// Some themes might add a margin to the image.
.stk-block-image figure {
	margin: 0;
}

// Placeholder images will collapse if flex is used.
.stk--block-horizontal-flex > .block-editor-inner-blocks > .block-editor-block-list__layout {
	[data-type="stackable/image"]:has(.stk-img-placeholder) {
		width: 150px;
		.stk-block-image:not(.stk--is-resizing) .stk-img-placeholder.stk--never-resized {
			height: 200px !important;
		}
		> .stk-block-image {
			width: 100%;
		}
	}
}

.stk-block-image .stk-img-figcaption {
	margin: 0;
	text-align: left;
}
