@import "common";

[data-type="stackable/tab-content"] {
	margin-top: 0 !important;
}

@include mobile {
	.wp-block-stackable-tab-labels {
		width: 100% !important;
	}
	.stk-block.stk-block-tab-labels:not(.stk-block-tab-labels--wrap-mobile) {
		overflow-x: auto !important;
		width: 100%;
		&::-webkit-scrollbar {
			height: 0 !important;
		}
		.stk-block-tab-labels__wrapper {
			flex-wrap: nowrap;
			width: max-content;
			min-width: -moz-available;
			min-width: -webkit-fill-available;
			min-width: fill-available;
		}
	}
}
