.stk-block-tab-labels__wrapper {
	display: flex;
	flex-wrap: wrap;
	// width: max-content;
	.tabs-tabs {
		margin: 0;
	}
}

.stk-block-tabs__tab {
	border: 1px solid;
	margin: 10px;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	display: flex;
	align-items: center;

	> p {
		margin: 0;
	}
}

.stk-block-tabs .block-editor-inner-blocks  .stk-block-tab-labels.stk-block {
	margin-bottom: 0;
}

.stk-tabs__add-tab {
	background-color: #979494;
	border: 1px solid;
	margin: 10px;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
}

.stk-block-tab-labels__text > p {
	margin: 0;
}

