@import "common";

.stk-block-tab-labels {
	--stk-block-margin-bottom: 0;
	--tabs-flex: none;
	--tabs-column-gap: 12px;
	--tabs-row-gap: 8px;
}
.stk-block-tabs__tab {
	all: unset;
	outline: revert;
	cursor: pointer;
	padding: 12px;
	flex: var(--tabs-flex, none);
}
.stk-block-tab-labels__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: var(--tabs-column-gap, 12px);
	row-gap: var(--tabs-row-gap, 8px);
}
.stk-block-tabs--horizontal .stk-block-tab-labels__wrapper {
	flex-direction: row;
}
.stk-block-tabs--vertical .stk-block-tab-labels__wrapper {
	flex-direction: column;
}

.stk-block-tab-labels__wrapper {
	border-bottom: 1px solid #e9e9e9;
}
.stk-block-tabs__tab {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	--stk-icon-size: 16px;
}
.stk-block-tabs__tab {
	margin-bottom: -1px;
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.3s ease-in-out;
	&[aria-selected="false"] * {
		opacity: 0.7;
	}
	&[aria-selected="true"] {
		border-bottom-color: var(--stk-tab-accent-color);
	}
}
.stk-block-tab-labels__text {
	flex: 0 1 auto;
}

@include mobile {
	.stk-block-tab-labels:not(.stk-block-tab-labels--wrap-mobile) {
		overflow-x: auto;
		&::-webkit-scrollbar {
			height: 0 !important;
		}
		.stk-block-tab-labels__wrapper {
			flex-wrap: nowrap;
			width: max-content;
			min-width: -moz-available;
			min-width: -webkit-fill-available;
			min-width: fill-available;
		}
	}
}
