.stk-block-video-popup-button {
	.block-editor-block-list__layout {
		display: grid !important;
		[data-block] {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			margin: 0;
			display: flex;
			align-items: center;
		}
	}
	[data-type="stackable/icon"] {
		z-index: 2 !important;
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto !important;
		transform: translate(-50%, -50%);
	}
	// Lower the image dimension overlay.
	[data-type="stackable/image"] {
		.stk-img-resizer-tooltip {
			top: 80%;
		}
	}
}
.editor-styles-wrapper .stk-block-video-popup-button [data-block] {
	max-width: none;
}
