/**
 * Frontend styles for the Pullquote Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

blockquote.ugb-pullquote {
	border: 0 !important;
	@include baseBlock();
	@include box();
	text-align: center;
	padding: $box-vert-padding;
	position: relative;
	overflow: hidden;
	--quote-color: rgba(129, 141, 165, 0.08);
	&,
	p {
		position: relative;
		z-index: 2;
		&::after,
		&::before {
			display: none;
		}
	}
	&::before {
		content: "❛❛";
		display: block;
		position: absolute;
		font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
		font-style: normal;
		font-size: 200px;
		line-height: 1em;
		left: -35px;
		top: -15px;
		opacity: 1;
		color: var(--quote-color);
		z-index: 1;
	}
}
