/**
 * Frontend styles for the Text Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-text__text-wrapper {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	grid-column-gap: #{ $box-hori-padding };
}
.ugb-text__text {
	display: flex;
	flex-direction: column;
}

/**
 * Template grid for column rules.
 */
.ugb-text--has-rule {
	&.ugb-text--columns-2 {
		.ugb-text__text-wrapper {
			grid-template-columns: 1fr 1px 1fr;
		}
	}
	&.ugb-text--columns-3 {
		.ugb-text__text-wrapper {
			grid-template-columns: 1fr 1px 1fr 1px 1fr;
		}
	}
	&.ugb-text--columns-4 {
		.ugb-text__text-wrapper {
			grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
		}
	}
}
.ugb-text__rule {
	width: 1px;
	background: #ddd;
	height: 100%;
	margin: auto;
}

.ugb-text--design-side-title-1,
.ugb-text--design-side-title-2 {
	.ugb-block-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: #{ $box-hori-padding };
		grid-row-gap: 0;
	}
}

/**
 * For side title 1, we have equal lengths of columns.  Since our title is in
 * another grid, and our text uses the CSS column rule, we modify the grid to
 * make them even.
 */
.ugb-text--design-side-title-1 {
	&.ugb-text--columns-2 {
		.ugb-block-content {
			grid-template-columns: 1fr 2fr;
		}
	}
	&.ugb-text--columns-3 {
		.ugb-block-content {
			grid-template-columns: 1fr 3fr;
		}
	}
	&.ugb-text--columns-4 {
		.ugb-block-content {
			grid-template-columns: 1fr 4fr;
		}
	}
	// Reverse title.
	&.ugb-text--reverse-title {
		&.ugb-text--columns-2 {
			.ugb-block-content {
				grid-template-columns: 2fr 1fr;
			}
		}
		&.ugb-text--columns-3 {
			.ugb-block-content {
				grid-template-columns: 3fr 1fr;
			}
		}
		&.ugb-text--columns-4 {
			.ugb-block-content {
				grid-template-columns: 4fr 1fr;
			}
		}
	}
}

.ugb-text--design-side-title-2 {
	.ugb-block-content {
		grid-template-columns: max-content 1fr;
		grid-template-columns: fit-content(75%) 1fr;
	}
	// Reverse title.
	&.ugb-text--reverse-title {
		.ugb-block-content {
			grid-template-columns: 1fr max-content;
			grid-template-columns: 1fr fit-content(75%);
		}
	}
}

/**
 * Reverse title.
 */
.ugb-text--reverse-title {
	.ugb-text__title-wrapper {
		grid-column: 2 / 3;
		grid-row: 1;
	}
	.ugb-text__text-wrapper {
		grid-column: 1 / 2;
		grid-row: 1;
	}
}

/**
 * Subtitle on top of title.
 */
.ugb-text--subtitle-top {
	.ugb-text__subtitle {
		order: 1;
	}
	.ugb-text__title {
		order: 2;
	}
}

// We need this so make the column spacing work.
// .ugb-text__text-wrapper,
.ugb-text__title-wrapper {
	display: flex;
	flex-direction: column;
}

.ugb-text {
	.ugb-text__title {
		margin: 0 0 #{ $text-margin-bottom / 2 } 0;
	}
	.ugb-text__subtitle {
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-text__subtitle {
		font-size: 0.85em;
	}
}

/**
 * Column rule
 */
.ugb-text--has-rule {
	.ugb-text__text {
		column-rule: 1px solid #ddd;
		column-gap: #{ $box-hori-padding * 1.5 };
	}
}

/**
 * Responsive.
 */
.ugb-text {
	&:not(.ugb-text--design-plain) {
		@media screen and (max-width: $break-large) {
			&.ugb-text--columns-3,
			&.ugb-text--columns-4 {
				.ugb-block-content {
					display: block;
				}
			}
		}
		@media screen and (max-width: $break-small) {
			&.ugb-text--columns-3 {
				.ugb-text__text-wrapper {
					grid-template-columns: 1fr;
					grid-auto-flow: row;
				}
				.ugb-text__rule {
					display: none !important;
				}
			}
			&.ugb-text--columns-2 {
				.ugb-block-content {
					display: block;
				}
			}
		}
		@media screen and (max-width: $break-medium) {
			&.ugb-text--columns-4 {
				.ugb-text__text-wrapper {
					grid-template-columns: 1fr 1fr;
					grid-auto-flow: row;
				}
				&.ugb-text--has-rule {
					.ugb-text__text-wrapper {
						grid-template-columns: 1fr 1px 1fr;
						grid-auto-flow: row;
					}
					.ugb-text__rule-2 {
						display: none !important;
					}
				}
			}
		}
		@media screen and (max-width: $break-mobile) {
			.ugb-block-content {
				display: block;
			}
			.ugb-text__text-wrapper {
				grid-template-columns: 1fr !important;
				grid-auto-flow: row;
			}
			.ugb-text__rule {
				display: none !important;
			}
		}
	}

	// Plain
	&.ugb-text--design-plain {
		@media screen and (max-width: $break-large) and (min-width: $break-mobile) {
			&.ugb-text--columns-4 {
				.ugb-text__text-wrapper {
					grid-template-columns: 1fr 1fr;
					grid-auto-flow: row;
				}
				&.ugb-text--has-rule {
					.ugb-text__text-wrapper {
						grid-template-columns: 1fr 1px 1fr;
						grid-auto-flow: row;
					}
					.ugb-text__rule-2 {
						display: none !important;
					}
				}
			}
		}
		@media screen and (max-width: $break-small) {
			&.ugb-text--columns-3 {
				.ugb-text__text-wrapper {
					grid-template-columns: 1fr;
					grid-auto-flow: row;
				}
				.ugb-text__rule {
					display: none !important;
				}
			}
		}

		@media screen and (max-width: $break-mobile) {
			.ugb-text__text-wrapper {
				grid-template-columns: 1fr;
				grid-auto-flow: row;
			}
			.ugb-text__rule {
				display: none !important;
			}
		}
	}

}
