.ugb-design-control-pro-note {
	position: relative;
	text-align: center;
	background: transparent;
	padding: 16px;
	border-radius: 0;
	margin: 16px 0;
	color: #1e1e1e;
	h4 {
		margin: 0 0 4px;
		font-size: 13px;
	}
	p {
		margin-bottom: 16px;
		font-size: 13px;
	}
	a.button {
		color: #fff !important;
		border: 0;
		text-transform: uppercase;
		display: inline-block;
		height: auto;
		width: 100%;
		margin: 0 auto;
		transition: all 0.3s ease-in-out;
		box-shadow: none;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 1.2em;
		border-radius: 0;
		font-weight: normal;
		padding: 12px 18px;
		background: linear-gradient(330deg, #b300be, #f00069) !important;
		background-color: #b300be;
		transition-timing-function: cubic-bezier(0.2, 0.6, 0.4, 1);
		transition-duration: 0.2s;
		&:hover {
			transform: translateY(-4px);
			box-shadow: 0 8px 24px -8px rgba(240, 0, 105, 0.4);
		}
	}
	.ugb-design-control-pro-note__close {
		position: absolute;
		top: 0;
		right: 0;
		color: #777;
	}
	svg.ugb-design-control-pro-note__logo {
		height: 24px;
		width: 24px;
		margin: 0 0 12px;
		filter: contrast(1.2);
	}

	&.ugb-pro-note__small {
		display: grid;
		padding: 0;
		grid-template-columns: 30px 1fr min-content;
		grid-gap: 5px;
		align-items: center;
		margin-bottom: 0;
		svg {
			margin: 0;
			height: 25px;
			width: 25px;
		}
		p {
			text-align: left;
			margin: 0;
			font-size: 10px;
		}
	}
	&.ugb-pro-note--fade {
		* {
			transition: all 0.3s ease-in-out;
		}
		p {
			opacity: 0.8;
		}
		svg,
		a {
			opacity: 0.7;
		}
		&:hover {
			p,
			svg,
			a {
				opacity: 1;
			}
		}
	}

	.ugb-design-control-pro-note__notice {
		font-size: 10px;
		line-height: 1.4;
		max-width: 140px;
		margin: 16px auto 0;
		font-style: italic;
		color: #aaa;
	}
}
