// We cannot trust the initialPosition of the RangeControl, so we manually set
// it via CSS.
.ugb-range-control {
	&.ugb-range-control--blank {
		.components-range-control__track {
			width: var(--ugb-advanced-range-control--width) !important;
		}
		[class*="ThumbWrapper"] {
			left: var(--ugb-advanced-range-control--width) !important;
		}
	}
}

.ugb-range-control {
	flex: 1;
	display: flex;
	align-items: center;
	.components-range-control {
		flex: 1;
		margin: 0 !important;
	}
	// Style the input control to make it smaller.
	.components-input-control__container {
		position: relative;
		border-radius: 2px;
		padding-top: 0px;
		box-sizing: border-box;
		display: inline-block;
		font-size: 13px;
		margin-top: 0px;
		width: 64px;
		margin-left: 16px !important;
	}
	// Style the reset button.
	.components-range-control__reset {
		height: 30px;
		min-height: 30px;
		margin-left: 8px;
	}
	.components-base-control__field,
	.components-base-control {
		margin-bottom: 0;
	}

	.components-number-control {
		width: unset;
	}
}
