/**
 * Frontend styles for the Testimonial Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-testimonial--v3.ugb-testimonial {
	.ugb-block-content {
		text-align: center;
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
	}
	.ugb-testimonial__item {
		@include box();
		display: flex;
		flex-direction: column;
	}

	.ugb-testimonial__image {
		height: auto;
		width: 75px;
	}
	.ugb-testimonial__position {
		font-size: 0.75em;
		text-transform: uppercase;
		color: #aaa;
	}

	.ugb-testimonial__image {
		margin: 0 auto $text-margin-bottom;
	}
	.ugb-testimonial__body,
	.ugb-testimonial__name {
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-testimonial__position {
		margin-bottom: 0;
	}
}

.ugb-testimonial.ugb-testimonial--v3.ugb-testimonial--design-plain {
	.ugb-testimonial__item {
		background: none;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
	}
}

.ugb-testimonial.ugb-testimonial--v3 {
	@media screen and (max-width: $break-large) {
		&.ugb-testimonial--columns-3 {
			.ugb-block-content {
				grid-template-columns: minmax(0, 1fr);
				grid-auto-flow: row;
			}
		}
	}
}
.ugb-testimonial.ugb-testimonial--v3 {
	@media screen and (max-width: $break-small) {
		.ugb-block-content {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-flow: row;
		}
	}
}
