// Show column widths when hovering.
.stk-inner-blocks:hover > * > * > [data-type="stackable/column"] > * > .stk-column-resizeable > .stk-linking-wrapper {
	display: block;
}

.stk-linking-wrapper {
	display: none;
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 9;
}
.stk-linking-wrapper__tooltip {
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	background: #fff;
	border-radius: 2px;
	color: var(--wp-admin-theme-color);
	.dashicon {
		font-size: 16px;
		height: 1em;
	}
	cursor: pointer;
	opacity: 0.8;
	transition: none;
	user-select: none;
	&:not(.stk--is-unlinked) {
		color: #fff;
		background: var(--wp-admin-theme-color-darker-20);
	}
	&:hover {
		opacity: 1;
	}
}


.stk-linking__tooltip {
	display: block;
	width: 200px;
	white-space: normal;
	text-align: left;
	padding: 8px;
	a {
		display: block;
		margin-top: 8px;
		color: #e989ee;
		&:hover {
			color: #ddd;
		}
	}
}
