.stk-control .stk-shadow-control__more-button {
	width: 24px;
	height: 24px;
	padding: 0;
	min-width: auto;
	.dashicon {
		font-size: 16px;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.stk-shadow-control__presets-button {
	justify-content: flex-start;
	width: 100%;

	.stk-shadow-control__presets-icon {
		margin-right: 8px;
	}
}

.stk-shadow-control__preset-grid {
	display: grid;
	grid-template-columns: repeat(4, 44px);
	justify-content: space-between;
	row-gap: 16px;
	padding-bottom: 8px;
}

.stk-shadow-control__preset {
	appearance: none;
	align-items: center;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	box-sizing: border-box;
	color: #2f2f2f;
	cursor: pointer;
	display: inline-flex;
	height: 44px;
	justify-content: center;
	padding: 0;
	position: relative;
	transform: scale(1);
	width: 44px;

	&:hover {
		transform: scale(1.2);
	}

	&:focus-visible {
		border: 2px solid #757575;
		outline: none;
	}

	&.is-none {
		background: linear-gradient(-45deg, transparent 48%, #ddd 48%, #ddd 52%, transparent 52%);
	}

	.dashicon {
		color: #2f2f2f;
		font-size: 20px;
		height: 20px;
		width: 20px;
	}
}

.stk-shadow-control__preset-text {
	color: #2f2f2f;
	font-size: 22px;
	line-height: 1;
	white-space: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
	.stk-shadow-control__preset {
		transition: transform 0.1s ease;
	}
}

.stk-shadow-control__clear.components-button {
	display: block;
	margin: 18px 0 0 auto;
}

.block-editor-global-styles__shadow-popover-container .block-editor-global-styles__shadow-indicator {
	height: 44px;
	width: 44px;
}
