// Limit the height of the design picker.
.ugb-top-block-separator-panel,
.ugb-bottom-block-separator-panel {
	.ugb-design-control {
		max-height: 270px;
	}
}
.ugb-top-block-separator-panel .ugb-design-panel-item__image {
	transform: scaleY(-1);
}
.ugb-top-separator,
.ugb-bottom-separator {
	svg {
		transition: none !important;
	}
}
