.ugb-design-control {
	// Fix for visual issue in Windows where the scrollbar rapidly appears/disappears when hovering over options.
	max-height: 450px;

	// Hide the radio button.
	input {
		opacity: 0;
		height: 0;
		width: 0;
		margin: 0;
		padding: 0;
		position: fixed;
		top: 0;
	}
	.components-radio-control__option {
		display: inline-block;
		width: 50%;
		text-align: center;
	}
	label > span {
		padding: 4px;
		display: block;
		border-radius: 0;
		> img {
			border-radius: 4px;
		}
	}
	input:checked + label > span {
		box-shadow: inset 0 0 0 1px #1e1e1e;
	}
	input + label > span:hover {
		background: #f0f0f0;
	}

	.design-label {
		svg {
			height: 12px;
			margin: 0 0 0 5px;
			fill: #ffad00;
		}
	}
}
.ugb-design-control--columns-3 {
	.ugb-design-control {
		.components-radio-control__option {
			width: 33.3%;
		}
	}
}
.ugb-design-control--columns-4 {
	.ugb-design-control {
		.components-radio-control__option {
			width: 25%;
		}
	}
}
