.stk-inspector-hint {
	margin: 32px 16px 16px;
	background: #f1f1f1;
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	span {
		padding: 16px 0 16px 16px;
	}
}
.stk-inspector-hint__close {
	svg {
		width: 16px;
		height: 16px;
	}
}

.stk-inspector-hint__google-map-embedd {
	background: #f1f1f1;
	display: flex;
	position: relative;
	margin: 10px 0px 5px;
	span {
		font-size: 12px;
		padding: 6px;
	}

}
