.ugb-design-panel-item {
	position: relative;
}
.ugb-design-panel-item__hover-image {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	width: calc(100% - 10px);
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}
.ugb-design-panel-item:hover .ugb-design-panel-item__hover-image {
	opacity: 1;
}
