.stk-block-link::after {
	content: "";
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	cursor: pointer !important;
	z-index: 1;
}
