.ugb-button-icon-control {
	.components-popover__content {
		box-shadow: 0 5px 5px 0 rgba(18, 63, 82, 0.035), 0 0 0 1px rgba(176, 181, 193, 0.2), 0 5px 30px -10px rgba(18, 63, 82, 0.3);
	}
	.components-base-control__field {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	button {
		display: flex;

		.dashicons {
			margin: auto !important;
		}
	}
}
// Make sure our popover is still below custom color pickers.
.components-popover.ugb-button-icon-control__popover {
	z-index: 100000;
	.components-popover__content {
		width: 290px;
	}
}
.ugb-button-icon-control__popover .components-panel__body-title {
	padding: 15px !important;
	background: transparent !important;
}

.ugb-button-icon-control__wrapper {
	display: flex;
	align-items: center;

	.ugb-button-icon-control__reset {
		padding: 6px;
		margin: 0 6px;
		svg {
			width: 14px;
			height: 14px;
		}
	}
	.ugb-button-icon-control__edit {
		padding: 0 6px;
		svg {
			width: 18px;
			height: 18px;
			margin: 0;
		}
	}
}
// Toggle.
.ugb-button-icon-control {
	.components-toggle-control {
		&,
		.components-base-control__field,
		.components-toggle-control__label {
			margin-bottom: 0 !important;
		}
	}
}

.ugb-button-icon-control__text-title {
	margin: 0 0 1em 0 !important;
}

// Color preview.
.ugb-button-icon-popover-control-color-preview,
.ugb-button-icon-popover-control-image-preview {
	margin: 0 12px 0 0;
	height: 20px;
	width: 20px;
	.components-circular-option-picker__option {
		color: transparent !important;
	}
}
.ugb-button-icon-popover-control-color-preview {
	.components-circular-option-picker__option {
		padding: 0;
		&:focus::after {
			width: 24px;
			height: 24px;
		}
	}
	&.ugb-button-icon-popover-control-color-preview--transparent::before {
		// 	background: linear-gradient(-45deg,transparent 12px,#e03e3e 0,#e03e3e 13px,transparent 0)!important;
		background-size: 63px !important;
		opacity: 0.5;
	}
}
.ugb-button-icon-popover-control-image-preview {
	&::before {
		background: transparent !important;
	}
	.components-circular-option-picker__option {
		padding: 0;
		background-size: cover;
		&::after {
			display: none;
		}
	}
	svg {
		height: 100%;
		width: 100%;
		fill: #d1d1d1;
	}
}
