// Icon only buttons are not square/circle.
.ugb-button.ugb-button--icon-only .ugb-svg-icon-placeholder__button {
	display: block;
}

// Resize the button when its icon is resized
.ugb-button.ugb-button--has-icon .ugb-svg-icon-placeholder__button {
	height: auto;
}

// Add this to force the svg transition to follow the button.
.ugb-button {
	svg {
		transition: initial !important;
	}
}
