/**
 * Editor styles for the Pricing Box Block.
 *
 * Enqueued in the editor only.
 */

[data-type="ugb/pricing-box"] {
	// Fade out placeholder text.
	[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
		opacity: 0.5;
	}

	// Only show placeholder text while selected or typing.
	&:not(.is-selected):not(.is-typing) {
		[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
			display: none;
		}
		[data-is-placeholder-visible="true"] {
			display: none;
		}
	}
}

.ugb-pricing-box__price-line {
	> *:nth-child(1) {
		align-self: flex-start;
	}
	> *:nth-child(3) {
		align-self: flex-end;
	}
}

.ugb-pricing-box {
	> div {
		margin-bottom: 0 !important;
		display: flex;
		flex-direction: column;
	}
}
