/**
 * Frontend styles for the Pricing Box Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-pricing-box.ugb-pricing-box--v3 {
	.ugb-block-content {
		text-align: center;
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
		align-items: center;
	}
	.ugb-pricing-box__item {
		@include box();
		display: flex;
		flex-direction: column;
	}
	.ugb-pricing-box__feature-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.ugb-pricing-box__price-line {
		display: flex;
		justify-content: center;
	}
	.ugb-pricing-box__price-prefix {
		align-self: flex-start;
		font-size: 1.2em;
	}
	.ugb-pricing-box__price-suffix {
		align-self: flex-end;
		font-size: 1.5em;
	}

	.ugb-pricing-box__price {
		font-size: 3.5em;
		line-height: 100% !important;
	}
	.ugb-pricing-box__subprice {
		font-size: 0.75em;
		color: #ddd;
		text-transform: uppercase;
		line-height: 100% !important;
	}

	.ugb-pricing-box__image {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		.ugb-img {
			margin: 0 auto;
			display: block;
		}
	}
	.ugb-pricing-box__image,
	.ugb-pricing-box__title,
	.ugb-pricing-box__price-wrapper,
	.ugb-pricing-box__subprice,
	.ugb-pricing-box__description {
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-pricing-box__button {
		margin-top: #{ $text-margin-bottom * 2 };
		margin-bottom: #{ $text-margin-bottom * 2 };
	}
}

.ugb-pricing-box.ugb-pricing-box--v3.ugb-pricing-box--design-plain {
	.ugb-pricing-box__item {
		background: none;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
	}
}

.ugb-pricing-box.ugb-pricing-box--v3 {
	@media screen and (max-width: $break-large) {
		&.ugb-pricing-box--columns-3 {
			.ugb-block-content {
				grid-template-columns: minmax(0, 1fr);
				grid-auto-flow: row;
			}
		}
	}
}
.ugb-pricing-box.ugb-pricing-box--v3 {
	@media screen and (max-width: $break-small) {
		.ugb-block-content {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-flow: row;
		}
	}
}
