.ugb-design-library-items {
	page-break-inside: avoid;
	break-inside: avoid;
	gap: 40px;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	font-size: 13px;
	&.ugb-design-library-items--columns-2 {
		grid-template-columns: 1fr 1fr;
	}
	&.ugb-design-library-items--columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}
	&.ugb-design-library-items--columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.components-base-control__help {
		text-align: center;
		font-style: italic;
	}
	.ugb-design-library-search__spinner {
		display: flex;
		.components-spinner {
			margin: 0 auto;
		}
	}
}
.ugb-modal-design-library__wrapper {
	overflow: hidden;
}
.ugb-modal-design-library__designs {
	overflow: auto;
}
.ugb-design-library-item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 40px;
	position: relative;
	transition: all 0.3s cubic-bezier(0.2, 0.6, 0.4, 1);
	overflow: hidden;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	}
	img {
		display: block;
		pointer-events: none; // Prevent dragging the image.
		width: 100%;
		height: auto;
		min-height: 50px;
		background: #fff;
	}
	footer {
		padding-inline: 20px;
		line-height: 18px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.ugb-design-library-item__spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) translateY(-10px);
		z-index: 9;
		.components-spinner {
			margin: 0;
		}
	}
	&.ugb--is-busy {
		.ugb-design-library-item__image img {
			opacity: 0.1;
		}
	}
	.ugb-design-library-item__image {
		background: #fff;
		position: relative;
	}
	&.ugb--is-premium {
		.ugb-design-library-item__image {
			min-height: 240px;
		}
	}

	.ugb-design-control-pro-note {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		opacity: 0;
		transition: all 0.3s cubic-bezier(0.2, 0.6, 0.4, 1);
		padding: 0 24px; // This is for v2 blocks where the design library can be seen in the inspector.
	}
	&[class*="ugb--is-premium"]:hover {
		.ugb-design-control-pro-note {
			opacity: 1;
		}
	}

	// Toggle mode
	&.ugb-design-library-item--toggle {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 16px;
			left: 16px;
			height: 24px;
			width: 24px;
			background: #fff;
			border: 1px solid #777;
		}

		&.ugb--is-toggled {
			&::after {
				content: attr(data-selected-num);
				height: 24px;
				width: 24px;
				background: #f00069;
				color: #fff;
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: none;
				font-weight: bold;
			}
		}
	}

	.stk-pulsating-circle {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 9;
	}
}
.ugb-design-library-item__image {
	padding: 0 !important;
	border: 0 !important;
	text-align: start !important;
	width: 100% !important;
	margin: 0 !important;
	outline: none !important;
	cursor: pointer;
	display: block;
}

.ugb-design-library-item__favorite {
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: none;
	transition: all 0.3 ease-in-out;
	.dashicon {
		fill: #bbb;
		height: 14px;
		width: 14px;
	}
	&:hover {
		.dashicon {
			fill: #d30c5c;
		}
	}

	&.ugb--is-favorite {
		&,
		&:hover {
			.dashicon {
				fill: #d30c5c;
			}
		}
	}

	// &.ugb--is-busy {
	// 	.dashicon {
	// 		opacity: 0.3;
	// 	}
	// }
}
