.stk-img-wrapper {
	cursor: copy;
	position: relative;

	&:hover {
		img {
			opacity: 0.8;
		}
	}
	&.stk-img-placeholder {
		/* stylelint-disable function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 376' xmlns='http://www.w3.org/2000/svg' fill='%23ccc'%3E%3Cpath d='M0 0v376h512V0H0zm480 344H32V32h448v312z'%3E%3C/path%3E%3Ccircle cx='409.1' cy='102.9' r='40.9'%3E%3C/circle%3E%3Cpath d='M480 344H32l86.3-164.2 21.7 11.3 49-77.3 100 113.1 8.9-9.3 17.1 22.3 26-46.4 52.9 71.2 15.1-15.9z'%3E%3C/path%3E%3C/svg%3E") !important;
		background-size: 80px !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-color: #f1f1f1 !important;
		position: relative;
		margin-left: auto;
		margin-right: auto;

		img {
			display: none !important;
		}

		&:hover {
			background-color: #fafafa !important;
		}
		&:focus {
			background-color: #fafafa !important;
			box-shadow: 0 0 0 2px rgba(30, 140, 190, 0.8);
		}
	}

	&.has-show-handle {
		overflow: visible; // Don't clip resize handlers
	}

	&:not(:hover):not(.stk--is-resizing) {
		.components-resizable-box__handle {
			display: none !important;
		}
	}
}

.stk-img-upload-remove {
	background: none !important;
	color: #ddd;
	border: none;
	position: absolute;
	top: 10px;
	right: 4px;
	cursor: pointer;
	display: none;
	z-index: 9 !important;
	svg {
		stroke: rgba(0, 0, 0, 0.3);
		stroke-width: 1px;
		fill: #fff;
		max-width: none;
	}
}

// Only display the X button when selected/hovered.
.block-editor-block-list__block {
	&.is-selected,
	&:hover {
		.stk-img-upload-remove {
			display: block;
		}
	}
}
