.ugb-panel-tabs {
	position: sticky;
	top: -1px;
	z-index: 5;
	.ugb-panel-tabs__wrapper {
		display: flex !important;
		flex-wrap: nowrap;
		&,
		> button {
			transition: all 0.1s cubic-bezier(0.2, 0.6, 0.4, 1);
			background: #fff;
			box-shadow: none;
			border: 0;
		}
	}
	button {
		outline: none !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 80px;
		padding: 0 !important;
		flex: 1;
		margin: 0 !important;
		cursor: pointer;
		color: #1e1e1e;
		border: 0 !important;
		.dashicon {
			margin: 5px;
			height: 20px;
		}
		&.is-active {
			border-bottom: 0;
			// Black outline
			box-shadow: inset 0 0 0 1px #1e1e1e;
		}
		&:hover {
			background: #f0f0f0;
		}
		&:focus {
			box-shadow: inset 0 0 0 1.5px #007cba;
			box-shadow: inset 0 0 0 1.5px var(--wp-admin-theme-color, #007cba);
		}
	}
}

// Panels can become hard to decipher, separate them a bit to make things easier to see.
.ugb-panel-tabs {
	border-bottom: 1px solid #e2e4e7 !important;
}
.edit-post-sidebar.ugb--has-panel-tabs {
	background-color: #f0f3f5;
	.edit-post-settings-sidebar__panel-block .components-panel__body:last-child {
		margin-bottom: 0;
	}
}

// Fixes the small gap at the bottom of the panel tabs
// when other panels further below are hidden.
[data-ugb-tab] > * {
	padding-bottom: 0 !important;
}

.ugb-inspector-panel-controls {
	.components-panel__body {
		.components-panel__body-title {
			&:not(:hover) {
				background: #fff;
			}
			// If the first control is a toggle, it will display higher and will
			// not look nice. Make it lower a bit.
			+ .components-toggle-control {
				margin-top: 24px !important;
			}
		}
		&.is-opened .components-panel__body-title {
			margin-bottom: 12px;
			border-bottom: 1px solid #e1e1e1;
			// Sticky.
			position: sticky;
			top: 81px;
			z-index: 4;
		}
	}
	.components-panel__body {
		background: #fafafa;
		// Our tabs already have a bottom border. This will thicken it.
		&:first-child {
			border-top: 0 !important;
		}
	}
}

[data-ugb-tab="layout"] {
	.ugb-inspector-panel-controls:not(.ugb-panel-layout) {
		display: none;
	}
	// Advanced Gutenberg tab is always in advanced, hide it.
	.block-editor-block-inspector__advanced {
		display: none;
	}
}

[data-ugb-tab="style"] {
	.ugb-inspector-panel-controls:not(.ugb-panel-style) {
		display: none;
	}
	// Advanced Gutenberg tab is always in advanced, hide it.
	.block-editor-block-inspector__advanced {
		display: none;
	}
}

[data-ugb-tab="advanced"] {
	.ugb-inspector-panel-controls:not(.ugb-panel-advanced) {
		display: none;
	}
}
