@import "common";

.ugb-modal-design-library {
	width: 100%;
	max-width: 90%;
	height: 90%;
	min-height: 500px;

	.ugb-modal-design-library__premium-tag {
		width: max-content;
		background-color: #e74673;
		padding: 8px;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		margin-top: 16px;
	}

	.ugb-modal-design-library__preview-cover {
		img {
			width: 100%;
		}
	}

	.ugb-modal-design-library__preview-info {
		display: flex;
		column-gap: 40px;
		margin-bottom: 16px;

		.ugb-modal-design-library__preview-info-item {
			h4 {
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 400;
			}

			.components-circular-option-picker__option-wrapper {
				transform: scale(1) !important;

				.components-circular-option-picker__option {
					cursor: default !important;
				}
			}
		}

		.ugb-modal-design-library__preview-info-typography {
			font-size: 16px;
			font-weight: 300;
		}
	}

	.ugb-design-library__ui-kit-topbar-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		.components-button {
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 1px;
			height: 100%;
			padding: 20px;
			border-radius: 0;
		}
	}

	.ugb-design-library__ui-kit-header-text {
		margin-right: 40px;

		h2 {
			font-size: 30px;
			font-weight: 600;
			margin: 0;
		}

		p {
			margin: 0;
			margin-top: 16px;
			text-transform: uppercase;
		}
	}

	margin: 0;
	margin-top: 0;
	.ugb-modal-design-library__preview-sidebar {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		height: 100%;
		justify-content: space-between;
	}

	.ugb-design-control-pro-note {
		box-shadow: none;
	}

	.ugb-modal-design-library__back-button {
		margin-left: 24px;
		outline: none !important;
	}

	.components-base-control__help {
		text-align: center;
		font-style: italic !important;
	}

	.ugb-design-library__modal {
		.components-modal__header-heading-container {
			flex-grow: unset !important;
			height: inherit;
			width: 276px !important;
		}

		.components-modal__header-heading-wrapper {
			display: flex;
			height: 100%;
			justify-content: flex-start;
		}

		.ugb-modal-design-library__header-buttons .components-button {
			height: 100%;
			box-shadow: 0 0 #000;
			padding: 24px;
			font-size: 14px;
			font-weight: 300;
			color: #000;

			.tag {
				margin-left: 8px;
				background-color: #e74673;
				color: #fff !important;
				font-size: 10px !important;
				padding: 4px;
				font-weight: 400 !important;
			}

			&.is-active {
				background-color: #fad9e4;
				color: #e74673 !important;
			}
		}
	}


	.components-modal__content {
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	.components-modal__header {
		margin: 0;
	}
	.ugb-modal-design-library__wrapper {
		display: grid;
		grid-template-columns: 300px auto;
		grid-template-rows: 50px auto;
		flex: 1;
	}
	.ugb-modal-design-library__sidebar {
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
		background: #fff;
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.ugb-control-separator {
			margin: 8px 0 !important;
			width: 100% !important;
		}
	}

	.ugb-modal-design-library__content {
		display: block;
		justify-content: center;
		align-items: center;
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		overflow-y: scroll;
	}

	.ugb-modal-design-library__content-body {
		padding: 24px;
		padding-top: 0;
	}

	.ugb-modal-design-library__cover-wrapper {
		display: flex;
		justify-content: center;
		min-height: 250px;
		border-radius: 24px;
		padding: 24px;
		margin: 24px;
		margin-bottom: 0;
		text-align: center;
		color: #fff;
		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 32px;
			color: #fff !important;
			margin-bottom: 16px;
			font-weight: 400;
			img {
				height: 40px;
				width: 40px;
				margin-right: 12px;
			}
		}
		p {
			font-size: 16px;
			font-weight: 200;
		}
		.components-base-control {
			max-width: 600px;
			margin: auto;
			input {
				height: 48px;
				font-weight: 200px;
				font-size: 16px;
				border: none;
			}
		}
	}

	.ugb-modal-design-library__search {
		padding: 24px;
		background: #f1f1f1;
		.components-base-control__field {
			margin: 0;
		}
	}

	.ugb-modal-design-library__topbar {
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 16px;

		.ugb-advanced-toolbar-control {

			.components-button-group {
				.is-primary {
					color: #e74673 !important;
					background-color: #fad9e4 !important;
				}

				.components-button {
					box-shadow: inset 0 0 0 1px #c0bfbf !important;
					padding: 16px !important;
					font-weight: 400;

					&:hover {
						color: #000;
					}

					&:first-child {
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}

					&:last-child {
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}

		}

		span {
			display: flex;
			align-items: center;
		}

		.ugb-modal-design-library__topbar-options {
			width: 40%;
			justify-content: flex-end;
		}
	}

	.ugb-modal-design-library__topbar .is-pressed {
		background: #555;
		color: #fff;
	}

	.ugb-advanced-toolbar-control {
		.ugb-toolbar--full-width {
			background: transparent;
		}
		.components-button.components-toolbar__control.has-text {
			&,
			&:hover,
			&.is-pressed {
				background: transparent;
			}
		}
	}

	.ugb-modal-design-library__filters {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

.ugb-sidebar {
	padding-left: 24px;
	padding-right: 24px;

	.ugb-sidebar__title {
		padding: 11px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.ugb-sidebar li {
	margin: 0;
	font-size: 16px;
	margin-bottom: 11px;
	> div {
		padding: 6px 10px;
		cursor: pointer;
	}
	[aria-pressed="true"] {
		color: #e74673;
	}

	[disabled=""] {
		cursor: default !important;
		color: #888 !important;
	}

	.is-disabled {
		opacity: 0.3;
	}
}

// Display color indicators horizontally.
.ugb-modal-design-library__color-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.ugb-modal-design-library__color-list {

	// Color indicator.
	.components-circular-option-picker {
		width: 24px;
		flex: 0;
		margin: 0 10px 10px;

	}
	.components-circular-option-picker__option-wrapper {
		height: 22px;
		width: 22px;
		margin: 0;
	}

	.components-base-control__field {
		margin-bottom: 0 !important;
	}

	// Check mark when color is active.
	.components-circular-option-picker__option.is-pressed + svg {
		left: 3px;
		top: 3px;
		width: 16px;
		height: 16px;
	}

	.components-circular-option-picker__option::after {
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2) !important;
	}

	// Gray focus outline.
	.components-circular-option-picker__option:focus::after {
		width: 28px;
		height: 28px;
		top: -3px;
		left: -3px;
	}
}

.ugb-modal-design-library__refresh {
	margin-right: 10px;
}

.ugb-modal-design-library__dev-mode .components-base-control__field {
	margin: 2px 24px 0 !important;
}

.ugb-design-library__featured-list {
	.ugb-design-library__featured-list-title > h2 {
		font-size: 24px;
		font-weight: bold;
	}

	.components-spinner {
		margin-left: 50%;
	}

	.ugb-design-library__featured-list-content {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-direction: row;
		row-gap: 12px;
	}

	&.ugb-design-library__columns-4 .ugb-design-library__featured-list-item {
		flex-basis: 25%;
	}

	&.ugb-design-library__columns-3 .ugb-design-library__featured-list-item {
		flex-basis: 33%;
	}

	&.ugb-design-library__columns-2 .ugb-design-library__featured-list-item {
		flex-basis: 50%;
	}

	&.ugb-design-library__columns-1 .ugb-design-library__featured-list-item {
		flex-basis: 100%;
	}

	@media screen and (min-width: $break-js-mobile) and (max-width: $break-js-tablet) {
		&.ugb-design-library__columns-4 .ugb-design-library__featured-list-item,
		&.ugb-design-library__columns-3 .ugb-design-library__featured-list-item {
			flex-basis: 50%;
		}

		&.ugb-design-library__columns-2 .ugb-design-library__featured-list-item {
			flex-basis: 100%;
		}

	}

	@media screen and (max-width: $break-js-mobile) {
		&.ugb-design-library__columns-4 .ugb-design-library__featured-list-item,
		&.ugb-design-library__columns-3 .ugb-design-library__featured-list-item,
		&.ugb-design-library__columns-2 .ugb-design-library__featured-list-item {
			flex-basis: 100%;
		}

	}

	.ugb-design-library__featured-list-item {
		position: relative;
		display: block;
		break-inside: avoid;
		flex-basis: 100%;
		padding: 8px;

		.overlay {
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				position: absolute;
				display: flex;
				flex-direction: column;
				row-gap: 8px;
				z-index: 1;
			}

			.components-button {
				padding: 4px;
				padding-left: 16px;
				padding-right: 16px;
				text-transform: uppercase;
				border-radius: 16px;

				&.primary {
					color: #fff;
					background-color: #e74673;
				}

				&.secondary {
					color: #e74673;
					background-color: #fff;
				}
			}
		}

		.image-wrapper {
			padding: 0;
			cursor: default;
			transition: all 0.2s ease-in;
			width: 100%;
			height: max-content;
			display: block !important;
			text-align: left;
			position: relative;
			border-radius: 16px;
			overflow: hidden;
			height: 80%;

			.overlay {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 100%;
			}

			svg {
				position: absolute;
				right: 16px;
				top: 16px;
				border-radius: 20px;
				padding: 3px;
				background-image: linear-gradient(180deg, #a911b9, #e74673);
				fill: #fff;
				z-index: 1;
			}

			&:active,
			&:focus {
				border: none !important;
				outline: 0 !important;
			}

			&:hover {
				transform: scale(1.01);

				img {
					filter: brightness(0.7);
				}
			}
		}

		img {
			display: block;
			width: 100%;
			min-height: 50px;
			background: #f1f1f1;
			pointer-events: none;

		}

		h4 {
			display: block;
			width: 100%;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 8px;
			color: #000;
		}

		p {
			display: block;
			width: 100%;
			text-transform: uppercase;
			color: #535353;
		}
	}
}

