.ugb-modal-design-library {
	width: 100%;
	max-width: 90%;
	height: 90%;
	min-height: 500px;

	.components-modal__content {
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	.components-modal__header {
		margin: 0;
	}
	.ugb-modal-design-library__wrapper {
		display: grid;
		grid-template-columns: 300px auto;
		grid-template-rows: 50px auto;
		flex: 1;
	}
	.ugb-modal-design-library__sidebar {
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
		background: #fff;
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.ugb-control-separator {
			margin: 8px 0 !important;
			width: 100% !important;
		}
	}
	.ugb-modal-design-library__topbar {
		display: flex;
		justify-content: flex-end;
		padding: 0 24px;
		height: 50px;
		align-items: center;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.ugb-modal-design-library__designs {
		padding: 24px;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.ugb-modal-design-library__search {
		padding: 24px;
		background: #f1f1f1;
		.components-base-control__field {
			margin: 0;
		}
	}

	.ugb-modal-design-library__topbar .is-active {
		background: #555;
		color: #fff;
	}

	.ugb-advanced-toolbar-control {
		.ugb-toolbar--full-width {
			background: transparent;
		}
		.components-button.components-toolbar__control.has-text {
			&,
			&:hover,
			&.is-active {
				background: transparent;
			}
		}
	}

	.ugb-modal-design-library__filters {
		overflow-y: auto;
		padding: 24px;
	}
}

.ugb-block-list li {
	margin: 0;
	> div {
		padding: 6px 10px;
		cursor: pointer;
	}
	[aria-pressed="true"] {
		font-weight: bold;
	}
	.is-disabled {
		opacity: 0.3;
	}
}
.ugb-block-list .ugb-block-list__count {
	float: right;
}
.ugb-block-list [data-count="0"] {
	opacity: 0.3;
}

// Display color indicators horizontally.
.ugb-modal-design-library__color-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.ugb-modal-design-library__color-list {
	margin-bottom: 8px !important;

	// Color indicator.
	.components-color-palette {
		width: 24px;
		flex: 0;
		margin: 0 10px 10px;
	}
	.components-color-palette__item-wrapper {
		height: 22px;
		width: 22px;
		margin: 0;
	}

	// Check mark when color is active.
	.components-color-palette__item.is-active + .dashicons-saved {
		left: 3px;
		top: 3px;
		width: 16px;
		height: 16px;
	}

	// Gray focus outline.
	.components-color-palette__item:focus::after {
		width: 28px;
		height: 28px;
		top: -3px;
		left: -3px;
	}
}

.ugb-modal-design-library__refresh {
	margin-right: 10px;
}

.ugb-modal-design-library__dev-mode .components-base-control__field {
	margin: 2px 24px 0 !important;
}
