@import "common";

.stk-block-card__image {
	height: 300px;
	width: 100%;
	background-size: cover;

	+ .stk-block-card__content:not(.stk-container-padding) {
		padding-top: cssvar(block-margin-bottom);
	}
}
