/**
 * Frontend styles for the Card Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-card.ugb-card--v2 {
	.ugb-block-content {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
		> *:last-child {
			margin-bottom: 0;
		}
	}
	.ugb-card__item {
		display: flex;
		flex-direction: column;
	}
	.ugb-card__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		background-size: cover;
		background-position: center;
		padding: $box-vert-padding $box-hori-padding;
	}
	.ugb-card__subtitle,
	.ugb-card__description {
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-card__image {
		height: 300px;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	.ugb-card__title {
		margin: 0 0 #{ $text-margin-bottom / 2 } 0;
	}
	.ugb-card__subtitle {
		font-size: 0.85em;
	}

	&:not(.ugb-card--design-plain) {
		.ugb-card__item {
			@include boxNoPadding();
		}
	}
	&.ugb-card--design-plain {
		.ugb-card__image {
			margin-bottom: 0 0 $text-margin-bottom 0;
		}
		.ugb-card__content {
			padding: 0;
		}
	}
}

.ugb-card.ugb-card--v2 {
	@media screen and (max-width: $break-small) {
		.ugb-block-content {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-flow: row;
		}
	}
}
