@import "common";

.ugb-icon-popover {
	.components-popover__content {
		overflow: hidden;
		width: 330px;
	}
}

// Icon search list.
.ugb-icon-popover__iconlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	margin-top: 5px;
	height: 200px;
	overflow: auto;
	button {
		background: none;
		padding: 5px;
		border-color: transparent;
		box-shadow: none;
		width: 40px;
		height: 40px;
	}
	svg {
		width: 30px !important;
		height: 30px;
		margin: 0;
		box-sizing: content-box;
		border-radius: 4px;
	}
	.components-base-control__help {
		font-style: italic;
	}
}

.ugb-icon-popover__label-container {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	.components-base-control__field {
		margin-bottom: 0;
	}
	.ugb-icon-popover__input {
		flex: 1;
	}
	.components-range-control__reset {
		margin-left: 8px;
	}
}

.ugb-icon-popover__drop-area {
	font-size: 12px;
	font-style: italic;
	color: #888;
	text-align: center;
	margin: 0 0 24px;
	display: block;
	outline: none;
}

/**
 * When dragging an SVG file over the area.
 */
.file-drop-dragging-over-frame {
	> .ugb-icon-popover__iconlist {
		pointer-events: none;
	}
}

.ugb-icon-popover__drop-indicator {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.9);
	flex-direction: column;
	transition: background 0.3s ease-in-out;
	svg {
		margin-bottom: 8px;
		transform-origin: bottom;
		animation: 1.8s ease infinite ugb-icon-popover__drop-indicator;
	}
}

// Effect when hovering over the drop area.
.file-drop-dragging-over-target {
	> .ugb-icon-popover__drop-indicator {
		background: rgba(255, 255, 255, 1);
		outline-offset: -10px;
		outline-style: dashed;
		outline-width: 3px;
		outline-color: #11a0d2;
	}
}

// Drop arrow animation.
@keyframes ugb-icon-popover__drop-indicator {
	10% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-8px);
	}
	60% {
		transform: translateY(0);
	}
}
