.stk--column-flex,
// If an direct inner block has a top/bottom margin-auto, then we need to set
// the height to full (similar to .stk--column-flex) so the margin auto would
// look like it took effect..
:is(.stk-inner-blocks, .stk-block-content):not(.stk--column-flex):has(> .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block > :is(.stk--block-margin-top-auto, .stk--block-margin-bottom-auto)),
.stk--align-last-block-to-bottom {
	height: auto; // Reverse the 100% height from style.scss
	&:not(.stk--block-horizontal-flex) {
		> .block-editor-inner-blocks {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			> .block-editor-block-list__layout {
				flex: 1 1 100%;
				display: flex !important;
				flex-direction: column;
				> * {
					width: auto;
					margin-inline: 0;

					// Placeholder images will collapse.
					&[data-type="stackable/image"]:has(.stk-img-placeholder) {
						min-width: min(30%, 200px);
					}
				}
			}
		}
	}
	&.stk--block-horizontal-flex {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				height: 100%;
				> * {
					margin-inline: 0;
				}
			}
		}
	}
}


// for firefox :has polyfill
// this needs to be on a separate css ruleset because firefox ignores any CSS ruleset that includes the :has selector
// reference: https://connect.mozilla.org/t5/ideas/when-is-has-css-selector-going-to-be-fully-implemented-in/idc-p/26839/highlight/true#M19086
.stk--column-flex,
.stk--align-last-block-to-bottom,
.stk--alignment-polyfill > :is(.stk-inner-blocks, .stk-block-content):not(.stk--column-flex) {
	height: auto; // Reverse the 100% height from style.scss
	&:not(.stk--block-horizontal-flex) {
		> .block-editor-inner-blocks {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			> .block-editor-block-list__layout {
				flex: 1 1 100%;
				display: flex !important;
				flex-direction: column;
				> * {
					width: auto;
					margin-inline: 0;

					// Placeholder images will collapse.
					&[data-type="stackable/image"]:has(.stk-img-placeholder) {
						min-width: min(30%, 200px);
					}
				}
			}
		}
	}
	&.stk--block-horizontal-flex {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				height: 100%;
				> * {
					margin-inline: 0;
				}
			}
		}
	}
}

