$guide-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
@mixin guide-titles {
	font-family: $guide-font-family;
	font-size: 1.1em;
	font-weight: 400;
}

.ugb-style-guide {
	&,
	p {
		font-size: 16px;
	}

	.ugb-style-guide__content {
		background: #fff; // This is needed for the export
		padding: 70px;
	}

	.ugb-style-guide__title {
		font-family: $guide-font-family;
		font-size: 1.1em;
		font-weight: 400;
	}

	.ugb-style-guide__columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
	}

	.ugb-style-guide__section-title {
		font-family: $guide-font-family;
		font-size: 32.44px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 1em;
		&:not(:first-child) {
			margin-top: 2.5em;
		}
	}

	.ugb-style-guide__section-subheading {
		font-family: $guide-font-family;
		font-size: 25.63px;
		font-weight: 400;
		margin-bottom: 1em;
		color: #999;
		border-bottom: 1px solid #eee;
		margin-bottom: 32px;
		padding: 0 0 16px;
		&:not(:first-child) {
			margin-top: 2.5em;
		}
	}

	// Color Schemes

	.ugb-style-guide__color-container {
		border-radius: 16px;
		border: 1px solid #eee;
		padding: 24px;
	}

	.ugb-style-guide__color-schemes {
		gap: 24px;
		margin-top: 24px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.ugb-style-guide__color-scheme-title {
			margin: 0 0 48px;
		}
	}

	.ugb-style-guide__color-scheme__subtitle {
		font-size: 14.22px;
		margin-bottom: 8px;
		line-height: 1;
	}

	.ugb-style-guide__color-scheme__heading {
		font-size: 28.83px;
		font-weight: 600;
		margin-bottom: 24px;
		line-height: 1.2;
	}

	.ugb-style-guide__color-scheme__body {
		font-size: 16px;
		line-height: 1.6;
		a:hover {
			color: var(--hover-color) !important;
		}
	}

	.ugb-style-guide__color-scheme__links {
		display: flex;
		gap: 16px;
		margin-top: 24px;
	}

	.ugb-style-guide__color-scheme__button,
	.ugb-style-guide__color-scheme__button--outline {
		padding: 12px 24px;
		border: 0;
		border-radius: 4px;
	}
	.ugb-style-guide__color-scheme__button {
		&:hover {
			background-color: var(--hover-background-color) !important;
			color: var(--hover-color) !important;
		}
	}
	.ugb-style-guide__color-scheme__button--outline {
		background: transparent;
		border-width: 2px;
		border-style: solid;
		&:hover {
			border-color: var(--hover-border-color) !important;
			color: var(--hover-color) !important;
		}
	}

	.ugb-style-guide__color-scheme__colors {
		margin-top: 16px;
		p {
			margin: 0;
			line-height: 1.6;
			font-size: 14.22px;
		}
	}

	.ugb-style-guide__color-indicator {
		border: 1px solid #eee;
		width: 1em;
		height: 1em;
		border-radius: 100%;
		display: inline-block;
		vertical-align: middle;
		margin: -4px 4px 0;
	}

	// Colors

	.ugb-style-guide__colors {
		gap: 25px;
		margin-top: 24px;
		display: flex;
		flex-wrap: wrap;
		.ugb-style-guide__column {
			flex: 1 1 200px;
			height: 130px;
			display: flex;
			align-items: flex-end;
			max-width: calc(50% - 10px);
		}
	}

	.ugb-style-guide__color-label {
		@include guide-titles;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.2;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	// Typography

	.ugb-style-guide__typography-headings {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.ugb-style-guide__typography-container {
		margin: 32px 0;
		> *:not(div) {
			line-height: 1;
			margin: 0 !important;
		}
	}

	.ugb-style-guide__typography-body {
		.ugb-style-guide__column:first-child {
			grid-column: 1 / 3;
			max-width: 80%;
		}
	}

	.ugb-style-guide__typography-label {
		font-size: 14.22px;
		color: #bbb;
		margin-top: 8px;
	}
}
.ugb-style-guide-popover__heading {
	margin: 70px 70px 0;
	.ugb-style-guide-popover__title {
		margin-inline-end: 150px;
		font-size: 39.81px;
	}
	.ugb-style-guide-popover__description {
		max-width: 50%;
	}
}

.ugb-style-guide__print-button {
	float: inline-end;
}
.ugb-style-guide-popover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	z-index: 100000;

	.ugb-style-guide-popover__close-button {
		height: 40px;
		width: 40px;
		padding: 8px;
		right: 20px;
		position: absolute;
		margin-top: 10px;
	}

	> .components-popover__content {
		margin-top: 20px;
		margin-left: 20px;
		width: calc(var(--width) - 40px) !important;
		height: calc(var(--height) - 40px) !important;
	}
}
