/**
 * Editor styles for the Accordion Block.
 *
 * Enqueued in the editor only.
 */

@import "common";

// Only show placeholder text while selected or typing.
[data-type="ugb/accordion"] {
	.ugb-accordion__heading {
		outline: none;
		svg {
			transform: rotate(180deg) !important;
		}
		> *:first-child {
			flex: 1;
		}
	}
}

// Animate accordion arrow.
[data-type="ugb/accordion"] {
	.ugb-accordion:not(.ugb-accordion--open) {
		.ugb-accordion__content {
			display: none;
		}
		.ugb-accordion__heading {
			svg {
				transform: rotate(0deg) !important;
			}
		}
	}
}

// This shows padding although not in the frontend.
#editor .ugb-accordion.ugb-accordion--v2 .ugb-accordion__content .ugb-accordion__content-inner {
	padding-top: 0;
}
#editor .ugb-accordion.ugb-accordion--v2 .ugb-accordion__content {
	overflow: visible;
}
#editor .ugb-accordion.ugb-accordion--v2.ugb-accordion--design-plain .ugb-accordion__content .ugb-accordion__content-inner {
	padding-bottom: 0;
}

// Fix header overlapping the content toolbar
#editor .ugb-accordion.ugb-accordion--v2 .ugb-accordion__heading {
	z-index: 0;
}

// Fix not clickable if there's a color overlay.
#editor .ugb-accordion.ugb-accordion--v2 .ugb-accordion__item.ugb--has-background-overlay::before,
#editor .ugb-accordion.ugb-accordion--v2 .ugb-accordion__item.ugb--has-background-overlay .ugb-video-background {
	z-index: -1 !important;
}

// Fix Gutenberg 6.9.0 visual error. a new blank div gets added when editing.
.ugb-accordion__heading > div:empty {
	display: none;
}
