.ugb-advanced-toolbar-control .components-toolbar {
	&.ugb-toolbar--full-width {
		> div,
		> div > button,
		> div > button > svg {
			width: 100% !important;
		}
	}
	&.ugb-toolbar--multiline {
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		> div,
		> div > button,
		> div > button > svg {
			width: auto !important;
			margin: 0;
		}
	}
	.components-toolbar__control {
		justify-content: center;
		svg {
			height: 100%;
		}
	}
}

.ugb-advanced-toolbar-control__text-button {
	height: 30px;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 4px;
	padding: 3px;
}

.ugb-advanced-toolbar-control .components-toolbar {
	.components-toolbar__control {
		&.has-text {
			padding: 3px;
			&:hover {
				background-color: #fff;
				color: #191e23;
				box-shadow: inset 0 0 0 1px #555d66, inset 0 0 0 2px #fff;
			}
		}
		&.is-active {
			.ugb-advanced-toolbar-control__text-button {
				outline: none;
				color: #fff;
				box-shadow: none;
				background: #555d66;
			}
		}
	}
}
