.ugb-advanced-toolbar-control .components-button-group {
	&.ugb-toolbar--full-width {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		> button,
		> button > svg {
			width: 100% !important;
		}
		svg {
			height: 30px !important;
		}
	}
	&.ugb-toolbar--multiline {
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		> button,
		> button > svg {
			width: auto !important;
			margin: 0;
		}
	}
	.components-button__control {
		justify-content: center;
		svg {
			height: 100%;
		}
	}
}

.ugb-advanced-toolbar-control__text-button {
	height: 30px;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 4px;
	padding: 3px;
}

.ugb-advanced-toolbar-control .components-button-group {
	.components-button {
		&.is-primary,
		&.is-pressed {
			background: #555d66 !important;
			&:hover {
				background: #555d66 !important;
			}
			.ugb-advanced-toolbar-control__text-button {
				outline: none;
				color: #fff;
				box-shadow: none;
				background: #555d66;
			}
		}
		&:hover {
			background: #555d66;
			color: #fff;
		}
		&.has-icon {
			padding: 3px;
			> svg {
				padding: 5px;
			}
		}
	}
}
