/**
 * Editor styles for the Team Member Block.
 *
 * Enqueued in the editor only.
 */

.ugb-team-member.ugb-team-member--columns-1 {
	> *:nth-child(2),
	> *:nth-child(3) {
		display: none;
	}
}
.ugb-team-member.ugb-team-member--columns-2 {
	> *:nth-child(3) {
		display: none;
	}
}

[data-type="ugb/team-member"] {
	// Fade out placeholder text.
	[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
		opacity: 0.5;
	}

	// Only show placeholder text while selected or typing.
	&:not(.is-selected):not(.is-typing) {
		[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
			display: none;
		}
		[data-is-placeholder-visible="true"] {
			display: none;
		}
	}
}
