/**
 * Frontend styles for the Team Member Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-team-member.ugb-team-member--v3 {
	.ugb-block-content {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
		> *:last-child {
			margin-bottom: 0;
		}
	}
	.ugb-team-member__item {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	&.ugb-team-member--design-half,
	&.ugb-team-member--design-horizontal {
		.ugb-team-member__content {
			flex: 1;
		}
	}
	.ugb-team-member__content {
		display: flex;
		flex-direction: column;
		background-size: cover;
		background-position: center;
	}

	.ugb-team-member__image {
		width: 300px;
		height: auto;
		margin: 0 auto;
		background-size: cover;
		background-position: center;
	}
	.ugb-img {
		margin: 0 auto;
	}
	&.ugb-team-member--columns-2 .ugb-team-member__image {
		width: 220px;
	}
	&.ugb-team-member--columns-3 .ugb-team-member__image {
		width: 150px;
	}

	.ugb-team-member__image {
		margin-bottom: #{ $text-margin-bottom * 1.5 };
	}
	.ugb-team-member__position,
	.ugb-team-member__description,
	.ugb-team-member__buttons {
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-team-member__name {
		margin-bottom: #{ $text-margin-bottom / 2 };
	}
	.ugb-team-member__position {
		color: #aaa;
	}

	.ugb-team-member__buttons {
		margin-left: -4px;
		margin-right: -4px;
		.ugb-button-container {
			display: inline-block;
			margin: 0 4px 4px;
		}
	}

	&.ugb-team-member--design-basic {
		.ugb-team-member__item {
			@include box();
		}
	}
}

.ugb-team-member.ugb-team-member--v3 {
	@media screen and (max-width: $break-large) {
		&.ugb-team-member--columns-3 {
			.ugb-block-content {
				grid-template-columns: minmax(0, 1fr);
				grid-auto-flow: row;
			}
		}
	}
}
.ugb-team-member.ugb-team-member--v3 {
	@media screen and (max-width: $break-small) {
		.ugb-block-content {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-flow: row;
		}
	}
}
