.ugb-image-control {
	.ugb-placeholder {
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f1f1f1;
		margin-bottom: 12px;
		margin-top: 0.6rem;
		svg {
			height: 50px;
			fill: #ddd;
		}
	}
	.ugb-placeholder,
	.ugb-image-preview {
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&:hover {
			background: #fafafa;
		}
		&:focus {
			background: #fafafa;
			box-shadow: 0 0 0 2px rgba(30, 140, 190, 0.8);
		}
	}
	.ugb-image-preview-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f1f1f1;
		margin-top: 0.6rem;
		border-radius: 4px;
		svg {
			stroke: rgba(0, 0, 0, 0.3);
			stroke-width: 1px;
			fill: #fff;
		}
	}
	.ugb-image-preview {
		min-width: 100px;
		flex: 1 1 100px;
		margin: 0;
	}
	.ugb-image-preview-remove {
		background: none !important;
		color: #ddd;
		border: none;
		position: absolute;
		top: 10px;
		right: 4px;
		cursor: not-allowed;
	}
}
