/**
 * Frontend styles for the Count Up Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-count-up.ugb-countup--v4 {
	text-align: center;
	.ugb-countup__item {
		display: flex;
		flex-direction: column;
	}
	.ugb-countup--hide,
	.ugb-countup-hide {
		visibility: hidden;
	}

	.ugb-block-content {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
	}

	.ugb-countup__counter {
		font-size: 40px;
		line-height: 1em;
		white-space: nowrap; // Prevent counting from jumping to the next line.
	}

	.ugb-countup__icon {
		svg {
			height: 50px;
			width: 50px;
		}
	}

	.ugb-countup__icon,
	.ugb-countup__title,
	.ugb-countup__counter {
		margin: 0 0 $text-margin-bottom 0;
	}
	.ugb-countup__description {
		margin-bottom: 0;
	}

	@media screen and (max-width: $break-large) {
		// Resize numbers to make them smaller in small screens.
		.ugb-countup__counter {
			font-size: calc(1rem + 4vw);
		}
	}
}

// Collapse to 4 columns to 2 rows of 2-columns.
@media screen and (max-width: $break-large) and (min-width: $break-small) {
	.ugb-count-up.ugb-countup--v4.ugb-countup--columns-4 .ugb-block-content {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-auto-flow: row;
	}
}

// Collapse 3 columns to 1 column.
@media screen and (max-width: $break-small) {
	.ugb-count-up.ugb-countup--v4.ugb-countup--columns-3 .ugb-block-content,
	.ugb-count-up.ugb-countup--v4.ugb-countup--columns-4 .ugb-block-content {
		grid-template-columns: minmax(0, 1fr);
		grid-auto-flow: row;
	}
}
