.stk-style-control__image {
	width: 100%;
	height: 80px;
	border: 2px solid transparent;
	margin: 0;
}
.stk-style-control__image__icon {
	fill: var(--wp-admin-theme-color);
}
.stk-style-control__option:hover {
	.stk-style-control__image__icon {
		fill: var(--wp-admin-theme-color-darker-10);
	}
}
