/**
 * Editor styles for the Notification Block.
 *
 * Enqueued in the editor only.
 */

[data-type="ugb/notification"] {
	// Fade out placeholder text.
	[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
		opacity: 0.5;
	}

	// Only show placeholder text while selected or typing.
	&:not(.is-selected):not(.is-typing) {
		[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
			display: none;
		}
		[data-is-placeholder-visible="true"] {
			display: none;
		}
	}

	// Always show.
	.ugb-notification.ugb-notification--dismissible {
		display: block;
	}
}
