.stk-block.stk-block-blockquote {
	:is(.stk-container.stk-block-blockquote__content, .stk-inner-blocks) {
		flex-direction: row;
	}
}

.stk-block-blockquote__content {
	max-width: none !important;
}
.stk-block-blockquote {
	.stk-block-icon {
		flex: 0;
		width: auto;
		margin-inline-end: 16px;
	}
}
