// Some themes and plugins can warp our color indicator.
.stk-color-indicator {
	height: 20px !important;
	width: 20px !important;
}

// Style transparent circular color option.
.stk-color-palette-control {
	.components-circular-option-picker__option[style*="color:transparent"],
	.components-circular-option-picker__option[style*="color: transparent"] {
		background-image: linear-gradient(-45deg, #fff 49%, #f00 49%, #f00 51%, #fff 51%);
	}
	.components-circular-option-picker__option[style*="color:transparent"],
	.components-circular-option-picker__option[style*="color: transparent"] {
		&.is-pressed {
			background-image: linear-gradient(-45deg, #fff 49%, #f1caca 49%, #f1caca 51%, #fff 51%);
			+ svg {
				fill: #000 !important;
			}
		}
	}
	.component-color-indicator[style*="background:transparent"],
	.component-color-indicator[style*="background: transparent"] {
		background-image: linear-gradient(-45deg, #fff 48%, #f00 48%, #f00 52%, #fff 52%) !important;
	}
	.component-color-indicator {
		margin-left: 8px;
	}

	// Color button label outline.
	.block-editor-tools-panel-color-gradient-settings__dropdown {
		border: 1px solid rgba(0, 0, 0, 0.1);
		width: 100%; // WP 6.0 support.
	}
	.block-editor-panel-color-gradient-settings__dropdown {
		height: 40px; // WP 6.0 support.
	}

	.stk-control__reset-button {
		margin-top: 6px;
	}
}

// Popover container.
.stk-color-palette-control__popover-content {
	width: 260px;
	padding: 8px;
	.components-color-picker,
	.react-colorful,
	.react-colorful__hue,
	.react-colorful__alpha {
		width: 100% !important;
	}
	.react-colorful {
		overflow: visible !important;
	}
	.react-colorful__saturation {
		height: 150px !important;
	}
	// These are the side paddings of the hex input.
	.react-colorful + * > * {
		padding-inline: 0 !important;
	}
}
