.stk-block-icon-list .stk-block-icon-list__ul .stk-block-icon-list-item,
.stk-block-icon-list .stk-block-icon-list__ul [data-type^="stackable/"].stk-block-icon-list-item {
	flex-direction: column;
	// Need to make this fit the content so that we can align left/center/right
	// the list alignment.
	width: fit-content;
	margin-inline: 0 auto;

	.stk-block-icon-list-item__content {
		display: flex;
		align-items: center;
		span.stk--svg-wrapper {
			width: var(--stk-icon-height, 1em);
			svg {
				padding-right: 3px;
				width: var(--stk-icon-height, 1em);
				height: var(--stk-icon-height, 1em);
				:is(g,path,rect,polygon,ellipse) {
					fill: var(--stk-icon-list-icon-color);
				}
				fill: var(--stk-icon-list-icon-color);
				transform: rotate(var(--stk-icon-list-icon-rotation, 0deg));
				opacity: var(--stk-icon-list-icon-opacity, 1);
			}
		}
	}

	.stk-block-icon-list {
		margin-bottom: 0;
		padding-inline: 1em;
	}
}
.stk-block-icon-list [data-type^="stackable/"].stk-block-icon-list-item .stk--svg-wrapper svg {
	cursor: copy;
}

.stk-block-icon-list .stk-block-icon-list__ol .stk-block-icon-list-item {
	display: list-item;

	.stk-block-icon-list {
		margin-bottom: 0;
		padding-inline: 1em;
	}
}

li.wp-block-stackable-icon-list-item.stk-block-icon-list-item {
	margin-bottom: 0;
}
