.stk-block-icon-list-new .stk-block-icon-list__ul .stk-block.stk-block-icon-list-item,
.stk-block-icon-list-new .stk-block-icon-list__ul [data-type^="stackable/"].stk-block.stk-block-icon-list-item {
	// Need to make this fit the content so that we can align left/center/right
	// the list alignment.
	width: fit-content;
	display: flex;
	align-items: center;
	margin-inline: 0 auto;
	span.stk--svg-wrapper {
		width: var(--stk-icon-height, 1em);
		svg {
			cursor: copy;
			padding-right: 3px;
			width: var(--stk-icon-height, 1em);
			height: var(--stk-icon-height, 1em);
		}
	}

	.stk-block-icon-list-new {
		margin-bottom: 0;
		padding-inline: 1em;
	}
}

.stk-block-icon-list-new .stk-block-icon-list__ol .stk-block-icon-list-item {
	display: list-item;
}

li.wp-block-stackable-icon-list-item.stk-block-icon-list-item {
	margin-bottom: 0;
}
