.stk-block-icon-list .stk-block-icon-list__ul .stk-block-icon-list-item,
.stk-block-icon-list .stk-block-icon-list__ul [data-type^="stackable/"].stk-block-icon-list-item {
	flex-direction: column;
	// Need to make this fit the content so that we can align left/center/right
	// the list alignment.
	width: fit-content;
	margin-inline: 0 auto;

	.stk-block-icon-list-item__content {
		display: flex;
		align-items: center;
		.stk--svg-wrapper {
			margin-right: 4px;
			.stk--inner-svg svg {
				height: var(--stk-icon-height, 16px);
				width: var(--stk-icon-height, 16px);
				transform: rotate(var(--stk-icon-list-icon-rotation, 0deg));
				opacity: var(--stk-icon-list-icon-opacity, 1);
				fill: var(--stk-icon-list-marker-color);

				:is(use,g,path,rect,polygon,ellipse) {
					fill: var(--stk-icon-list-marker-color);
				}
			}
		}

	}
}

.stk-block-icon-list [data-type^="stackable/"].stk-block-icon-list-item .stk--svg-wrapper svg {
	cursor: copy;
}

.stk-block-icon-list .stk-block-icon-list__ol li.stk-block-icon-list-item {
	display: list-item;
	width: fit-content;
	margin-inline: 0 auto;

	.stk-block-icon-list-item__content {
		display: inline-flex;
		width: fit-content;
		align-items: center;

		// These allow the text to align center when the marker has bigger font-size.
		.stk-block-icon-list-item__filler {
			height: var(--stk-icon-height, 16px);
		}
		.stk-block-icon-list-item__text {
			padding-top: calc(var(--stk-icon-height, 16px) / 10);
		}
	}
	&::marker {
		font-size: var(--stk-icon-height, 16px);
		line-height: 1;
		color: var(--stk-icon-list-marker-color);
		display: inline-flex;
		height: var(--stk-icon-height, 16px);
	}

}

li.wp-block-stackable-icon-list-item.stk-block-icon-list-item {
	margin-bottom: 0;
}
