/**
 * Editor styles for the Video Popup Block.
 *
 * Enqueued in the editor only.
 */

@import "common";

#editor [data-type="ugb/video-popup"][data-align="full"] > .editor-block-list__block-edit > [data-block] > .ugb-video-popup.ugb-main-block {
	&.ugb-main-block--inner-full.ugb--has-block-background,
	&:not(.ugb--has-block-background) {
		.ugb-video-popup__wrapper {
			border-radius: 0;
			// Escape and make it full-screen.
			margin-left: #{ -$box-hori-padding };
			margin-right: #{ -$box-hori-padding };
			width: calc(100% + #{ 2 * $box-hori-padding });
		}
	}
}
