.stk-block-video-popup {
	.stk-inner-blocks {
		display: grid;
		.stk-block {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			margin: 0;
		}
	}
	.stk-block-icon {
		justify-self: center;
		align-self: center;
		width: auto;
		z-index: 2;
	}
	.stk-img-wrapper {
		height: 100%;
	}
	:is(.stk-block-icon, .stk-block-image) {
		--stk-block-margin-bottom: 0;
	}
}
.stk-block-video-popup__overlay {
	all: unset;
	cursor: pointer;
	margin: 0 auto;
	display: grid;
	width: 100%;
	background-color: transparent !important;
}
