/**
 * Frontend styles for the Video Popup Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-video-popup--v3 {
	.ugb-video-popup__wrapper {
		@include box();
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 400px;
		padding: 0;
		background: #000;
		background-size: cover;
		background-position: center;
		border-radius: 12px;
		&::before {
			transition: all 0.3s ease-in-out;
		}
	}

	.ugb-video-popup__play-button {
		position: absolute;
		svg {
			fill: #fff;
		}
	}
}
.ugb-video-popup.ugb-video-popup--v3.alignfull {
	&.ugb-main-block--inner-full.ugb--has-block-background,
	&:not(.ugb--has-block-background) {
		.ugb-video-popup__wrapper {
			border-radius: 0;
			// Escape and make it full-screen.
			margin-left: #{ -$box-hori-padding };
			margin-right: #{ -$box-hori-padding };
			width: calc(100% + #{ 2 * $box-hori-padding });
		}
	}
}

.ugb-video-popup__overlay {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 6 !important;
}

.ugb-video-popup__play-button {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	svg {
		fill: #fff;
		width: 10%;
		height: 10%;
		min-width: 30px;
		min-height: 30px;
	}
}
.ugb-video-popup--button-outline,
.ugb-video-popup--button-circle {
	.ugb-video-popup__play-button svg {
		min-width: 50px;
		min-height: 50px;
	}
}

// Don't add a background color to the popup's close button.
#bp_container .bp-x {
	&,
	&:hover {
		background: none !important;
	}
}
