/**
 * Frontend styles for the Header Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-header.ugb-header--v3 {
	text-align: center;
	&:not(.ugb-header--design-plain) {
		.ugb-header__item {
			@include box();
			padding: 150px 60px;
		}
	}
	.ugb-header__item {
		padding: 150px 60px;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	.ugb-button {
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
	}

	.ugb-header__title,
	.ugb-header__subtitle {
		margin: 0 0 $text-margin-bottom 0;
	}

	.ugb-header__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -0.5em;
		margin-right: -0.5em;
		> * {
			margin: 0 0.5em 0.5em;
		}
	}
}

.ugb-header.ugb-header--v3 {
	@media screen and (max-width: $break-small) {
		.ugb-header__buttons {
			flex-wrap: wrap;
		}
	}
}


// Full width
.ugb-header.ugb-header--v3.ugb-main-block.alignfull {
	&:not(.ugb-main-block--inner-center):not(.ugb-main-block--inner-wide) {
		padding: 0;
		.ugb-header__item {
			border-radius: 0;
		}
	}
}
