@import "common";

.stk-block-posts {
	$parent: &;
	& > &__items {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--stk-column-gap, 16px);
		row-gap: 16px;
		#{ $parent }__title,
		#{ $parent }__meta,
		#{ $parent }__category,
		#{ $parent }__excerpt,
		#{ $parent }__readmore,
		.stk-img-wrapper {
			margin-bottom: cssvar(block-margin-bottom);
		}
	}

	&__title > a {
		text-decoration: none;
	}

	&__item {
		// Generate a flex basis value based on the number of columns.
		flex-basis: calc((100%/var(--stk-columns, 2)) - (var(--stk-column-gap, 16px)) + (var(--stk-column-gap, 16px)/var(--stk-columns, 2)));
	}
}

.stk-block.stk-block-posts .stk-block-posts__title {
	margin-top: 0;
}
