@import "common";

.stk-block-posts {
	$p: &;
	@include mobile {
		#{ "--stk-columns" }: 1;
	}

	& > &__items {
		flex-wrap: wrap;
		display: flex;
		column-gap: var(--stk-column-gap, 12px);
		row-gap: 12px;
		:is(#{ $p }__title,#{ $p }__meta,#{ $p }__category,#{ $p }__excerpt,#{ $p }__readmore,.stk-img-wrapper) {
			margin-bottom: cssvar(block-margin-bottom);
		}
	}

	:is(#{ $p }__title, #{ $p }__category) > a {
		text-decoration: none;
	}

	&__category > a.stk-button {
		padding: 4px 8px 4px 8px;
		display: inline-flex;
		border-radius: 4px;
	}

	&__item {
		// We need this to make advanced position work.
		position: relative;
		// Generate a flex basis value based on the number of columns.
		flex-basis: calc((100%/var(--stk-columns, 2)) - (var(--stk-column-gap, 16px)) + (var(--stk-column-gap, 16px)/var(--stk-columns, 2)));
		width: calc((100%/var(--stk-columns, 2)) - (var(--stk-column-gap, 16px)) + (var(--stk-column-gap, 16px)/var(--stk-columns, 2)));
	}
}

.stk-block.stk-block-posts .stk-block-posts__title {
	margin-top: 0;
}

.stk-block-posts__meta-sep {
	margin-inline: 1ch;
}
