/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Most used breakpoints
$break-huge: 1440px;
$break-wide: 1280px;
$break-large: 960px; // admin sidebar auto folds
$break-medium: 782px; // adminbar goes big
$break-small: 600px;
$break-mobile: 480px;

[class*="ugb-"] form[class*="-link"],
form[class*="ugb-"][class*="-link"],
[class*="ugb-"] + form[class*="-link"] {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Box
$box-radius: 12px;
$box-hori-padding: 35px;
$box-vert-padding: 60px;

/**
 * For blocks with a box outline, we can use the custom properties:
 * --box-padding-vert
 * --box-padding-hori
 * to get the current padding values
 */
@mixin box() {
	box-shadow: 0 5px 5px 0 rgba(18, 63, 82, 0.035), 0 0 0 1px rgba(176, 181, 193, 0.2);
	background-color: #fff;
	border-radius: $box-radius;
	overflow: hidden;
	padding: $box-vert-padding $box-hori-padding;
	--box-padding-vert: #{$box-vert-padding};
	--box-padding-hori: #{$box-hori-padding};
	@media screen and (max-width: $break-medium) {
		padding: ($box-vert-padding * 2/3) ($box-hori-padding * 2/3);
		--box-padding-vert: #{($box-vert-padding * 2/3)};
		--box-padding-hori: #{($box-hori-padding * 2/3)};
	}
	@media screen and (max-width: $break-small) {
		padding: $box-hori-padding ($box-hori-padding / 2);
		--box-padding-vert: #{$box-hori-padding};
		--box-padding-hori: #{($box-hori-padding / 2)};
	}
}

@mixin baseBlock() {
	@include blockContentReset();
	@include baseMargins();
}

@mixin baseMargins() {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

@mixin blockContentReset() {
	> * {
		margin-top: 0 !important;
		margin-bottom: 1rem !important;
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

@mixin baseButton() {
	padding-bottom: calc(0.375em - var(--s-border, 0px));
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: calc(0.375em - var(--s-border, 0px));
	font-size: 1em;
	line-height: 1.5 !important;
	align-items: center;
}

// Full-widths should be on top of each other.
[class*="ugb-"].alignfull + [class*="ugb-"].alignfull {
	margin-top: -1.5em;
}

// Different box shadows for the shadow setting.
$shadows: ( none )
	( 0 0 0 1px rgba(120, 120, 120, 0.1) )
	( 0 0 0 2px rgba(120, 120, 120, 0.1) )
	( 0 5px 5px 0 rgba(18, 63, 82, 0.035), 0 0 0 1px rgba(176, 181, 193, 0.2) )
	( 0px 2px 20px rgba(153, 153, 153, 0.2) )
	( 0 5px 30px -10px rgba(18, 63, 82, 0.3) )
	( 0px 10px 30px rgba(0, 0, 0, 0.05) )
	( 7px 5px 30px rgba(72, 73, 121, 0.15) )
	( 0px 10px 60px rgba(0, 0, 0, 0.1) )
	( 0px 70px 130px -60px rgba(72, 73, 121, 0.38) );

@for $i from 0 through 9 {
	.ugb--shadow-#{ $i },
	.ugb-shadow-#{ $i } { // Old naming convention.
		box-shadow: nth($shadows, $i + 1) !important;
	}
}

// A block can have a ugb-content-width class to make it's content fit the content-width.
.ugb--content-width .ugb-content-wrapper,
.ugb-content-width .ugb-content-wrapper { // Old naming convention.
	max-width: var(--content-width);
	margin: 0 auto;
}

// Make sure all our blocks are at the same level. Mainly for our separator to work.
div[class^="wp-block-"] {
	z-index: 1;
}

// Fix for iOS fixed background attachments do not convert to scroll.
@supports (-webkit-overflow-scrolling: touch) {
	[class*="ugb-"][style*="background-attachment:fixed"] {
		background-attachment: scroll !important;
	}
	[class*="ugb-"][style*="background-attachment: fixed"] {
		background-attachment: scroll !important;
	}
}
