/**
 * Common SCSS
*/

@import "styles/block-design-system";
@import "styles/block";

@mixin transition() {
	transition: all 0.7s cubic-bezier(0.2, 0.6, 0.4, 1);
}

// Make sure all our blocks are at the same level. Mainly for our separator to work.
.stk-block {
	z-index: 1;
}

// Fix for iOS fixed background attachments do not convert to scroll.
@supports (-webkit-touch-callout: inherit) {
	.stk-block,
	.stk-container {
		background-attachment: scroll !important;
	}
}

// Some themes may force pseudo elements on our blocks and this will destroy our column layouts.
.stk-block:not(.stk--has-background-overlay)::before,
.stk-block::after {
	content: none !important;
}

// Utility class to easily add an overlay button on an element
.stk--transparent-overlay {
	all: unset !important; // We need to unset since we want to ensure that this is invisible.
	position: absolute !important;
	inset: 0 !important;
	width: 100% !important;
	background: transparent !important;
	cursor: pointer !important;
	z-index: 3 !important;
}
