// Editor only: Smooth changes.
// $effect-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out, transform 0.2s ease-in-out, padding 0.2s ease-in-out, border-radius 0.2s ease-in-out, fill 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
// .wp-admin .wp-block [class*="ugb-"],
// .wp-admin .wp-block [class*="ugb-"] * {
// 	transition: $effect-transition;
// }
@import "common";
@import "styles/editor-block-design-system";
@import "styles/editor-block";

// Stackable gradient fill. Works in tandem with icons.js
svg.stk-stackable-icon-gradient {
	fill: url(#stackable-gradient) !important;
}

// Hide the additional Panels of EditorsKit for Stackable blocks, since we have
// duplicate functionality.
.ugb--has-panel-tabs .ugb-panel-tabs ~ .editorskit-panel {
	display: none;
}

// Styling for inspector toolbars which are Premium only.
// This adds a lock icon when hovering over the option.
.components-toolbar__control.ugb--is-premium {
	position: relative;
	&::after {
		position: absolute;
		z-index: 1;
		background: none;
		line-height: 18px;
		padding: 0 6px;
		border-radius: 2px;
		left: 0;
		right: 0;
		text-transform: uppercase;
		background-size: 100%;
		background-repeat: no-repeat;
		font-family: dashicons;
		content: "\f160";
		color: #888;
		font-size: 20px;
		opacity: 0;
	}
	*,
	&::after {
		transition: all 0.2s ease-in-out;
	}
	// Adjust opacity since a disabled toolbar changes the opacity of the whole thing.
	&:disabled {
		opacity: 1;
		* {
			opacity: 0.3;
		}
	}
	&:hover {
		* {
			opacity: 0;
		}
		&::after {
			opacity: 1;
		}
	}
}

/**
 * Thicker column (blue) outlines for container-type blocks.
 */

$blocks: (
	'[data-type="stackable/column"]',
	'[data-type="stackable/call-to-action"]',
	'[data-type="stackable/card"]',
	'[data-type="stackable/hero"]',
	'[data-type="stackable/notification"]',
	'[data-type="stackable/testimonial"]',
	'[data-type="stackable/team-member"]'
);
$block-joined: #{ join($blocks, (), $separator: comma) };

// Highlight column blocks in a special color so people can see the column better.
:is(#{ $block-joined }):hover {
	outline: 2px solid var(--wp-admin-theme-color);
}
// Darker color for nested columns.
:is(#{ $block-joined }) :is(#{ $block-joined }):hover {
	outline: 2px solid var(--wp-admin-theme-color-darker-20);
}

/**
 * Gray dotted outlines for blocks
 */

:root {
	--stk-block-outline-color: #888;
}
// Highlight root blocks with an outline when they're hovered on. But only
// stackable blocks to keep the default behavior of core blocks and other
// third-party blocks.
.is-root-container > [data-block][data-type^="stackable/"]:not([data-type*="/column"]):not(:focus) {
	&::after {
		content: "";
		inset: 0;
		pointer-events: none;
	}
	&:hover::after {
		outline: 2px dotted var(--stk-block-outline-color);
	}
}
// For blocks inside columns, highlight all blocks.
[data-type^="stackable/"] {
	[data-block]:not([data-type*="/column"]):not(:focus) { // Don't do this for columns and column blocks since they have their own highlight.
		&::after {
			content: "";
			inset: 0;
			pointer-events: none;
		}
		&:hover::after {
			outline: 2px dotted var(--stk-block-outline-color);
		}
	}
}
// Some blocks contain other blocks, make them a lighter gray shade.
[data-type="stackable/button-group"],
[data-type="stackable/blockquote"],
[data-type="stackable/icon-label"],
[data-type="stackable/expand"] {
	--stk-block-outline-color: #ccc;
	* {
		--stk-block-outline-color: #888;
	}
}

// Hide the gray outline of some blocks.
[data-type="stackable/accordion"]::after,
[data-type="stackable/feature-grid"]::after,
[data-type="stackable/pricing-box"]::after,
[data-type="stackable/feature"]::after,
.stk-block-accordion__heading [data-type="stackable/icon-label"]::after, // Hide the outline for the accordion heading.
.stk-block-video-popup [data-type="stackable/image"]::after, // Hide the outline for the video popup image block.
:is(#{ $block-joined })::after { // Make sure that all the blue highlighted blocks don't have gray outlines.
	outline: none !important;
}
