// Editor only: Smooth changes.
$effect-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out, transform 0.2s ease-in-out, padding 0.2s ease-in-out, border-radius 0.2s ease-in-out, fill 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
.wp-admin .wp-block [class*="ugb-"],
.wp-admin .wp-block [class*="ugb-"] * {
	transition: $effect-transition;
}

// Stackable gradient fill. Works in tandem with icons.js
svg.ugb-stackable-icon-gradient {
	fill: url(#stackable-gradient) !important;
}

// Standardized block styles for the editor.

// Remove all block margins, to make our advanced block spacing work.
// We will add our own.
.block-editor-block-list__block[data-type^="ugb/"] {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

[data-type^="ugb/"][data-align="full"] {
	> * > .ugb-main-block {
		margin-top: 35px; // Implement our own block margins
		margin-bottom: 35px; // Implement our own block margins
		padding: 0 35px;
		// We don't need this in the editor, but save for the future.
		// @media screen and (max-width: $break-small) {
		// 	padding-right: 17.5px;
		// 	padding-left: 17.5px;
		// }
	}
	&.block-editor-block-list__block {
		margin-left: -10px !important;
		margin-right: -10px !important;
	}
}

// Hide the additional Panels of EditorsKit for Stackable blocks, since we have
// duplicate functionality.
.ugb--has-panel-tabs .ugb-panel-tabs ~ .editorskit-panel {
	display: none;
}

// Styling for inspector toolbars which are Premium only.
// This adds a lock icon when hovering over the option.
.components-toolbar__control.ugb--is-premium {
	position: relative;
	&::after {
		position: absolute;
		z-index: 1;
		background: none;
		line-height: 18px;
		padding: 0 6px;
		border-radius: 2px;
		left: 0;
		right: 0;
		text-transform: uppercase;
		background-size: 100%;
		background-repeat: no-repeat;
		font-family: dashicons;
		content: "\f160";
		color: #888;
		font-size: 20px;
		opacity: 0;
	}
	*,
	&::after {
		transition: all 0.2s ease-in-out;
	}
	// Adjust opacity since a disabled toolbar changes the opacity of the whole thing.
	&:disabled {
		opacity: 1;
		* {
			opacity: 0.3;
		}
	}
	&:hover {
		* {
			opacity: 0;
		}
		&::after {
			opacity: 1;
		}
	}
}
