// Editor only: Smooth changes.
$effect-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out, transform 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out, border-radius 0.2s ease-in-out, fill 0.2s ease-in-out;
.wp-admin .wp-block .ugb-has-background,
.wp-admin .wp-block .ugb--has-background {
	&,
	&::before {
		transition: $effect-transition;
	}
}
.wp-admin .wp-block [class*="ugb-"],
.wp-admin .wp-block [class*="ugb-"] * {
	transition: $effect-transition;
}
