/**
 * Editor styles for the Container Block.
 *
 * Enqueued in the editor only.
 */

@import "../../common.scss";

// Remove border radius on full width.
[data-align="full"] {
	.ugb-container:not(.ugb-container--design-plain):not(.ugb--has-block-background) {
		padding-left: 0 !important;
		padding-right: 0 !important;
		> .ugb-inner-block > .ugb-block-content > .ugb-container__wrapper {
			border-radius: 0 !important;
		}
	}
}

// Prevent block align center from centering our text.
[data-type="ugb/container"][data-align="center"] {
	text-align: inherit;
}

// Inner blocks are always restricted to the content width.
.ugb-container .block-editor-block-list__block {
	max-width: none !important;
}
