/**
 * Frontend styles for the Container Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-container.ugb-container--v2 {
	&.alignfull:not(.ugb-container--design-plain):not(.ugb--has-block-background) {
		padding-left: 0;
		padding-right: 0;
		> .ugb-inner-block > .ugb-block-content > .ugb-container__wrapper {
			border-radius: 0 !important;
		}
	}

	// We need to write this the specific way so that we don't affect nested containers.
	> .ugb-inner-block > .ugb-block-content > .ugb-container__wrapper {
		@include box();
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.ugb-container__side {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.ugb-container__side,
	.ugb-container__content-wrapper {
		width: 100%;
	}

	// Adjust the edge content blocks.
	.ugb-container__content-wrapper > *:first-child {
		margin-top: 0;
	}
	.ugb-container__content-wrapper > *:last-child {
		margin-bottom: 0;
	}

	&.ugb-container--width-small {
		@media screen and (max-width: $break-small) {
			.ugb-container__content-wrapper {
				width: 70%;
			}
		}
	}

	// Disallow nested Stackable blocks to become full-width.
	.ugb-main-block.alignfull,
	.ugb--has-block-background {
		width: auto !important;
		margin-left: 0;
	}
}

.ugb-container.ugb-container--v2.ugb-container--design-plain {
	> .ugb-inner-block > .ugb-block-content > .ugb-container__wrapper {
		background: none;
		padding-left: 0;
		padding-right: 0;
		box-shadow: none;
		border-radius: 0;
		overflow: visible;
	}
}
