.ugb-image-upload-placeholder {
	position: relative;
	cursor: copy;
	margin-left: auto;
	margin-right: auto;
	img {
		display: block;
	}
}
.ugb-image-upload-has-placeholder {
	background: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 100%;
	svg {
		width: 100%;
		max-height: 50px;
		fill: #ddd;
		max-width: 40%;
		width: 100%;
	}
	&:hover {
		background: #fafafa;
	}
	&:focus {
		background: #fafafa;
		box-shadow: 0 0 0 2px rgba(30, 140, 190, 0.8);
	}
}
.ugb-image-upload-has-image {
	&:hover {
		opacity: 0.8;
	}
}

.ugb-image-upload-remove {
	background: none !important;
	color: #ddd;
	border: none;
	position: absolute;
	top: 10px;
	right: 4px;
	cursor: pointer;
	display: none;
	z-index: 9 !important;
	svg {
		stroke: rgba(0, 0, 0, 0.3);
		stroke-width: 1px;
		fill: #fff;
		max-width: none;
	}
}

// Only display the X button when selected/hovered.
.editor-block-list__block {
	&.is-selected,
	&.is-hovered {
		.ugb-image-upload-remove {
			display: block;
		}
	}
}
