.stk-block-icon-label [data-type="stackable/icon"] {
	flex: 0 0 0;
}
// Icon label can collapse in mobile in the editor.
.stk-preview-device-mobile .stk-block-icon-label .block-editor-block-list__layout [data-type="stackable/icon"] {
	flex: 0 0 0;
}
.stk-preview-device-mobile .stk-block-icon-label .block-editor-block-list__layout [data-type="stackable/heading"] {
	flex: 1 1 0;
}
// Heading container width is not limited anymore.
.stk-block-icon-label.stk-block-icon-label {
	.stk-inner-blocks.stk-block-content {
		max-width: unset !important;
	}
}

.stk-block-icon-label .stk-inner-blocks .block-editor-block-list__layout {
	gap: 28px;
}
