.stk-block-icon-label {
	// For old icon gap
	&.stk-block-icon-label--use-flex-basis {
		// Default width of the icon width.
		.stk-block-icon {
			flex: 0 0 64px;
		}
		.stk-inner-blocks {
			gap: 0;
		}
	}

	// used by iconGap2
	.stk-inner-blocks {
		gap: 28px;
	}

	// Remove margins and make sure the icon and text are both centered.
	:is(.stk-block-icon, .stk-block-heading) {
		--stk-block-margin-bottom: 0;
		display: flex;
		align-items: center;
	}
	// Remove default text margins.
	.stk-block-heading__text {
		width: 100%;
		margin-block: 0;
		text-align: start;
	}
	// Don't allow the icon and text to stack.
	.stk-row {
		flex-wrap: nowrap;
	}
	// Inherit the width of the container
	.wp-block-stackable-heading.stk-block-heading,
	.stk-block-heading {
		width: inherit;
	}
}
