/**
 * Admin Welcome Screen
 */

:root {
	--stk-welcome-primary: #dd2590;
	--stk-welcome-secondary: #101828;
	--stk-welcome-light-border: #d0d5dd;
}

// Make scroll smooth with inline navigation.
html {
	scroll-behavior: smooth;
}

// Clear out the margins of the admin page.

body[class*="page_stackable"],
body[class*="page_stk-"] {
	#wpcontent {
		padding-left: 0;
	}
	#wpbody-content > .wrap:not(#fs_connect) { // stylelint-disable-line selector-id-pattern
		margin: 0;
		padding: 0 50px;

		&.wrap-settings {
			padding: 0;
		}
	}
}

.s-header-wrap {
	position: relative;
	display: flex;
	background-color: #fff;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 40px;
	border-bottom: 1px solid var(--stk-welcome-light-border);
	font-weight: 300;

	&.s-header-settings {
		margin: 0;
	}

	.s-header {
		padding: 0px;
		position: absolute;
		left: 50px;
		align-self: center;
		&.s-logo-logo {
			h1 {
				justify-content: left;
			}
			img {
				height: 40px;
			}
			// Hide all admin notices in the getting started area.
			h1 ~ * {
				display: none !important;
			}
		}
	}

	.s-premium-button {
		align-self: center;
		background: var(--stk-welcome-primary) !important;
		border-radius: 4px;
		font-weight: 600;
		text-transform: unset !important;
		width: 200px;
		text-align: center;
		position: absolute;
		right: 50px;
		transition: all 0.1s ease-in-out;
		text-decoration: none;
		border: none;
		color: #fff;
		padding: 12px 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		cursor: pointer;
		box-sizing: border-box !important;
		&:hover {
			opacity: 0.85;
			box-shadow: none !important;
		}
	}
}

@media screen and (max-width: 1200px) {
	.s-header-wrap {
		flex-direction: column;
		align-items: center;

		.s-header {
			position: unset;
			padding: 16px;
			left: unset;
		}

		.s-premium-button {
			position: unset;
			right: unset;
		}
	}
}

// Actual page styles.
.s-header {
	padding: 50px;
	// Hide Freemius tabs.
	.nav-tab-wrapper {
		display: none !important;
	}
}
.s-admin-notice-marker ~ .nav-tab-wrapper {
	display: none !important;
}
.s-header {
	background: #fff;
	padding-bottom: 80px;
	&.s-header-no-tabs {
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
	&.s-logo-icon {
		img {
			height: 34px;
			margin-right: 15px;
		}
	}
	&.s-logo-logo {
		h1 {
			justify-content: left;
		}
		img {
			height: 40px;
		}
		// Hide all admin notices in the getting started area.
		h1 ~ * {
			display: none !important;
		}
	}
}

.s-header h1,
.s-heading-1 {
	font-size: 23px;
	font-weight: 400;
	padding: 0;
	display: flex !important;
	align-items: center;
}

.s-admin-notice-marker {
	display: none !important;
}

.s-header-wrap,
.s-separator {
	margin-left: -50px;
	margin-right: -50px;
}
.s-settings-subtitle {
	width: calc(95% - 250px);
	margin: 0.5em 0 40px;
}
.s-settings-field,
.ugb-admin-setting {
	--label-width: clamp(150px, 270px, 30%);
}
.s-settings-field {
	margin-bottom: 16px;
	label {
		margin-top: 16px;
		.s-settings-field__title {
			width: var(--label-width);
			display: inline-block;
			font-weight: bold;
			color: #666;
			padding-right: 15px;
			box-sizing: border-box;
			flex-shrink: 0;
		}
	}
	[type="text"],
	[type="number"],
	[type="date"],
	[type="time"],
	[type="url"],
	select {
		padding: 0.5em 1em;
		max-width: 400px;
		width: 100%;
		box-shadow: 0 5px 30px -10px rgba(18, 63, 82, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0;
	}
	&.s-settings-field-small {
		[type="text"] {
			width: 300px;
		}
	}
	p {
		font-style: italic;
		margin-top: 4px;
	}
}
.s-custom-fields-settings-header {
	display: flex;
	.ugb-admin-setting__label {
		display: none;
	}
}
.s-custom-fields-enable {
	margin-left: 32px;
	display: flex;
	align-items: center;
	.ugb-admin-setting {
		margin: 0;
	}
}
.s-icon-settings-fa-pro-version .ugb-admin-setting__field p {
	margin-left: 20px;
}

.s-icon-settings-fa-pro-version {
	display: none;
}

.s-settings-error {
	color: #ff5a7f;
}
.s-notice-good {
	padding: 30px;
	border-radius: 12px;
	background: linear-gradient(to left, #e4f5ef, #ccf3cd);
	margin-bottom: 1em;
}
.s-notice-bad {
	color: #ff5a7f;
}
.s-notice--with-icon {
	margin: 2em 0;
	padding-left: 60px;
	position: relative;
	> svg {
		height: 36px;
		width: 36px;
		position: absolute;
		left: 0;
		top: 0;
	}
	path {
		fill: #f5305c;
		opacity: 1;
	}
	path:first-child {
		fill: #ffda00;
		opacity: 0.6;
	}
}
.s-notice-em {
	color: #888;
	margin-bottom: 1em;
}
.s-button-set-margin-top {
	margin-top: 32px;
}
.s-button-set-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.s-button,
	.s-button--ghost {
		margin: 0 16px !important;
	}
}
.s-button-set {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.s-button {
		margin-right: 16px !important;
	}
	.components-spinner {
		margin-top: 0;
	}
	button:last-child {
		margin-left: auto;
	}
}

.s-tabs {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	height: 80px;
	.s-tab {
		padding: 28px 16px;
		list-style: none;
		margin: 0 !important;
		display: flex;
		align-items: flex-end;
		cursor: pointer;
		color: #444 !important;
		text-decoration: none !important;
		&[aria-selected="true"],
		&.s-active {
			position: relative;
			font-weight: 600;
			color: var(--stk-welcome-primary) !important;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				background-color: var(--stk-welcome-primary);
			}
		}
		&:hover {
			color: var(--stk-welcome-primary) !important;
		}
		&.s-tab-premium {
			color: #bd2f9a !important;
		}
		&:focus {
			box-shadow: none;

			span {
				box-shadow: 0 0 0 1px #4f94d4, 0 0 2px 1px rgba(79, 148, 212, 0.8);
			}
		}
	}
}
.s-logo-logo + * > .s-tabs {
	justify-content: center;
}
.ugb-admin-setting.s-block-setting:not(:last-child) {
	margin-bottom: 32px;
	padding-bottom: 0;
}
body.settings_page_stackable {
	#wpwrap {
		background: #fff;
	}
	.s-box {
		box-shadow: none !important;
	}
}
body.settings_page_stackable,
body.settings_page_stackable-getting-started {
	// Hide admin notices to not mess up the welcome screen.
	.s-header > *:not(h1):not(img) {
		display: none !important;
	}
	// Hide admin notices in the Getting Started screen.
	.s-body-container .updated {
		display: none !important;
	}
	#wpfooter {
		display: none;
	}
	#wpbody-content {
		padding-bottom: 0;
	}
}
body.settings_page_stackable,
body.settings_page_stackable-getting-started,
body.toplevel_page_stk-custom-fields {
	img {
		max-width: 100%;
	}
	ul {
		padding-left: 2em;
		list-style-type: circle;
	}
	.s-box {
		background-color: #fff;
		border-radius: 0;
		overflow: hidden;
		padding: 30px;
		overflow: visible;
		box-shadow: 0 18px 35px -15px rgba(18, 63, 82, 0.25);
		border: 0;
		transition: all 0.3s ease;
		position: relative;
		&.s-box-spaced {
			padding-left: 4vw;
			padding-right: 4vw;
		}
		&.s-box-small {
			padding-left: 15px;
			padding-right: 15px;
			box-shadow: 0 25px 15px -15px rgba(18, 63, 82, 0.15), 0 2px 7px 0 rgba(18, 63, 82, 0.15);
			h3 {
				color: #f34957;
			}
		}
		&.s-box-hidden {
			display: none;
		}
	}
	.s-absolute-spinner {
		position: absolute;
		bottom: 16px;
		left: 35px;
		.components-spinner {
			margin: 0;
		}
	}

	.s-button {
		background: linear-gradient(135deg, #b300be, #f00069);
		transition: all 0.1s ease-in-out;
		text-decoration: none;
		border: none;
		color: #fff;
		padding: 12px 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		cursor: pointer;
		box-sizing: border-box !important;
		display: inline-block;
		&:hover {
			opacity: 0.85;
			box-shadow: none !important;
		}
		&:disabled {
			background: #888;
			opacity: 0.4;
		}
		&.s-button-left {
			margin-left: 0;
		}
		&.s-button--ghost {
			border: 1px solid linear-gradient(135deg, #b300be, #f00069);
			border: 1px solid #b300be;
			color: linear-gradient(135deg, #b300be, #f00069);
			color: #8c33da;
			background: #fff;
		}
		&.s-button--plain {
			color: linear-gradient(135deg, #b300be, #f00069);
			color: #8c33da;
			background: #fff;
		}
	}
	.s-box.s-left-align h3 {
		text-align: left;
	}
	.s-body-container {
		padding-top: 0;
		&.s-narrow {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
		&.s-body-container-center {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		p,
		li {
			line-height: 1.6;
		}
		li {
			margin-bottom: 0.6em;
		}
	}
	.s-body-container,
	.s-box {
		> *:first-child {
			margin-top: 0 !important;
		}
		> *:last-child {
			margin-bottom: 0 !important;
		}
	}
	#settings-content {
		position: relative;
		display: grid;
		grid-template-columns: 250px 1fr;
	}
	.s-sidenav {
		min-height: 90vh;
		width: 250px;
		left: 0;
		background-color: #fff;
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		box-shadow: inset 0 -18px 35px -15px #123f5240;
		z-index: 1;
		> * {
			position: sticky;
			height: 100vh;
			display: flex;
			flex-direction: column;
			top: 50px;
		}
		+ .s-box {
			padding-bottom: 200px;
		}
		.s-sidenav-item {
			color: #444;
			font-size: 14px;
			padding: 15px 20px;
			text-decoration: none;
			display: block;
			position: relative;
			width: 100%;
			text-align: left;
			background: none;
			border: none;
			transition: background-color 0.3s ease;
			cursor: pointer;
			&:hover {
				color: var(--stk-welcome-primary) !important;
			}
			&.s-active {
				font-weight: 600;
				color: var(--stk-welcome-primary) !important;
				transition: color 0.3s ease;
				background: #f1f1f1;
				&::after {
					content: "";
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					width: 4px;
					background-color: var(--stk-welcome-primary);
					transition: width 0.3s ease;
				}
			}
			&.s-sidenav-item-highlight {
				font-weight: bold;
			}
		}
		// Fade out the non-highlighted items.
		.s-sidenav-item:has(~ .s-sidenav-item-highlight):not(.s-active):not(.s-sidenav-item-highlight),
		.s-sidenav-item-highlight ~ .s-sidenav-item:not(.s-sidenav-item-highlight):not(.s-active) {
			opacity: 0.3;
		}
		.s-save-changes-wrapper {
			bottom: 0;
			padding: 20px;
			flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: end;
		}
		.s-save-changes-inner-wrapper {
			bottom: 20px;
			display: inline-block;
			position: sticky;
		}
		// This is a button, render this in the bottom of the side bar
		// The side bar is a flex container, so this will be at the bottom.
		.s-save-changes {
			background: linear-gradient(135deg, #b300be, #f00069);
			width: 100%;
			margin: 0;
			transition: all 0.1s ease-in-out;
			text-decoration: none;
			border: none;
			color: #fff;
			padding: 12px 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
			cursor: pointer;
			box-sizing: border-box !important;
			min-height: 55px;
			&:hover {
				opacity: 0.85;
				box-shadow: none !important;
			}
			&:not(.s-button-has-unsaved-changes) {
				filter: saturate(0);
			}
		}
		.s-save-changes-note {
			top: -30px;
			position: absolute;
			display: block;
			right: 0;
			left: 0;
			text-align: center;
		}
	}
	.s-search-setting {
		display: flex;
		justify-content: end;
		position: absolute;
		right: 30px;
		.s-search-setting__input {
			margin: 0;
			padding: 0.5em 1em;
			width: 250px;
		}
	}

	.ugb-admin-setting--not-highlight {
		display: none;
	}

	.components-base-control--not-highlight {
		display: none;
	}

	.s-confirm-modal {
		.components-button {
			--wp-admin-theme-color: #f00069;
			--wp-admin-theme-color-darker-10: #c40056;
		}
	}

	.s-setting-group {
		padding-bottom: 32px;
		padding-top: 32px;
		&:not(:last-child) {
			border-bottom: 1px solid #eaecf0;
		}
		&:first-child {
			padding-top: 0;
			h2 {
				margin-top: 0;
			}
		}
		h2 {
			font-size: 1.6em;
			margin: 1em 0 0.5em;
		}
	}

	.s-v2-settings {
		&.s-settings-hide {
			display: none;
		}
	}

	.s-side {
		h2,
		h3 {
			text-align: center;
		}
	}
	.s-gambit-logo {
		display: inline-block;
		vertical-align: middle;
		padding-top: 10px;
		margin: 0 10px;
	}
	.s-gif {
		display: block;
		max-width: 300px;
		margin: 0 auto;
	}
	.s-plus-button {
		height: 1em;
		vertical-align: baseline;
		width: 1em;
	}
	.s-premium-box {
		> p {
			text-align: center;
		}
	}
	.stackable_notice_wrapper {
		// outline: 2px solid #f00069;
		margin: 0;
		padding: 20px;
		background: #e9ebee;
	}
	.stackable_notice {
		margin-bottom: 35px;
		> *:last-child {
			margin-bottom: 0;
		}
	}
	#editor-settings {
		margin-bottom: 0;
	}
	.s-settings-header {
		text-align: right;
		margin: 0 -0.5em 1em;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		button {
			margin: 0 0.5em;
		}
	}
	.s-settings-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		grid-gap: 64px;
		grid-row-gap: 24px;
		.s-box {
			margin: 0;
			padding: 35px * 0.8 35px * 0.6;
			text-align: center;
			display: flex;
			flex-direction: column;
			> *:not(:last-child) {
				margin-bottom: 1em;
			}
			> * {
				margin-top: 0 !important;
			}
		}
	}
	.s-box-block {
		padding-top: 32px;
	}
	.s-box-block__title {
		display: flex;
		align-items: center;
		margin: -32px 12px 32px -8px !important;
		svg {
			padding: 20px;
			border-radius: 100%;
			overflow: visible;
			margin-right: 12px;
		}
		&.s-box-block__title--essential svg {
			background: rgba(71, 160, 221, 0.15);
		}
		&.s-box-block__title--special svg {
			background: rgba(226, 115, 93, 0.15);
		}
		&.s-box-block__title--section svg {
			background: rgba(234, 189, 89, 0.15);
		}
	}
	.s-box-block {
		.s-settings-grid {
			row-gap: 0;
		}
		.ugb-admin-toggle-setting {
			margin: 0 !important;
			padding: 16px 0 !important;
			max-width: none !important;
		}
		.ugb-admin-setting__label {
			width: 100% !important;
			justify-content: space-between;
			display: flex;
			a {
				font-weight: normal;
			}
		}
	}
	.s-video-tutorial-wrapper {
		padding-bottom: 58.4%;
		height: 0;
		position: relative;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
	.s-check-list {
		padding-left: 10px;
		li {
			margin-bottom: 3px !important;
			list-style-type: none;
			&::before {
				font-weight: bold;
				font-size: 1rem;
				content: "✓";
				color: #8c33da;
				margin-right: 0.5rem;
			}
		}
	}
	.s-link-pair {
		a {
			margin-right: 2em;
		}
	}
	.s-intro {
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		grid-gap: 35px;
		justify-content: center;

		@media screen and (max-width: 1440px) and (min-width: 1280px) {
			grid-template-columns: 1fr minmax(250px, 300px);
			> *:first-child {
				grid-column: 1 / 3;
			}
		}
		@media screen and (max-width: 1280px) {
			grid-template-columns: 1fr;
		}
	}

	// News
	.s-news-box {
		ul {
			padding-left: 0;
		}
		li {
			list-style: none;
			margin-bottom: 1.2em;
			a {
				font-weight: bold;
				text-decoration: none;
				display: block;
				margin-bottom: 0.5em;
				line-height: 1.2;
			}
		}
		time {
			font-size: 0.7em;
			color: #aaa;
			display: block;
			line-height: 1;
		}
	}

	// Go premium notice checkbox.
	.s-input-checkbox {
		display: inline-flex;
		align-items: center;
		.components-spinner {
			margin-top: 0;
		}
	}

	.s-text-field {
		display: flex;
		align-items: center;
	}
}

.s-settings-pro {
	font-style: italic;
	padding: 12px 24px;
	display: inline-block;
	border-radius: 6px;
	box-shadow: 0 5px 17px -4px rgba(18, 63, 82, 0.2);
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	&:hover {
		opacity: 1;
	}
}
.s-box:hover {
	.s-settings-pro {
		opacity: 1;
	}
}

.s-3-column,
.s-4-column {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 35px;
	> * {
		margin: 0 !important;
	}
}
.s-3-column {
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 960px) {
	// Collapse to a single column for mobile.
	.s-body-container {
		grid-template-columns: 1fr !important;
	}
}

// Save spinner for the additional options.
.ugb--saving-wrapper {
	height: 40px;
	margin-top: 16px;
	.components-spinner {
		margin: 0 !important;
	}
}

// Additional options.
.s-other-options-wrapper {
	.components-base-control {
		margin-bottom: 8px;
	}
	.components-checkbox-control__input[disabled] {
		opacity: 0.3;
		background: #aaa !important;
	}
	.components-checkbox-control .components-base-control__help {
		margin-top: 0;
		margin-left: 32px;
	}
	p {
		margin-bottom: 2em;
	}
}

@import "news";
@import "getting-started";
@import "freemius";
