/**
 * Admin Welcome Screen
 */

// Clear out the margins of the admin page.
body.toplevel_page_stackable {
	#wpcontent {
		padding-left: 0;
	}
	.wrap {
		margin: 0;
	}
}

@import "common";

// Actual page styles.
body.toplevel_page_stackable {
	.s-header,
	.s-body-container {
		padding: 50px;
	}
	.s-header {
		background: #111;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 100px;
		img {
			height: 50px;
		}
	}
	.s-separator {
		height: 200px;
		width: 100%;
		position: relative;
		transform: scaleY(-1);
		z-index: -1;
		margin-top: -50px;
		svg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			height: 100%;
			width: 100%;
			&:first-child {
				z-index: 3;
			}
		}
	}

	img {
		max-width: 100%;
	}
	h1 {
		color: #fff;
		font-size: 2.5em;
		font-weight: bold;
	}
	h2 {
		font-size: 2em;
		line-height: 1.1em;
	}
	h3 {
		font-size: 1.5em;
		line-height: 1.1em;
	}
	ul {
		padding-left: 2em;
		list-style-type: circle;
	}
	.s-box {
		@include box();
		margin-bottom: 30px;
		transition: all 0.3s ease;
		&.s-is-disabled:not(:hover) {
			opacity: 0.6;
		}
	}
	.s-button {
		border: none;
		border-radius: 35px;
		box-shadow: none !important;
		cursor: pointer;
		opacity: 1;
		background: #8c33da;
		background: linear-gradient(90deg, #8c33da -30%, #f34957 130%);
		transition: opacity 0.2s ease-in-out;
		box-shadow: none !important;
		color: #fff;
		text-decoration: none;
		padding: 0.75em 1.25em;
		display: block;
		margin: 0 auto;
		max-width: 200px;
		text-align: center;
		&:hover {
			opacity: 0.85;
			box-shadow: none !important;
		}
	}
	.s-body-container {
		display: grid;
		grid-template-columns: 1fr 350px;
		grid-gap: 30px;
		padding-top: 0;
		margin-top: -200px;
		*:first-child {
			margin-top: 0 !important;
		}
		*:last-child {
			margin-bottom: 0 !important;
		}
		p,
		li {
			font-size: calc(13px + 0.2vw); //18px;
			line-height: 1.6em;
		}
		li {
			margin-bottom: 0.6em;
		}
	}
	.s-side {
		h2,
		h3 {
			text-align: center;
		}
	}
	.s-gambit-logo {
		display: inline-block;
		vertical-align: middle;
		padding-top: 10px;
		margin: 0 10px;
	}
	.s-gif {
		display: block;
		max-width: 300px;
		margin: 0 auto;
	}
	.s-plus-button {
		height: 1em;
		vertical-align: baseline;
		width: 1em;
	}
	.s-premium-box {
		> p:last-child {
			text-align: center;
		}
	}
	.stackable_notice_wrapper {
		margin-bottom: 30px;
	}
	.stackable_notice {
		margin-bottom: 35px;
	}
	.s-settings-header {
		text-align: right;
		margin: 0 -0.5em 1em;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		button {
			margin: 0 0.5em;
		}
	}
	.s-settings-grid {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
		.s-box {
			margin: 0;
			padding: $box-hori-padding * 0.8 $box-hori-padding * 0.6;
			text-align: center;
			display: flex;
			flex-direction: column;
			.s-block-icon {
				max-width: 70px;
				margin: 0 auto;
			}
			p {
				font-size: 13px;
			}
			> *:not(:last-child) {
				margin-bottom: 1em;
			}
			> * {
				margin-top: 0 !important;
			}
		}
	}
	.s-tabs {
		padding: 0;
		margin-bottom: 32px;
		display: flex;
		justify-content: center;
		box-shadow: 0 3px rgba(0, 0, 0, 0.1);
		li {
			list-style: none;
			padding: 0.5em 2em;
			margin: 0 !important;
			cursor: pointer;
			&[aria-selected="true"] {
				position: relative;
				color: #f34957;
				&::before {
					content: "";
					position: absolute;
					bottom: -3px;
					left: 0;
					right: 0;
					height: 3px;
					background: linear-gradient(90deg, #8c33da -30%, #f34957 130%);
				}
			}
		}
	}
	.s-tabs-list {
		list-style-type: disc;
		li span {
			font-size: 0.9rem;
			color: #999;
		}
	}
	.s-video-tutorial-wrapper {
		padding-bottom: 58.4%;
		height: 0;
		position: relative;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
	.s-check-list {
		padding-left: 10px;
		li {
			font-size: 0.9rem !important;
			margin-bottom: 3px !important;
			list-style-type: none;
			&::before {
				font-weight: bold;
				font-size: 1rem;
				content: "✓";
				color: #8c33da;
				margin-right: 0.5rem;
			}
		}
	}
	.s-link-pair {
		a {
			margin-right: 2em;
		}
	}
	.s-intro {
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		grid-gap: $box-hori-padding;
		justify-content: center;

		@media screen and (max-width: $break-huge) and (min-width: $break-wide) {
			grid-template-columns: 1fr minmax(250px, 300px);
			> *:first-child {
				grid-column: 1 / 3;
			}
		}
		@media screen and (max-width: $break-wide) {
			grid-template-columns: 1fr;
		}
	}

	// Hide admin notices to not mess up the welcome screen.
	.s-header > *:not(h1):not(img) {
		display: none !important;
	}

	.s-demo-url {
		a {
			opacity: 0.6;
			text-decoration: none;
			&:hover {
				opacity: 1;
				text-decoration: underline;
			}
		}
	}

	.s-toggle-button {
		outline: 0;
		display: block;
		height: 26px;
		position: relative;
		cursor: pointer;
		user-select: none;
		margin: 1.5em auto 1em !important;
		padding: 0 !important;
		border: 0 !important;
		border-radius: 26px;
		transition: all 0.4s ease;
		display: inline-block;
		background: #e4f5e4;

		&::after,
		&::before {
			position: relative;
			display: block;
			content: "";
			width: 26px;
			height: 100%;
		}
		&::after {
			left: calc(100% - 26px);
			background: #3ca540;
			border-radius: 50%;
			transition: all 0.2s ease;
			position: absolute;
			top: 0;
			box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		}
		&::before {
			display: none;
		}

		span {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 2;
			color: rgba(0, 0, 0, 0.4);
			font-size: 11px;
			line-height: 26px;
			padding: 0 35px 0 15px;
			transition: padding 0.2s ease;
			&:nth-child(1) {
				color: #7b7b7b;
				display: none;
			}
			&:nth-child(2) {
				color: #209e25;
			}
			padding: 0 35px 0 15px;
			&:nth-child(1) {
				display: none;
			}
			&:nth-child(2) {
				display: block;
			}
		}
	}
	.s-is-disabled .s-toggle-button {
		background: #f0f0f0;
		&::after {
			left: 0;
			background: #7b7b7b;
		}
		span {
			padding: 0 15px 0 35px;
			&:nth-child(1) {
				display: block;
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}

	// News
	.s-news-box {
		ul {
			padding-left: 0;
		}
		li {
			list-style: none;
			margin-bottom: 1.2em;
			a {
				font-weight: bold;
				text-decoration: none;
				display: block;
				margin-bottom: 0.5em;
				line-height: 1.2em;
			}
		}
		time {
			font-size: 0.7em;
			color: #aaa;
			display: block;
			line-height: 1em;
		}
	}

	// Go premium notice checkbox.
	.s-input-checkbox {
		display: inline-flex;
		align-items: center;
		.components-spinner {
			margin-top: 0;
		}
	}
}

// Collapse to a single column for mobile.
@media screen and (max-width: $break-large) {
	body.toplevel_page_stackable {
		.s-body-container {
			grid-template-columns: 1fr;
		}
	}
}

@import "news";
@import "../components/pro-modal/editor";
