// stylelint-disable selector-id-pattern

/**
 * Freemius Customization styles used by freemius.php
 */

// Hide account fields which are not really used by the user.
#fs_account_details {
	.fs-field-product,
	.fs-field-product_id,
	.fs-field-site_id,
	.fs-field-site_public_key,
	.fs-field-site_secret_key {
		display: none;
	}
}

// Remove the Freemius tabs.
.fs-section .nav-tab-wrapper {
	display: none;
}

.fs-section {
	margin: 0;
	#poststuff {
		padding: 0;
	}
}

@mixin box {
	background-color: #fff;
	border-radius: 0;
	overflow: hidden;
	padding: 60px 35px;
}

/**
 * Affiliation.
 */
#fs_affiliation_content_wrapper {
	margin: 0;
	#poststuff {
		padding: 0;
	}

	.postbox {
		@include box();
		box-shadow: 0 18px 35px -15px rgba(18, 63, 82, 0.25);
		border: 0;
		padding: 35px;
	}
	.button {
		border: none;
		border-radius: 35px;
		box-shadow: none !important;
		cursor: pointer;
		opacity: 1;
		background: #8c33da;
		background: linear-gradient(90deg, #8c33da -30%, #f34957 130%);
		transition: opacity 0.2s ease-in-out;
		box-shadow: none !important;
		color: #fff;
		text-decoration: none;
		padding: 0.75em 1.25em;
		line-height: 1 !important;
		margin: 10px auto 0;
		text-align: center;
		&:hover {
			opacity: 0.85;
			box-shadow: none !important;
		}
		&.button-cancel {
			background: #888;
		}
	}
	ul {
		padding-left: 10px;
		li {
			// font-size: 0.9rem !important;
			margin-bottom: 3px !important;
			list-style-type: none;
			&::before {
				font-weight: bold;
				font-size: 1rem;
				content: "✓";
				color: #8c33da;
				margin-right: 0.5rem;
			}
		}
	}
}

/**
 * Account Page
 */
#fs_account {
	margin: 0;
	#poststuff {
		padding: 0;
	}
	.postbox {
		@include box();
		box-shadow: 0 18px 35px -15px rgba(18, 63, 82, 0.25);
		border: 0;
		padding: 16px;
	}
	// Hide other information like billing and payments.
	// > .has-sidebar > .has-sidebar-content > .postbox ~ * {
	// 	display: none !important;
	// }
}

/**
 * Contact Page
 */
#fs_contact {
	width: 100%;
	max-width: 850px;
	margin: 0 !important;
	padding: 0 !important;
	@include box();
	box-shadow: 0 18px 35px -15px rgba(18, 63, 82, 0.25);
	border: 0;
	padding: 16px;
}

/**
 * Contact and pricing/checkout pages have an SSL banner on the top, add more space.
 */
body.stackable_page_stackable-contact {
	.s-header {
		padding-top: 65px !important;
		padding-bottom: 100px !important;
	}
}
body.stackable_page_stackable-pricing {
	.s-header {
		padding-top: 85px !important;
		padding-bottom: 50px !important;
	}
}

/**
 * The accounts page shows the footer credits and version in the middle of the page.
 */
body.settings_page_stackable-account {
	position: relative;
	height: auto;
}

/**
 * Hide the upgrade button on the accounts page.
 */
// li:has(a[href*="page=stackable-pricing"]),
li:has(a[href="#fs_billing"]) {
	&,
	+ li {
		display: none !important;
	}
}
