/**
* Styles used by the Getting Started section.
*/

@import "getting-started-banner-bg";

.s-getting-started {
	background-color: #fff;
	overflow-x: auto;

	.s-getting-started__centered {
		margin-bottom: 64px !important;
	}

	.title,
	.subtitle {
		text-align: center;
	}

	.title {
		margin: 8px;
		margin-bottom: 24px;
		font-weight: 600;
		font-size: 32px;
		line-height: 1.2;
	}

	.subtitle {
		font-weight: 300;
		margin-bottom: 24px;
	}

	.s-video-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 24px;

		&.s-card-top {
			margin: -20px -20px 20px;
		}

		.s-video {
			aspect-ratio: 16/9;
			min-width: 100%;
		}

		&.s-getting-started-video .s-video {
			width: 700px;
			max-width: 100%;
			min-width: unset;
		}
	}

	.s-button-container {
		display: flex;
		justify-content: center;
		margin-bottom: 56px;
	}

	.s-secondary-button {
		background: var(--stk-welcome-secondary) !important;
		border-radius: 4px;
		font-weight: 600;
		transition: all 0.1s ease-in-out;
		text-decoration: none;
		border: none;
		color: #fff;
		padding: 12px 20px;
		letter-spacing: 1px;
		font-size: 14px;
		cursor: pointer;
		box-sizing: border-box !important;
		display: inline-block;

		&:hover {
			opacity: 0.85;
			box-shadow: none !important;
		}

		&.uppercase {
			text-transform: uppercase;
		}
	}

	.s-getting-started__section {
		max-width: 1200px;
	}

	.s-card-header {
		h2 {
			font-size: 25px;
			font-weight: 500;
			padding-top: 25px;
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: 24px;

			p {
				font-weight: 300;
			}

			a {
				text-transform: uppercase;
				color: #000;
			}
		}
	}

	.s-card-container {
		display: flex;
		justify-content: space-between;
		gap: 40px 32px;
		margin-bottom: 56px;
		flex-wrap: wrap;
		max-width: 1200px;

		&.s-card-general .s-card {
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			transition: 0.3s;
			&:hover {
				box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
			}
		}

		.s-card-link {
			color: #000;
			font-weight: 300;
			cursor: pointer;
			text-decoration: none;
		}

		.s-card {
			padding: 20px;
			border-radius: 5px;
			border: 1px solid #1018280f;
			display: flex;
			flex-direction: column;
			width: calc(30% - 32px);

			.s-card-title {
				margin-bottom: 16px;
			}
			.s-card-subtitle {
				margin-bottom: 0;
			}

			.s-card-title,
			.s-card-subtitle {
				margin-top: 0;
			}

			.s-video-wrapper {
				align-items: center;
			}

			.s-icon-wrapper {
				border: 1px solid #eaecf0;
				border-radius: 8px;
				padding: 10px;
				display: flex;
				align-items: center;
				max-width: fit-content;
				margin-bottom: 20px;
			}

			.s-bottom-icon-wrapper {
				display: flex;
				justify-content: flex-end;
			}

			svg {
				height: 24px;
				width: 24px;
			}

		}
	}

	.s-getting-started__footer-banner {
		position: relative;
		left: 0;
		right: 0;
		margin: auto;
		margin-bottom: 56px;
		background-image: url($--s-banner-bg);
		background-size: cover;
		background-position: center;
		border-radius: 8px;

		.s-banner-wrapper {
			padding: 36px 80px;
			display: flex;
			justify-content: space-between;
			z-index: 1;
			position: relative;

			.s-banner-content {
				max-width: 350px;
				color: #fff;
				font-weight: 300;

				h2 {
					font-size: 32px;
					font-weight: 700;
					color: #fff;
					line-height: 32px;
					margin: 0;
				}
			}

			.s-button-container {
				align-items: flex-end;
				margin-bottom: 0;

			}
		}
	}
}

@media screen and (min-width: 800px) {
	.s-getting-started__centered {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 24px;
	}
}

@media screen and (max-width: 1200px) {
	.s-card-container {
		justify-content: center !important;
	}
	.s-card {
		width: 330px !important;
	}
}
