.ugb-design-layout-selector__layout-items,
.ugb-design-layout-selector__design-items {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 6px;
}

.ugb-design-layout-selector {
	transition: all 0.3s ease-in-out;
	position: relative;
	max-width: 750px;
	margin: auto !important;
	&.is-busy {
		filter: blur(3px);
	}
}

.ugb-design-layout-selector__close-button {
	width: 100%;
}

.ugb-design-layout-selector__item {
	position: relative;
	display: block;
	break-inside: avoid;
	padding: 0 8px;
	background: transparent;
	border: 0;

	order: 1;
	&.is-premium {
		order: 2;

		.ugb-design-layout-selector__wrapper {
			&::after {
				cursor: default;
			}
		}
	}

	.ugb-design-layout-selector__lock {
		position: absolute;
		right: 8px;
		top: 8px;
		border-radius: 20px;
		padding: 3px;
		background-image: linear-gradient(180deg, #a911b9, #e74673);
		fill: #fff;
		z-index: 1;
		opacity: 1;
		transform: none;
		transition: all 0.15s ease-in;
	}

	.ugb-design-layout-selector__item-premium-button {
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 3;
		color: #fff;
		border: 0;
		text-transform: uppercase;
		display: inline-block;
		height: auto;
		min-height: auto;
		width: auto;
		margin: 0 auto;
		transition: all 0.3s ease-in-out;
		box-shadow: none;
		font-size: 10px;
		letter-spacing: 1px;
		line-height: 1em;
		border-radius: 25px;
		padding: 10px 15px;
		background: linear-gradient(330deg, #b300be, #f00069);
		background-color: #b300be;
		transition-timing-function: cubic-bezier(0.81, 0.37, 0.61, 1);
		transition-duration: 0.2s;
		opacity: 0;
		transform: translateY(-50%) translateX(-50%);
		top: 50%;
		left: 50%;
		&:hover {
			background: linear-gradient(to right, #f00069 0%, #f00069 100%);
			color: #fff;
			transform: translateY(-50%) translateX(-50%) scale(1.02);
		}
	}

	.ugb-design-layout-selector__image {
		transition: all 0.2s ease-in;
		display: block;
		width: 100%;
		min-height: 70px;
		pointer-events: none;
		object-fit: contain;
		pointer-events: none;
	}
}

.ugb-design-layout-selector__wrapper {
	padding: 0;
	cursor: pointer;
	transition: all 0.2s ease-in;
	width: 100%;
	height: max-content;
	display: flex;
	text-align: left;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
	margin-top: 3px; // This is so that the outline would not touch the image.

	> *:not(.ugb-design-layout-selector__image) {
		z-index: 3;
	}
	&::after {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		z-index: 2;
		display: block;
		position: absolute;
		opacity: 0;
		transition: all 0.2s ease-in;
	}

	&:hover {
		&::after {
			opacity: 0.1;
		}
		.ugb-design-layout-selector__lock {
			opacity: 0;
			transform: scale(0.5);
		}
		.ugb-design-layout-selector__item-premium-button {
			opacity: 1;
		}
	}
}

.ugb-design-layout-selector__label {
	display: block;
	width: 100%;
	font-size: 12px !important;
	font-weight: 400 !important;
	margin-bottom: 0;
	color: #000;
	text-align: center;
	margin-top: 6px !important;
}

.ugb-design-layout-selector__spinner {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.ugb-design-layout-selector__layout-item {
	flex-basis: 130px;

}
.ugb-design-layout-selector__design-item {
	flex-basis: 170px;
	.ugb-design-layout-selector__wrapper {
		min-height: 100px;
	}
}

.ugb-design-layout-selector__label {
	display: block;
	text-align: center;
}

.ugb-design-layout-selector__image {
	width: 100%;
}

.ugb-design-layout-selector__design-library {
	margin-top: 24px;
}

.ugb-design-layout-selector__content {
	overflow-y: auto;
	max-height: 450px;
	.components-placeholder__instructions:not(:first-child) {
		margin-top: 26px;
	}
}

.ugb-design-layout-selector__premium {
	position: absolute;
	background: #f34957;
	font-size: 10px;
	color: #fff;
	line-height: 18px;
	padding: 0 6px;
	top: 5px;
	right: 5px;
	border-radius: 2px;
	text-transform: uppercase;
}
