.ugb-design-layout-selector__layout-items,
.ugb-design-layout-selector__design-items {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 12px;
}

.ugb-design-layout-selector {
	transition: all 0.3s ease-in-out;
	position: relative;
	max-width: 750px;
	margin: auto !important;
	&.is-busy {
		filter: blur(3px);
	}
}

.ugb-design-layout-selector__item {
	position: relative;
	display: block;
	break-inside: avoid;
	padding: 8px;

	.overlay {
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			position: absolute;
			display: flex;
			flex-direction: column;
			row-gap: 8px;
			z-index: 1;
		}

		.components-button {
			padding: 4px;
			padding-left: 16px;
			padding-right: 16px;
			text-transform: uppercase;
			border-radius: 16px;
			color: #e74673;
			background-color: #fff;
		}

		img {
			display: block;
			width: 100%;
			min-height: 50px;
			background: #f1f1f1;
			pointer-events: none;

		}
	}
}

.ugb-design-layout-selector__label {
	display: block;
	width: 100%;
	font-size: 12px !important;
	font-weight: 400 !important;
	margin-bottom: 8px;
	color: #000;
	text-align: center;
	margin-top: 8px !important;
}
.is-premium {
	.ugb-design-layout-selector__wrapper {
		cursor: default;
	}
}

.ugb-design-layout-selector__wrapper {
	padding: 0;
	cursor: pointer;
	transition: all 0.2s ease-in;
	width: 100%;
	height: max-content;
	display: block !important;
	text-align: left;
	position: relative;
	border-radius: 16px;
	overflow: hidden;

	&:hover {
		transform: scale(1.01);

		.is-premium-img {
			cursor: default !important;
			filter: brightness(0.7);
		}
	}

	.overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	svg {
		position: absolute;
		right: 16px;
		top: 16px;
		border-radius: 20px;
		padding: 3px;
		background-image: linear-gradient(180deg, #a911b9, #e74673);
		fill: #fff;
		z-index: 1;
	}
}

.ugb-design-layout-selector__spinner {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.ugb-design-layout-selector__layout-item {
	flex-basis: 20%;

}
.ugb-design-layout-selector__design-item {
	flex-basis: 33%;
	.ugb-design-layout-selector__wrapper {
		height: 80% !important;
	}
}

.ugb-design-layout-selector__label {
	display: block;
	text-align: center;
	font-size: 12px;
}

.ugb-design-layout-selector__image {
	width: 100%;
}

.ugb-design-layout-selector__design-library {
	margin-top: 24px;
}

.ugb-design-layout-selector__open-design-library {
	margin-top: 24px;
}

.ugb-design-layout-selector__design-container {
	overflow-y: scroll;
	max-height: 290px;
}

.ugb-design-layout-selector__premium {
	position: absolute;
	background: #f34957;
	font-size: 10px;
	color: #fff;
	line-height: 18px;
	padding: 0 6px;
	top: 5px;
	right: 5px;
	border-radius: 2px;
	text-transform: uppercase;
}
