.ugb-design-layout-selector__layout-items {
	transition: all 0.3s ease-in-out;
	display: flex;
	flex-wrap: inherit;
	justify-content: flex-start;
	column-gap: 16px;
	width: 100%;
}

.ugb-design-layout-selector {
	transition: all 0.3s ease-in-out;
	position: relative;
	max-width: 750px;
	margin: auto !important;
	&.is-busy {
		filter: blur(3px);
	}
}

.ugb-design-layout-selector__spinner {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.ugb-design-layout-selector__design-items {
	column-count: auto;
	column-width: 150px;
	column-gap: 16px;
	display: block;
	width: 100%;
}

.ugb-design-layout-selector__item {
	position: relative;
}
.ugb-design-layout-selector__layout-item {
	width: 70px;
	img {
		height: 70px;
		object-fit: contain;
	}
}
.ugb-design-layout-selector__design-item {
	margin-bottom: 16px;
	img {
		height: 110px;
		object-fit: contain;
		width: 100%;
		display: block;
	}
}

.ugb-design-layout-selector__label {
	display: block;
	text-align: center;
	font-size: 12px;
}

.ugb-design-layout-selector__image {
	transition: all 0.3s ease-in-out;
	width: 100%;
	border: 1px solid;
	border-color: #888;
	cursor: pointer;
	&:hover {
		&.is-premium {
			opacity: 0.4;
			filter: blur(3px);
			cursor: default !important;
		}
	}

	&.active {
		border-color: #000;
	}

}

.ugb-design-layout-selector__design-library {
	margin-top: 24px;
}

.ugb-design-layout-selector__open-design-library {
	margin-top: 24px;
}

.ugb-design-layout-selector__design-container {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 290px;
}

.ugb-design-layout-selector__premium {
	position: absolute;
	background: #f34957;
	font-size: 10px;
	color: #fff;
	line-height: 18px;
	padding: 0 6px;
	top: 5px;
	right: 5px;
	border-radius: 2px;
	text-transform: uppercase;
}

.ugb-design-layout-selector__filter-button {
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: var(--wp-admin-theme-color) !important;
		color: #fff !important;
	}
}

.ugb-design-layout-selector__filter-title {
	font-size: 13px;
	font-weight: 500;
}

.ugb-design-layout-selector__filter-content {
	display: inline-flex;
	justify-content: space-evenly;
	> p {
		width: 80%;
		color: #888;
	}
}

.ugb-design-layout-selector__filter-button-group {
	justify-content: center;
	display: inline-flex;
	width: 100%;
}
