input.ugb-admin-text-setting {
	padding: 0.5em 1em;
	box-shadow: 0 5px 30px -10px rgba(18, 63, 82, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
}
input.ugb-admin-text-setting[type="text"] {
	width: calc(100% - 300px);
}
