.stackable-components-toolbar {
	border-right: none !important;
	.components-icon-button {
		justify-content: center;
		svg {
			margin: 0 !important;
		}

		.dashicon {
			margin: auto;
		}
	}
}
.components-stackable-highlight__popover .components-popover__content {
	overflow: hidden;
	padding: 16px;
	width: 280px;
}
.ugb-component-inline-color-popover {
	padding: 16px;
}
.ugb-highlight-format__color-picker {
	margin-bottom: 16px;
}
.components-stackable-highlight-color__indicator {
	position: absolute;
	background: #000;
	height: 3px;
	width: 20px;
	left: auto;
	right: auto;
	top: 50%;
	margin: 9px 0 0;
}
.ugb-advanced-toolbar-control .components-base-control__field {
	margin-bottom: 24px;
}
