.stackable-components-toolbar {
	border-right: none !important;
	.components-icon-button {
		justify-content: center;
		svg {
			margin: 0;
		}
	}
}
.components-stackable-highlight__popover .components-popover__content {
	overflow: hidden;
	padding: 16px;
}
.ugb-component-inline-color-popover {
	padding: 16px;
}
.ugb-highlight-format__color-picker {
	margin-bottom: 16px;
}
.components-stackable-highlight-color__indicator {
	position: absolute;
	background: #000;
	height: 3px;
	width: 20px;
	bottom: 7px;
	left: auto;
	right: auto;
	margin: 0;
}
