.components-stackable-highlight-color__indicator {
	position: absolute;
	background: #000;
	height: 3px;
	width: 20px;
	left: 50%;
	right: auto;
	top: 50%;
	margin: 9px 0 0;
	transform: translateX(-50%);
}
.stk-components-toolbar__highlight > .dashicon {
	margin: 0 !important;
	flex: 1 !important;
}
