/**
 * Editor styles for the Feature Grid Block.
 *
 * Enqueued in the editor only.
 */

.ugb-feature-grid .ugb-image-upload-placeholder.ugb-image-upload-has-placeholder {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border-radius: 100%;
}
