/**
 * Frontend styles for the Feature Grid Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.ugb-feature-grid.ugb-feature-grid--v2 {
	.ugb-block-content {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		grid-gap: $box-hori-padding;
		text-align: center;
		> *:last-child {
			margin-bottom: 0;
		}
	}
	.ugb-feature-grid__content {
		z-index: 2;
	}
	.ugb-feature-grid__item {
		display: flex;
		flex-direction: column;
		background-size: cover;
		background-position: center;
	}
	.ugb-feature-grid__image {
		margin-left: auto;
		margin-right: auto;
		img {
			margin: 0 auto;
			height: auto;
			max-width: 100%;
			position: relative;
		}
	}
	.ugb-feature-grid__image,
	.ugb-feature-grid__title,
	.ugb-feature-grid__description {
		margin: 0 0 $text-margin-bottom 0;
	}

	&:not(.ugb-feature-grid--design-plain) {
		.ugb-feature-grid__item {
			@include box();
		}
	}
}

.ugb-feature-grid.ugb-feature-grid--v2 {
	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		&.ugb-feature-grid--columns-4 {
			.ugb-block-content {
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
				grid-auto-flow: row;
			}
		}
	}
}
.ugb-feature-grid.ugb-feature-grid--v2 {
	@media screen and (max-width: $break-small) {
		.ugb-block-content {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-flow: row;
		}
	}
}
